references/DataCustomerContact30.xml

<!--  Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419.  -->
<!--  Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419.  -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://API.Integration/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://API.Integration/" name="DataCustomerContact30Service">
<types>
<xsd:schema>
<xsd:import namespace="http://API.Integration/" schemaLocation="https://8144.plunet.com/DataCustomerContact30?xsd=1"/>
</xsd:schema>
</types>
<message name="update">
<part name="UUID" type="xsd:string"/>
<part name="CustomerContactIN" type="tns:CustomerContactIN"/>
<part name="enableNullOrEmptyValues" type="xsd:boolean"/>
</message>
<message name="updateResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="insert">
<part name="UUID" type="xsd:string"/>
<part name="partnerID" type="xsd:int"/>
</message>
<message name="insertResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="getCostCenter">
<part name="UUID" type="xsd:string"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="getCostCenterResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="setCostCenter">
<part name="UUID" type="xsd:string"/>
<part name="CostCenter" type="xsd:string"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="setCostCenterResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getFax">
<part name="UUID" type="xsd:string"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="getFaxResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="setFax">
<part name="UUID" type="xsd:string"/>
<part name="Fax" type="xsd:string"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="setFaxResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="setName2">
<part name="UUID" type="xsd:string"/>
<part name="Name" type="xsd:string"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="setName2Response">
<part name="Result" type="tns:Result"/>
</message>
<message name="setName1">
<part name="UUID" type="xsd:string"/>
<part name="Name" type="xsd:string"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="setName1Response">
<part name="Result" type="tns:Result"/>
</message>
<message name="setEmail">
<part name="UUID" type="xsd:string"/>
<part name="EMail" type="xsd:string"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="setEmailResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="setPhone">
<part name="UUID" type="xsd:string"/>
<part name="PhoneNumber" type="xsd:string"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="setPhoneResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getPhone">
<part name="UUID" type="xsd:string"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="getPhoneResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getEmail">
<part name="UUID" type="xsd:string"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="getEmailResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getName1">
<part name="UUID" type="xsd:string"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="getName1Response">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getName2">
<part name="UUID" type="xsd:string"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="getName2Response">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getUserId">
<part name="UUID" type="xsd:string"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="getUserIdResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="setAddressID">
<part name="UUID" type="xsd:string"/>
<part name="AddressID" type="xsd:int"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="setAddressIDResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getAddressID">
<part name="UUID" type="xsd:string"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="getAddressIDResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="getContactObject">
<part name="UUID" type="xsd:string"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="getContactObjectResponse">
<part name="CustomerContactResult" type="tns:CustomerContactResult"/>
</message>
<message name="getAllContacts">
<part name="UUID" type="xsd:string"/>
<part name="CustomerID" type="xsd:int"/>
</message>
<message name="getAllContactsResponse">
<part name="IntegerArrayResult" type="tns:IntegerArrayResult"/>
</message>
<message name="setSupervisor1">
<part name="UUID" type="xsd:string"/>
<part name="LoginName" type="xsd:string"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="setSupervisor1Response">
<part name="Result" type="tns:Result"/>
</message>
<message name="getSupervisor1">
<part name="UUID" type="xsd:string"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="getSupervisor1Response">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="setSupervisor2">
<part name="UUID" type="xsd:string"/>
<part name="LoginName" type="xsd:string"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="setSupervisor2Response">
<part name="Result" type="tns:Result"/>
</message>
<message name="getSupervisor2">
<part name="UUID" type="xsd:string"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="getSupervisor2Response">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="setCustomerID">
<part name="UUID" type="xsd:string"/>
<part name="CustomerID" type="xsd:int"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="setCustomerIDResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getExternalID">
<part name="UUID" type="xsd:string"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="getExternalIDResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="insert2">
<part name="UUID" type="xsd:string"/>
<part name="CustomerContactIN" type="tns:CustomerContactIN"/>
</message>
<message name="insert2Response">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="setMobilePhone">
<part name="UUID" type="xsd:string"/>
<part name="PhoneNumber" type="xsd:string"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="setMobilePhoneResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="setExternalID">
<part name="UUID" type="xsd:string"/>
<part name="ExternalID" type="xsd:string"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="setExternalIDResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getMobilePhone">
<part name="UUID" type="xsd:string"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="getMobilePhoneResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="seekByExternalID">
<part name="UUID" type="xsd:string"/>
<part name="ExternalID" type="xsd:string"/>
</message>
<message name="seekByExternalIDResponse">
<part name="IntegerArrayResult" type="tns:IntegerArrayResult"/>
</message>
<message name="getAllContactObjects">
<part name="UUID" type="xsd:string"/>
<part name="CustomerID" type="xsd:int"/>
</message>
<message name="getAllContactObjectsResponse">
<part name="CustomerContactListResult" type="tns:CustomerContactListResult"/>
</message>
<message name="getCustomerID">
<part name="UUID" type="xsd:string"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="getCustomerIDResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="setStatus">
<part name="UUID" type="xsd:string"/>
<part name="Status" type="xsd:int"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="setStatusResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getStatus">
<part name="UUID" type="xsd:string"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="getStatusResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<portType name="DataCustomerContact30">
<operation name="update" parameterOrder="UUID CustomerContactIN enableNullOrEmptyValues">
<input wsam:Action="http://API.Integration/DataCustomerContact30/updateRequest" message="tns:update"/>
<output wsam:Action="http://API.Integration/DataCustomerContact30/updateResponse" message="tns:updateResponse"/>
</operation>
<operation name="insert" parameterOrder="UUID partnerID">
<input wsam:Action="http://API.Integration/DataCustomerContact30/insertRequest" message="tns:insert"/>
<output wsam:Action="http://API.Integration/DataCustomerContact30/insertResponse" message="tns:insertResponse"/>
</operation>
<operation name="getCostCenter" parameterOrder="UUID ContactID">
<input wsam:Action="http://API.Integration/DataCustomerContact30/getCostCenterRequest" message="tns:getCostCenter"/>
<output wsam:Action="http://API.Integration/DataCustomerContact30/getCostCenterResponse" message="tns:getCostCenterResponse"/>
</operation>
<operation name="setCostCenter" parameterOrder="UUID CostCenter ContactID">
<input wsam:Action="http://API.Integration/DataCustomerContact30/setCostCenterRequest" message="tns:setCostCenter"/>
<output wsam:Action="http://API.Integration/DataCustomerContact30/setCostCenterResponse" message="tns:setCostCenterResponse"/>
</operation>
<operation name="getFax" parameterOrder="UUID ContactID">
<input wsam:Action="http://API.Integration/DataCustomerContact30/getFaxRequest" message="tns:getFax"/>
<output wsam:Action="http://API.Integration/DataCustomerContact30/getFaxResponse" message="tns:getFaxResponse"/>
</operation>
<operation name="setFax" parameterOrder="UUID Fax ContactID">
<input wsam:Action="http://API.Integration/DataCustomerContact30/setFaxRequest" message="tns:setFax"/>
<output wsam:Action="http://API.Integration/DataCustomerContact30/setFaxResponse" message="tns:setFaxResponse"/>
</operation>
<operation name="setName2" parameterOrder="UUID Name ContactID">
<input wsam:Action="http://API.Integration/DataCustomerContact30/setName2Request" message="tns:setName2"/>
<output wsam:Action="http://API.Integration/DataCustomerContact30/setName2Response" message="tns:setName2Response"/>
</operation>
<operation name="setName1" parameterOrder="UUID Name ContactID">
<input wsam:Action="http://API.Integration/DataCustomerContact30/setName1Request" message="tns:setName1"/>
<output wsam:Action="http://API.Integration/DataCustomerContact30/setName1Response" message="tns:setName1Response"/>
</operation>
<operation name="setEmail" parameterOrder="UUID EMail ContactID">
<input wsam:Action="http://API.Integration/DataCustomerContact30/setEmailRequest" message="tns:setEmail"/>
<output wsam:Action="http://API.Integration/DataCustomerContact30/setEmailResponse" message="tns:setEmailResponse"/>
</operation>
<operation name="setPhone" parameterOrder="UUID PhoneNumber ContactID">
<input wsam:Action="http://API.Integration/DataCustomerContact30/setPhoneRequest" message="tns:setPhone"/>
<output wsam:Action="http://API.Integration/DataCustomerContact30/setPhoneResponse" message="tns:setPhoneResponse"/>
</operation>
<operation name="getPhone" parameterOrder="UUID ContactID">
<input wsam:Action="http://API.Integration/DataCustomerContact30/getPhoneRequest" message="tns:getPhone"/>
<output wsam:Action="http://API.Integration/DataCustomerContact30/getPhoneResponse" message="tns:getPhoneResponse"/>
</operation>
<operation name="getEmail" parameterOrder="UUID ContactID">
<input wsam:Action="http://API.Integration/DataCustomerContact30/getEmailRequest" message="tns:getEmail"/>
<output wsam:Action="http://API.Integration/DataCustomerContact30/getEmailResponse" message="tns:getEmailResponse"/>
</operation>
<operation name="getName1" parameterOrder="UUID ContactID">
<input wsam:Action="http://API.Integration/DataCustomerContact30/getName1Request" message="tns:getName1"/>
<output wsam:Action="http://API.Integration/DataCustomerContact30/getName1Response" message="tns:getName1Response"/>
</operation>
<operation name="getName2" parameterOrder="UUID ContactID">
<input wsam:Action="http://API.Integration/DataCustomerContact30/getName2Request" message="tns:getName2"/>
<output wsam:Action="http://API.Integration/DataCustomerContact30/getName2Response" message="tns:getName2Response"/>
</operation>
<operation name="getUserId" parameterOrder="UUID ContactID">
<input wsam:Action="http://API.Integration/DataCustomerContact30/getUserIdRequest" message="tns:getUserId"/>
<output wsam:Action="http://API.Integration/DataCustomerContact30/getUserIdResponse" message="tns:getUserIdResponse"/>
</operation>
<operation name="setAddressID" parameterOrder="UUID AddressID ContactID">
<input wsam:Action="http://API.Integration/DataCustomerContact30/setAddressIDRequest" message="tns:setAddressID"/>
<output wsam:Action="http://API.Integration/DataCustomerContact30/setAddressIDResponse" message="tns:setAddressIDResponse"/>
</operation>
<operation name="getAddressID" parameterOrder="UUID ContactID">
<input wsam:Action="http://API.Integration/DataCustomerContact30/getAddressIDRequest" message="tns:getAddressID"/>
<output wsam:Action="http://API.Integration/DataCustomerContact30/getAddressIDResponse" message="tns:getAddressIDResponse"/>
</operation>
<operation name="getContactObject" parameterOrder="UUID ContactID">
<input wsam:Action="http://API.Integration/DataCustomerContact30/getContactObjectRequest" message="tns:getContactObject"/>
<output wsam:Action="http://API.Integration/DataCustomerContact30/getContactObjectResponse" message="tns:getContactObjectResponse"/>
</operation>
<operation name="getAllContacts" parameterOrder="UUID CustomerID">
<input wsam:Action="http://API.Integration/DataCustomerContact30/getAllContactsRequest" message="tns:getAllContacts"/>
<output wsam:Action="http://API.Integration/DataCustomerContact30/getAllContactsResponse" message="tns:getAllContactsResponse"/>
</operation>
<operation name="setSupervisor1" parameterOrder="UUID LoginName ContactID">
<input wsam:Action="http://API.Integration/DataCustomerContact30/setSupervisor1Request" message="tns:setSupervisor1"/>
<output wsam:Action="http://API.Integration/DataCustomerContact30/setSupervisor1Response" message="tns:setSupervisor1Response"/>
</operation>
<operation name="getSupervisor1" parameterOrder="UUID ContactID">
<input wsam:Action="http://API.Integration/DataCustomerContact30/getSupervisor1Request" message="tns:getSupervisor1"/>
<output wsam:Action="http://API.Integration/DataCustomerContact30/getSupervisor1Response" message="tns:getSupervisor1Response"/>
</operation>
<operation name="setSupervisor2" parameterOrder="UUID LoginName ContactID">
<input wsam:Action="http://API.Integration/DataCustomerContact30/setSupervisor2Request" message="tns:setSupervisor2"/>
<output wsam:Action="http://API.Integration/DataCustomerContact30/setSupervisor2Response" message="tns:setSupervisor2Response"/>
</operation>
<operation name="getSupervisor2" parameterOrder="UUID ContactID">
<input wsam:Action="http://API.Integration/DataCustomerContact30/getSupervisor2Request" message="tns:getSupervisor2"/>
<output wsam:Action="http://API.Integration/DataCustomerContact30/getSupervisor2Response" message="tns:getSupervisor2Response"/>
</operation>
<operation name="setCustomerID" parameterOrder="UUID CustomerID ContactID">
<input wsam:Action="http://API.Integration/DataCustomerContact30/setCustomerIDRequest" message="tns:setCustomerID"/>
<output wsam:Action="http://API.Integration/DataCustomerContact30/setCustomerIDResponse" message="tns:setCustomerIDResponse"/>
</operation>
<operation name="getExternalID" parameterOrder="UUID ContactID">
<input wsam:Action="http://API.Integration/DataCustomerContact30/getExternalIDRequest" message="tns:getExternalID"/>
<output wsam:Action="http://API.Integration/DataCustomerContact30/getExternalIDResponse" message="tns:getExternalIDResponse"/>
</operation>
<operation name="insert2" parameterOrder="UUID CustomerContactIN">
<input wsam:Action="http://API.Integration/DataCustomerContact30/insert2Request" message="tns:insert2"/>
<output wsam:Action="http://API.Integration/DataCustomerContact30/insert2Response" message="tns:insert2Response"/>
</operation>
<operation name="setMobilePhone" parameterOrder="UUID PhoneNumber ContactID">
<input wsam:Action="http://API.Integration/DataCustomerContact30/setMobilePhoneRequest" message="tns:setMobilePhone"/>
<output wsam:Action="http://API.Integration/DataCustomerContact30/setMobilePhoneResponse" message="tns:setMobilePhoneResponse"/>
</operation>
<operation name="setExternalID" parameterOrder="UUID ExternalID ContactID">
<input wsam:Action="http://API.Integration/DataCustomerContact30/setExternalIDRequest" message="tns:setExternalID"/>
<output wsam:Action="http://API.Integration/DataCustomerContact30/setExternalIDResponse" message="tns:setExternalIDResponse"/>
</operation>
<operation name="getMobilePhone" parameterOrder="UUID ContactID">
<input wsam:Action="http://API.Integration/DataCustomerContact30/getMobilePhoneRequest" message="tns:getMobilePhone"/>
<output wsam:Action="http://API.Integration/DataCustomerContact30/getMobilePhoneResponse" message="tns:getMobilePhoneResponse"/>
</operation>
<operation name="seekByExternalID" parameterOrder="UUID ExternalID">
<input wsam:Action="http://API.Integration/DataCustomerContact30/seekByExternalIDRequest" message="tns:seekByExternalID"/>
<output wsam:Action="http://API.Integration/DataCustomerContact30/seekByExternalIDResponse" message="tns:seekByExternalIDResponse"/>
</operation>
<operation name="getAllContactObjects" parameterOrder="UUID CustomerID">
<input wsam:Action="http://API.Integration/DataCustomerContact30/getAllContactObjectsRequest" message="tns:getAllContactObjects"/>
<output wsam:Action="http://API.Integration/DataCustomerContact30/getAllContactObjectsResponse" message="tns:getAllContactObjectsResponse"/>
</operation>
<operation name="getCustomerID" parameterOrder="UUID ContactID">
<input wsam:Action="http://API.Integration/DataCustomerContact30/getCustomerIDRequest" message="tns:getCustomerID"/>
<output wsam:Action="http://API.Integration/DataCustomerContact30/getCustomerIDResponse" message="tns:getCustomerIDResponse"/>
</operation>
<operation name="setStatus" parameterOrder="UUID Status ContactID">
<input wsam:Action="http://API.Integration/DataCustomerContact30/setStatusRequest" message="tns:setStatus"/>
<output wsam:Action="http://API.Integration/DataCustomerContact30/setStatusResponse" message="tns:setStatusResponse"/>
</operation>
<operation name="getStatus" parameterOrder="UUID ContactID">
<input wsam:Action="http://API.Integration/DataCustomerContact30/getStatusRequest" message="tns:getStatus"/>
<output wsam:Action="http://API.Integration/DataCustomerContact30/getStatusResponse" message="tns:getStatusResponse"/>
</operation>
</portType>
<binding name="DataCustomerContact30PortBinding" type="tns:DataCustomerContact30">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="update">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="insert">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getCostCenter">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setCostCenter">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getFax">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setFax">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setName2">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setName1">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setEmail">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setPhone">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getPhone">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getEmail">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getName1">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getName2">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getUserId">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setAddressID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getAddressID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getContactObject">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getAllContacts">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setSupervisor1">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getSupervisor1">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setSupervisor2">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getSupervisor2">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setCustomerID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getExternalID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="insert2">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setMobilePhone">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setExternalID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getMobilePhone">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="seekByExternalID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getAllContactObjects">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getCustomerID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setStatus">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getStatus">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
</binding>
<service name="DataCustomerContact30Service">
<port name="DataCustomerContact30Port" binding="tns:DataCustomerContact30PortBinding">
<soap12:address location="https://8144.plunet.com/DataCustomerContact30"/>
</port>
</service>
</definitions>