references/DataPayable30.xml

<!--  Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419.  -->
<!--  Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419.  -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://API.Integration/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://API.Integration/" name="DataPayable30Service">
<types>
<xsd:schema>
<xsd:import namespace="http://API.Integration/" schemaLocation="https://8144.plunet.com/DataPayable30?xsd=1"/>
</xsd:schema>
</types>
<message name="search">
<part name="UUID" type="xsd:string"/>
<part name="SearchFilter" type="tns:SearchFilter_Payable"/>
</message>
<message name="searchResponse">
<part name="IntegerArrayResult" type="tns:IntegerArrayResult"/>
</message>
<message name="getCurrency">
<part name="UUID" type="xsd:string"/>
<part name="payablesID" type="xsd:int"/>
</message>
<message name="getCurrencyResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="setPaidDate">
<part name="UUID" type="xsd:string"/>
<part name="payablesID" type="xsd:int"/>
<part name="paidDate" type="xsd:dateTime"/>
</message>
<message name="setPaidDateResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="setInvoiceDate">
<part name="UUID" type="xsd:string"/>
<part name="invoiceDate" type="xsd:dateTime"/>
<part name="payablesID" type="xsd:int"/>
</message>
<message name="setInvoiceDateResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getPaidDate">
<part name="UUID" type="xsd:string"/>
<part name="payablesID" type="xsd:int"/>
</message>
<message name="getPaidDateResponse">
<part name="Result" type="tns:DateResult"/>
</message>
<message name="setValueDate">
<part name="UUID" type="xsd:string"/>
<part name="valueDate" type="xsd:dateTime"/>
<part name="payablesID" type="xsd:int"/>
</message>
<message name="setValueDateResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getValueDate">
<part name="UUID" type="xsd:string"/>
<part name="payablesID" type="xsd:int"/>
</message>
<message name="getValueDateResponse">
<part name="DateResult" type="tns:DateResult"/>
</message>
<message name="getInvoiceDate">
<part name="UUID" type="xsd:string"/>
<part name="payablesID" type="xsd:int"/>
</message>
<message name="getInvoiceDateResponse">
<part name="DateResult" type="tns:DateResult"/>
</message>
<message name="setMemo">
<part name="UUID" type="xsd:string"/>
<part name="payablesID" type="xsd:int"/>
<part name="memo" type="xsd:string"/>
</message>
<message name="setMemoResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getMemo">
<part name="UUID" type="xsd:string"/>
<part name="payablesID" type="xsd:int"/>
</message>
<message name="getMemoResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getPaymentMethod">
<part name="UUID" type="xsd:string"/>
<part name="payablesID" type="xsd:int"/>
</message>
<message name="getPaymentMethodResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="getCompanyCode">
<part name="UUID" type="xsd:string"/>
<part name="payablesID" type="xsd:int"/>
</message>
<message name="getCompanyCodeResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="getPayableID">
<part name="UUID" type="xsd:string"/>
<part name="itemID" type="xsd:int"/>
</message>
<message name="getPayableIDResponse">
<part name="Result" type="tns:IntegerResult"/>
</message>
<message name="deletePriceLine">
<part name="UUID" type="xsd:string"/>
<part name="payablesItemID" type="xsd:int"/>
<part name="priceLineID" type="xsd:int"/>
</message>
<message name="deletePriceLineResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="updatePriceLine">
<part name="UUID" type="xsd:string"/>
<part name="payablesItemID" type="xsd:int"/>
<part name="priceLineIN" type="tns:PriceLineIN"/>
</message>
<message name="updatePriceLineResponse">
<part name="PriceLineResult" type="tns:PriceLineResult"/>
</message>
<message name="getPriceUnit_List">
<part name="UUID" type="xsd:string"/>
<part name="languageCode" type="xsd:string"/>
<part name="service" type="xsd:string"/>
</message>
<message name="getPriceUnit_ListResponse">
<part name="PriceUnitListResult" type="tns:PriceUnitListResult"/>
</message>
<message name="getPriceUnit">
<part name="UUID" type="xsd:string"/>
<part name="PriceUnitID" type="xsd:int"/>
<part name="languageCode" type="xsd:string"/>
</message>
<message name="getPriceUnitResponse">
<part name="PriceUnitResult" type="tns:PriceUnitResult"/>
</message>
<message name="getServices_List">
<part name="UUID" type="xsd:string"/>
<part name="languageCode" type="xsd:string"/>
</message>
<message name="getServices_ListResponse">
<part name="StringArrayResult" type="tns:StringArrayResult"/>
</message>
<message name="getPriceLine_List">
<part name="UUID" type="xsd:string"/>
<part name="payablesItemID" type="xsd:int"/>
</message>
<message name="getPriceLine_ListResponse">
<part name="PriceLineListResult" type="tns:PriceLineListResult"/>
</message>
<message name="insertPriceLine">
<part name="UUID" type="xsd:string"/>
<part name="payablesItemID" type="xsd:int"/>
<part name="priceLineIN" type="tns:PriceLineIN"/>
<part name="createAsFirstItem" type="xsd:boolean"/>
</message>
<message name="insertPriceLineResponse">
<part name="PriceLineResult" type="tns:PriceLineResult"/>
</message>
<message name="updatePaymentItem">
<part name="UUID" type="xsd:string"/>
<part name="PaymentItemIN" type="tns:PayableItemIN"/>
<part name="PaymentItemID" type="xsd:int"/>
<part name="enableNullOrEmptyValues" type="xsd:boolean"/>
</message>
<message name="updatePaymentItemResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="deletePaymentItem">
<part name="UUID" type="xsd:string"/>
<part name="PaymentItemID" type="xsd:int"/>
</message>
<message name="deletePaymentItemResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getPaymentItemList">
<part name="UUID" type="xsd:string"/>
<part name="payablesID" type="xsd:int"/>
</message>
<message name="getPaymentItemListResponse">
<part name="PaymentItemResultList" type="tns:PayableItemResultList"/>
</message>
<message name="getIsExported">
<part name="UUID" type="xsd:string"/>
<part name="payablesID" type="xsd:int"/>
</message>
<message name="getIsExportedResponse">
<part name="Result" type="tns:BooleanResult"/>
</message>
<message name="setIsExported">
<part name="UUID" type="xsd:string"/>
<part name="payablesID" type="xsd:int"/>
<part name="isExported" type="xsd:boolean"/>
</message>
<message name="setIsExportedResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getInvoiceTaxTypes">
<part name="UUID" type="xsd:string"/>
<part name="payablesID" type="xsd:int"/>
</message>
<message name="getInvoiceTaxTypesResponse">
<part name="TaxListResult" type="tns:TaxListResult"/>
</message>
<message name="getPaymentDueDate">
<part name="UUID" type="xsd:string"/>
<part name="payablesID" type="xsd:int"/>
</message>
<message name="getPaymentDueDateResponse">
<part name="Result" type="tns:DateResult"/>
</message>
<message name="setPaymentDueDate">
<part name="UUID" type="xsd:string"/>
<part name="payablesID" type="xsd:int"/>
<part name="dueDate" type="xsd:dateTime"/>
</message>
<message name="setPaymentDueDateResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getExpenseAccount">
<part name="UUID" type="xsd:string"/>
<part name="payablesID" type="xsd:int"/>
</message>
<message name="getExpenseAccountResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="insertPaymentItem">
<part name="UUID" type="xsd:string"/>
<part name="PaymentItemIN" type="tns:PayableItemIN"/>
</message>
<message name="insertPaymentItemResponse">
<part name="Result" type="tns:IntegerResult"/>
</message>
<message name="setCreditorAccount">
<part name="UUID" type="xsd:string"/>
<part name="accountID" type="xsd:string"/>
<part name="payablesID" type="xsd:int"/>
</message>
<message name="setCreditorAccountResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getTotalNetAmount">
<part name="UUID" type="xsd:string"/>
<part name="payablesID" type="xsd:int"/>
<part name="currencyTpe" type="xsd:int"/>
</message>
<message name="getTotalNetAmountResponse">
<part name="DoubleResult" type="tns:DoubleResult"/>
</message>
<message name="getCreditorAccount">
<part name="UUID" type="xsd:string"/>
<part name="payablesID" type="xsd:int"/>
</message>
<message name="getCreditorAccountResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getTotalTaxAmount">
<part name="UUID" type="xsd:string"/>
<part name="payablesID" type="xsd:int"/>
<part name="currencyTpe" type="xsd:int"/>
<part name="taxType" type="xsd:int"/>
</message>
<message name="getTotalTaxAmountResponse">
<part name="DoubleResult" type="tns:DoubleResult"/>
</message>
<message name="getResourceID">
<part name="UUID" type="xsd:string"/>
<part name="payablesID" type="xsd:int"/>
</message>
<message name="getResourceIDResponse">
<part name="Result" type="tns:IntegerResult"/>
</message>
<message name="setStatus">
<part name="UUID" type="xsd:string"/>
<part name="Status" type="xsd:int"/>
<part name="payablesID" type="xsd:int"/>
</message>
<message name="setStatusResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getStatus">
<part name="UUID" type="xsd:string"/>
<part name="payablesID" type="xsd:int"/>
</message>
<message name="getStatusResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="getExternalInvoiceNumber">
<part name="UUID" type="xsd:string"/>
<part name="payablesID" type="xsd:int"/>
</message>
<message name="getExternalInvoiceNumberResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="setAccountStatement">
<part name="UUID" type="xsd:string"/>
<part name="payablesID" type="xsd:int"/>
<part name="accountstatement" type="xsd:string"/>
</message>
<message name="setAccountStatementResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="setExternalInvoiceNumber">
<part name="UUID" type="xsd:string"/>
<part name="payablesID" type="xsd:int"/>
<part name="externalNumber" type="xsd:string"/>
</message>
<message name="setExternalInvoiceNumberResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getAccountStatement">
<part name="UUID" type="xsd:string"/>
<part name="payablesID" type="xsd:int"/>
</message>
<message name="getAccountStatementResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getPaymentCreatorResourceID">
<part name="UUID" type="xsd:string"/>
<part name="payablesID" type="xsd:int"/>
</message>
<message name="getPaymentCreatorResourceIDResponse">
<part name="Result" type="tns:IntegerResult"/>
</message>
<message name="getRate">
<part name="UUID" type="xsd:string"/>
<part name="payablesID" type="xsd:int"/>
</message>
<message name="getRateResponse">
<part name="DoubleResult" type="tns:DoubleResult"/>
</message>
<portType name="DataPayable30">
<operation name="search" parameterOrder="UUID SearchFilter">
<input wsam:Action="http://API.Integration/DataPayable30/searchRequest" message="tns:search"/>
<output wsam:Action="http://API.Integration/DataPayable30/searchResponse" message="tns:searchResponse"/>
</operation>
<operation name="getCurrency" parameterOrder="UUID payablesID">
<input wsam:Action="http://API.Integration/DataPayable30/getCurrencyRequest" message="tns:getCurrency"/>
<output wsam:Action="http://API.Integration/DataPayable30/getCurrencyResponse" message="tns:getCurrencyResponse"/>
</operation>
<operation name="setPaidDate" parameterOrder="UUID payablesID paidDate">
<input wsam:Action="http://API.Integration/DataPayable30/setPaidDateRequest" message="tns:setPaidDate"/>
<output wsam:Action="http://API.Integration/DataPayable30/setPaidDateResponse" message="tns:setPaidDateResponse"/>
</operation>
<operation name="setInvoiceDate" parameterOrder="UUID invoiceDate payablesID">
<input wsam:Action="http://API.Integration/DataPayable30/setInvoiceDateRequest" message="tns:setInvoiceDate"/>
<output wsam:Action="http://API.Integration/DataPayable30/setInvoiceDateResponse" message="tns:setInvoiceDateResponse"/>
</operation>
<operation name="getPaidDate" parameterOrder="UUID payablesID">
<input wsam:Action="http://API.Integration/DataPayable30/getPaidDateRequest" message="tns:getPaidDate"/>
<output wsam:Action="http://API.Integration/DataPayable30/getPaidDateResponse" message="tns:getPaidDateResponse"/>
</operation>
<operation name="setValueDate" parameterOrder="UUID valueDate payablesID">
<input wsam:Action="http://API.Integration/DataPayable30/setValueDateRequest" message="tns:setValueDate"/>
<output wsam:Action="http://API.Integration/DataPayable30/setValueDateResponse" message="tns:setValueDateResponse"/>
</operation>
<operation name="getValueDate" parameterOrder="UUID payablesID">
<input wsam:Action="http://API.Integration/DataPayable30/getValueDateRequest" message="tns:getValueDate"/>
<output wsam:Action="http://API.Integration/DataPayable30/getValueDateResponse" message="tns:getValueDateResponse"/>
</operation>
<operation name="getInvoiceDate" parameterOrder="UUID payablesID">
<input wsam:Action="http://API.Integration/DataPayable30/getInvoiceDateRequest" message="tns:getInvoiceDate"/>
<output wsam:Action="http://API.Integration/DataPayable30/getInvoiceDateResponse" message="tns:getInvoiceDateResponse"/>
</operation>
<operation name="setMemo" parameterOrder="UUID payablesID memo">
<input wsam:Action="http://API.Integration/DataPayable30/setMemoRequest" message="tns:setMemo"/>
<output wsam:Action="http://API.Integration/DataPayable30/setMemoResponse" message="tns:setMemoResponse"/>
</operation>
<operation name="getMemo" parameterOrder="UUID payablesID">
<input wsam:Action="http://API.Integration/DataPayable30/getMemoRequest" message="tns:getMemo"/>
<output wsam:Action="http://API.Integration/DataPayable30/getMemoResponse" message="tns:getMemoResponse"/>
</operation>
<operation name="getPaymentMethod" parameterOrder="UUID payablesID">
<input wsam:Action="http://API.Integration/DataPayable30/getPaymentMethodRequest" message="tns:getPaymentMethod"/>
<output wsam:Action="http://API.Integration/DataPayable30/getPaymentMethodResponse" message="tns:getPaymentMethodResponse"/>
</operation>
<operation name="getCompanyCode" parameterOrder="UUID payablesID">
<input wsam:Action="http://API.Integration/DataPayable30/getCompanyCodeRequest" message="tns:getCompanyCode"/>
<output wsam:Action="http://API.Integration/DataPayable30/getCompanyCodeResponse" message="tns:getCompanyCodeResponse"/>
</operation>
<operation name="getPayableID" parameterOrder="UUID itemID">
<input wsam:Action="http://API.Integration/DataPayable30/getPayableIDRequest" message="tns:getPayableID"/>
<output wsam:Action="http://API.Integration/DataPayable30/getPayableIDResponse" message="tns:getPayableIDResponse"/>
</operation>
<operation name="deletePriceLine" parameterOrder="UUID payablesItemID priceLineID">
<input wsam:Action="http://API.Integration/DataPayable30/deletePriceLineRequest" message="tns:deletePriceLine"/>
<output wsam:Action="http://API.Integration/DataPayable30/deletePriceLineResponse" message="tns:deletePriceLineResponse"/>
</operation>
<operation name="updatePriceLine" parameterOrder="UUID payablesItemID priceLineIN">
<input wsam:Action="http://API.Integration/DataPayable30/updatePriceLineRequest" message="tns:updatePriceLine"/>
<output wsam:Action="http://API.Integration/DataPayable30/updatePriceLineResponse" message="tns:updatePriceLineResponse"/>
</operation>
<operation name="getPriceUnit_List" parameterOrder="UUID languageCode service">
<input wsam:Action="http://API.Integration/DataPayable30/getPriceUnit_ListRequest" message="tns:getPriceUnit_List"/>
<output wsam:Action="http://API.Integration/DataPayable30/getPriceUnit_ListResponse" message="tns:getPriceUnit_ListResponse"/>
</operation>
<operation name="getPriceUnit" parameterOrder="UUID PriceUnitID languageCode">
<input wsam:Action="http://API.Integration/DataPayable30/getPriceUnitRequest" message="tns:getPriceUnit"/>
<output wsam:Action="http://API.Integration/DataPayable30/getPriceUnitResponse" message="tns:getPriceUnitResponse"/>
</operation>
<operation name="getServices_List" parameterOrder="UUID languageCode">
<input wsam:Action="http://API.Integration/DataPayable30/getServices_ListRequest" message="tns:getServices_List"/>
<output wsam:Action="http://API.Integration/DataPayable30/getServices_ListResponse" message="tns:getServices_ListResponse"/>
</operation>
<operation name="getPriceLine_List" parameterOrder="UUID payablesItemID">
<input wsam:Action="http://API.Integration/DataPayable30/getPriceLine_ListRequest" message="tns:getPriceLine_List"/>
<output wsam:Action="http://API.Integration/DataPayable30/getPriceLine_ListResponse" message="tns:getPriceLine_ListResponse"/>
</operation>
<operation name="insertPriceLine" parameterOrder="UUID payablesItemID priceLineIN createAsFirstItem">
<input wsam:Action="http://API.Integration/DataPayable30/insertPriceLineRequest" message="tns:insertPriceLine"/>
<output wsam:Action="http://API.Integration/DataPayable30/insertPriceLineResponse" message="tns:insertPriceLineResponse"/>
</operation>
<operation name="updatePaymentItem" parameterOrder="UUID PaymentItemIN PaymentItemID enableNullOrEmptyValues">
<input wsam:Action="http://API.Integration/DataPayable30/updatePaymentItemRequest" message="tns:updatePaymentItem"/>
<output wsam:Action="http://API.Integration/DataPayable30/updatePaymentItemResponse" message="tns:updatePaymentItemResponse"/>
</operation>
<operation name="deletePaymentItem" parameterOrder="UUID PaymentItemID">
<input wsam:Action="http://API.Integration/DataPayable30/deletePaymentItemRequest" message="tns:deletePaymentItem"/>
<output wsam:Action="http://API.Integration/DataPayable30/deletePaymentItemResponse" message="tns:deletePaymentItemResponse"/>
</operation>
<operation name="getPaymentItemList" parameterOrder="UUID payablesID">
<input wsam:Action="http://API.Integration/DataPayable30/getPaymentItemListRequest" message="tns:getPaymentItemList"/>
<output wsam:Action="http://API.Integration/DataPayable30/getPaymentItemListResponse" message="tns:getPaymentItemListResponse"/>
</operation>
<operation name="getIsExported" parameterOrder="UUID payablesID">
<input wsam:Action="http://API.Integration/DataPayable30/getIsExportedRequest" message="tns:getIsExported"/>
<output wsam:Action="http://API.Integration/DataPayable30/getIsExportedResponse" message="tns:getIsExportedResponse"/>
</operation>
<operation name="setIsExported" parameterOrder="UUID payablesID isExported">
<input wsam:Action="http://API.Integration/DataPayable30/setIsExportedRequest" message="tns:setIsExported"/>
<output wsam:Action="http://API.Integration/DataPayable30/setIsExportedResponse" message="tns:setIsExportedResponse"/>
</operation>
<operation name="getInvoiceTaxTypes" parameterOrder="UUID payablesID">
<input wsam:Action="http://API.Integration/DataPayable30/getInvoiceTaxTypesRequest" message="tns:getInvoiceTaxTypes"/>
<output wsam:Action="http://API.Integration/DataPayable30/getInvoiceTaxTypesResponse" message="tns:getInvoiceTaxTypesResponse"/>
</operation>
<operation name="getPaymentDueDate" parameterOrder="UUID payablesID">
<input wsam:Action="http://API.Integration/DataPayable30/getPaymentDueDateRequest" message="tns:getPaymentDueDate"/>
<output wsam:Action="http://API.Integration/DataPayable30/getPaymentDueDateResponse" message="tns:getPaymentDueDateResponse"/>
</operation>
<operation name="setPaymentDueDate" parameterOrder="UUID payablesID dueDate">
<input wsam:Action="http://API.Integration/DataPayable30/setPaymentDueDateRequest" message="tns:setPaymentDueDate"/>
<output wsam:Action="http://API.Integration/DataPayable30/setPaymentDueDateResponse" message="tns:setPaymentDueDateResponse"/>
</operation>
<operation name="getExpenseAccount" parameterOrder="UUID payablesID">
<input wsam:Action="http://API.Integration/DataPayable30/getExpenseAccountRequest" message="tns:getExpenseAccount"/>
<output wsam:Action="http://API.Integration/DataPayable30/getExpenseAccountResponse" message="tns:getExpenseAccountResponse"/>
</operation>
<operation name="insertPaymentItem" parameterOrder="UUID PaymentItemIN">
<input wsam:Action="http://API.Integration/DataPayable30/insertPaymentItemRequest" message="tns:insertPaymentItem"/>
<output wsam:Action="http://API.Integration/DataPayable30/insertPaymentItemResponse" message="tns:insertPaymentItemResponse"/>
</operation>
<operation name="setCreditorAccount" parameterOrder="UUID accountID payablesID">
<input wsam:Action="http://API.Integration/DataPayable30/setCreditorAccountRequest" message="tns:setCreditorAccount"/>
<output wsam:Action="http://API.Integration/DataPayable30/setCreditorAccountResponse" message="tns:setCreditorAccountResponse"/>
</operation>
<operation name="getTotalNetAmount" parameterOrder="UUID payablesID currencyTpe">
<input wsam:Action="http://API.Integration/DataPayable30/getTotalNetAmountRequest" message="tns:getTotalNetAmount"/>
<output wsam:Action="http://API.Integration/DataPayable30/getTotalNetAmountResponse" message="tns:getTotalNetAmountResponse"/>
</operation>
<operation name="getCreditorAccount" parameterOrder="UUID payablesID">
<input wsam:Action="http://API.Integration/DataPayable30/getCreditorAccountRequest" message="tns:getCreditorAccount"/>
<output wsam:Action="http://API.Integration/DataPayable30/getCreditorAccountResponse" message="tns:getCreditorAccountResponse"/>
</operation>
<operation name="getTotalTaxAmount" parameterOrder="UUID payablesID currencyTpe taxType">
<input wsam:Action="http://API.Integration/DataPayable30/getTotalTaxAmountRequest" message="tns:getTotalTaxAmount"/>
<output wsam:Action="http://API.Integration/DataPayable30/getTotalTaxAmountResponse" message="tns:getTotalTaxAmountResponse"/>
</operation>
<operation name="getResourceID" parameterOrder="UUID payablesID">
<input wsam:Action="http://API.Integration/DataPayable30/getResourceIDRequest" message="tns:getResourceID"/>
<output wsam:Action="http://API.Integration/DataPayable30/getResourceIDResponse" message="tns:getResourceIDResponse"/>
</operation>
<operation name="setStatus" parameterOrder="UUID Status payablesID">
<input wsam:Action="http://API.Integration/DataPayable30/setStatusRequest" message="tns:setStatus"/>
<output wsam:Action="http://API.Integration/DataPayable30/setStatusResponse" message="tns:setStatusResponse"/>
</operation>
<operation name="getStatus" parameterOrder="UUID payablesID">
<input wsam:Action="http://API.Integration/DataPayable30/getStatusRequest" message="tns:getStatus"/>
<output wsam:Action="http://API.Integration/DataPayable30/getStatusResponse" message="tns:getStatusResponse"/>
</operation>
<operation name="getExternalInvoiceNumber" parameterOrder="UUID payablesID">
<input wsam:Action="http://API.Integration/DataPayable30/getExternalInvoiceNumberRequest" message="tns:getExternalInvoiceNumber"/>
<output wsam:Action="http://API.Integration/DataPayable30/getExternalInvoiceNumberResponse" message="tns:getExternalInvoiceNumberResponse"/>
</operation>
<operation name="setAccountStatement" parameterOrder="UUID payablesID accountstatement">
<input wsam:Action="http://API.Integration/DataPayable30/setAccountStatementRequest" message="tns:setAccountStatement"/>
<output wsam:Action="http://API.Integration/DataPayable30/setAccountStatementResponse" message="tns:setAccountStatementResponse"/>
</operation>
<operation name="setExternalInvoiceNumber" parameterOrder="UUID payablesID externalNumber">
<input wsam:Action="http://API.Integration/DataPayable30/setExternalInvoiceNumberRequest" message="tns:setExternalInvoiceNumber"/>
<output wsam:Action="http://API.Integration/DataPayable30/setExternalInvoiceNumberResponse" message="tns:setExternalInvoiceNumberResponse"/>
</operation>
<operation name="getAccountStatement" parameterOrder="UUID payablesID">
<input wsam:Action="http://API.Integration/DataPayable30/getAccountStatementRequest" message="tns:getAccountStatement"/>
<output wsam:Action="http://API.Integration/DataPayable30/getAccountStatementResponse" message="tns:getAccountStatementResponse"/>
</operation>
<operation name="getPaymentCreatorResourceID" parameterOrder="UUID payablesID">
<input wsam:Action="http://API.Integration/DataPayable30/getPaymentCreatorResourceIDRequest" message="tns:getPaymentCreatorResourceID"/>
<output wsam:Action="http://API.Integration/DataPayable30/getPaymentCreatorResourceIDResponse" message="tns:getPaymentCreatorResourceIDResponse"/>
</operation>
<operation name="getRate" parameterOrder="UUID payablesID">
<input wsam:Action="http://API.Integration/DataPayable30/getRateRequest" message="tns:getRate"/>
<output wsam:Action="http://API.Integration/DataPayable30/getRateResponse" message="tns:getRateResponse"/>
</operation>
</portType>
<binding name="DataPayable30PortBinding" type="tns:DataPayable30">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="search">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getCurrency">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setPaidDate">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setInvoiceDate">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getPaidDate">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setValueDate">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getValueDate">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getInvoiceDate">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setMemo">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getMemo">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getPaymentMethod">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getCompanyCode">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getPayableID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="deletePriceLine">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="updatePriceLine">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getPriceUnit_List">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getPriceUnit">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getServices_List">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getPriceLine_List">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="insertPriceLine">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="updatePaymentItem">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="deletePaymentItem">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getPaymentItemList">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getIsExported">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setIsExported">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getInvoiceTaxTypes">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getPaymentDueDate">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setPaymentDueDate">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getExpenseAccount">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="insertPaymentItem">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setCreditorAccount">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getTotalNetAmount">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getCreditorAccount">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getTotalTaxAmount">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getResourceID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setStatus">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getStatus">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getExternalInvoiceNumber">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setAccountStatement">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setExternalInvoiceNumber">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getAccountStatement">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getPaymentCreatorResourceID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getRate">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
</binding>
<service name="DataPayable30Service">
<port name="DataPayable30Port" binding="tns:DataPayable30PortBinding">
<soap12:address location="https://8144.plunet.com/DataPayable30"/>
</port>
</service>
</definitions>