references/DataJobRound30.xml

<!--  Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419.  -->
<!--  Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419.  -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://API.Integration/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://API.Integration/" name="DataJobRound30Service">
<types>
<xsd:schema>
<xsd:import namespace="http://API.Integration/" schemaLocation="https://8144.plunet.com/DataJobRound30?xsd=1"/>
</xsd:schema>
</types>
<message name="delete">
<part name="UUID" type="xsd:string"/>
<part name="roundID" type="xsd:int"/>
</message>
<message name="deleteResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getSearchCriteria">
<part name="UUID" type="xsd:string"/>
<part name="roundID" type="xsd:int"/>
</message>
<message name="getSearchCriteriaResponse">
<part name="JobRoundSearchCriteriaResult" type="tns:JobRoundSearchcriteriaResult"/>
</message>
<message name="setSearchCriteria">
<part name="UUID" type="xsd:string"/>
<part name="JobRoundSearchCriteriaIN" type="tns:JobRoundSearchCriteriaIN"/>
<part name="roundID" type="xsd:int"/>
</message>
<message name="setSearchCriteriaResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getRoundObject">
<part name="UUID" type="xsd:string"/>
<part name="roundID" type="xsd:int"/>
</message>
<message name="getRoundObjectResponse">
<part name="JobRoundResult" type="tns:JobRoundResult"/>
</message>
<message name="updateRound">
<part name="UUID" type="xsd:string"/>
<part name="roundIN" type="tns:JobRoundIN"/>
</message>
<message name="updateRoundResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="setRankingMethods">
<part name="UUID" type="xsd:string"/>
<part name="JobRoundRankingMethodList" type="tns:JobRoundRankingMethodList"/>
<part name="roundID" type="xsd:int"/>
</message>
<message name="setRankingMethodsResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getAssignedRoundID">
<part name="UUID" type="xsd:string"/>
<part name="jobID" type="xsd:int"/>
<part name="projectType" type="xsd:int"/>
</message>
<message name="getAssignedRoundIDResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="addRound">
<part name="UUID" type="xsd:string"/>
<part name="jobID" type="xsd:int"/>
<part name="projectType" type="xsd:int"/>
<part name="jobRoundIN" type="tns:JobRoundIN"/>
</message>
<message name="addRoundResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="getRankingMethods">
<part name="UUID" type="xsd:string"/>
<part name="roundID" type="xsd:int"/>
</message>
<message name="getRankingMethodsResponse">
<part name="JobRoundRankingMethodListResult" type="tns:JobRoundRankingMethodListResult"/>
</message>
<message name="getAllRoundIDs">
<part name="UUID" type="xsd:string"/>
<part name="jobID" type="xsd:int"/>
<part name="projectType" type="xsd:int"/>
</message>
<message name="getAllRoundIDsResponse">
<part name="IntegerArrayResult" type="tns:IntegerArrayResult"/>
</message>
<message name="assignResource">
<part name="UUID" type="xsd:string"/>
<part name="resourceID" type="xsd:int"/>
<part name="resourceContactID" type="xsd:int"/>
<part name="roundID" type="xsd:int"/>
</message>
<message name="assignResourceResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getResourcesForRound">
<part name="UUID" type="xsd:string"/>
<part name="roundID" type="xsd:int"/>
</message>
<message name="getResourcesForRoundResponse">
<part name="IntegerArrayResult" type="tns:IntegerArrayResult"/>
</message>
<message name="assignResource_InReview">
<part name="UUID" type="xsd:string"/>
<part name="roundID" type="xsd:int"/>
</message>
<message name="assignResource_InReviewResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="setResourceForReview">
<part name="UUID" type="xsd:string"/>
<part name="resourceID" type="xsd:int"/>
<part name="resourceContactID" type="xsd:int"/>
<part name="roundID" type="xsd:int"/>
</message>
<message name="setResourceForReviewResponse">
<part name="Result" type="tns:Result"/>
</message>
<portType name="DataJobRound30">
<operation name="delete" parameterOrder="UUID roundID">
<input wsam:Action="http://API.Integration/DataJobRound30/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://API.Integration/DataJobRound30/deleteResponse" message="tns:deleteResponse"/>
</operation>
<operation name="getSearchCriteria" parameterOrder="UUID roundID">
<input wsam:Action="http://API.Integration/DataJobRound30/getSearchCriteriaRequest" message="tns:getSearchCriteria"/>
<output wsam:Action="http://API.Integration/DataJobRound30/getSearchCriteriaResponse" message="tns:getSearchCriteriaResponse"/>
</operation>
<operation name="setSearchCriteria" parameterOrder="UUID JobRoundSearchCriteriaIN roundID">
<input wsam:Action="http://API.Integration/DataJobRound30/setSearchCriteriaRequest" message="tns:setSearchCriteria"/>
<output wsam:Action="http://API.Integration/DataJobRound30/setSearchCriteriaResponse" message="tns:setSearchCriteriaResponse"/>
</operation>
<operation name="getRoundObject" parameterOrder="UUID roundID">
<input wsam:Action="http://API.Integration/DataJobRound30/getRoundObjectRequest" message="tns:getRoundObject"/>
<output wsam:Action="http://API.Integration/DataJobRound30/getRoundObjectResponse" message="tns:getRoundObjectResponse"/>
</operation>
<operation name="updateRound" parameterOrder="UUID roundIN">
<input wsam:Action="http://API.Integration/DataJobRound30/updateRoundRequest" message="tns:updateRound"/>
<output wsam:Action="http://API.Integration/DataJobRound30/updateRoundResponse" message="tns:updateRoundResponse"/>
</operation>
<operation name="setRankingMethods" parameterOrder="UUID JobRoundRankingMethodList roundID">
<input wsam:Action="http://API.Integration/DataJobRound30/setRankingMethodsRequest" message="tns:setRankingMethods"/>
<output wsam:Action="http://API.Integration/DataJobRound30/setRankingMethodsResponse" message="tns:setRankingMethodsResponse"/>
</operation>
<operation name="getAssignedRoundID" parameterOrder="UUID jobID projectType">
<input wsam:Action="http://API.Integration/DataJobRound30/getAssignedRoundIDRequest" message="tns:getAssignedRoundID"/>
<output wsam:Action="http://API.Integration/DataJobRound30/getAssignedRoundIDResponse" message="tns:getAssignedRoundIDResponse"/>
</operation>
<operation name="addRound" parameterOrder="UUID jobID projectType jobRoundIN">
<input wsam:Action="http://API.Integration/DataJobRound30/addRoundRequest" message="tns:addRound"/>
<output wsam:Action="http://API.Integration/DataJobRound30/addRoundResponse" message="tns:addRoundResponse"/>
</operation>
<operation name="getRankingMethods" parameterOrder="UUID roundID">
<input wsam:Action="http://API.Integration/DataJobRound30/getRankingMethodsRequest" message="tns:getRankingMethods"/>
<output wsam:Action="http://API.Integration/DataJobRound30/getRankingMethodsResponse" message="tns:getRankingMethodsResponse"/>
</operation>
<operation name="getAllRoundIDs" parameterOrder="UUID jobID projectType">
<input wsam:Action="http://API.Integration/DataJobRound30/getAllRoundIDsRequest" message="tns:getAllRoundIDs"/>
<output wsam:Action="http://API.Integration/DataJobRound30/getAllRoundIDsResponse" message="tns:getAllRoundIDsResponse"/>
</operation>
<operation name="assignResource" parameterOrder="UUID resourceID resourceContactID roundID">
<input wsam:Action="http://API.Integration/DataJobRound30/assignResourceRequest" message="tns:assignResource"/>
<output wsam:Action="http://API.Integration/DataJobRound30/assignResourceResponse" message="tns:assignResourceResponse"/>
</operation>
<operation name="getResourcesForRound" parameterOrder="UUID roundID">
<input wsam:Action="http://API.Integration/DataJobRound30/getResourcesForRoundRequest" message="tns:getResourcesForRound"/>
<output wsam:Action="http://API.Integration/DataJobRound30/getResourcesForRoundResponse" message="tns:getResourcesForRoundResponse"/>
</operation>
<operation name="assignResource_InReview" parameterOrder="UUID roundID">
<input wsam:Action="http://API.Integration/DataJobRound30/assignResource_InReviewRequest" message="tns:assignResource_InReview"/>
<output wsam:Action="http://API.Integration/DataJobRound30/assignResource_InReviewResponse" message="tns:assignResource_InReviewResponse"/>
</operation>
<operation name="setResourceForReview" parameterOrder="UUID resourceID resourceContactID roundID">
<input wsam:Action="http://API.Integration/DataJobRound30/setResourceForReviewRequest" message="tns:setResourceForReview"/>
<output wsam:Action="http://API.Integration/DataJobRound30/setResourceForReviewResponse" message="tns:setResourceForReviewResponse"/>
</operation>
</portType>
<binding name="DataJobRound30PortBinding" type="tns:DataJobRound30">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="delete">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getSearchCriteria">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setSearchCriteria">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getRoundObject">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="updateRound">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setRankingMethods">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getAssignedRoundID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="addRound">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getRankingMethods">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getAllRoundIDs">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="assignResource">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getResourcesForRound">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="assignResource_InReview">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setResourceForReview">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
</binding>
<service name="DataJobRound30Service">
<port name="DataJobRound30Port" binding="tns:DataJobRound30PortBinding">
<soap12:address location="https://8144.plunet.com/DataJobRound30"/>
</port>
</service>
</definitions>