references/DataQualityManager30.xml

<!--  Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419.  -->
<!--  Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419.  -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://API.Integration/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://API.Integration/" name="DataQualityManager30Service">
<types>
<xsd:schema>
<xsd:import namespace="http://API.Integration/" schemaLocation="https://8144.plunet.com/DataQualityManager30?xsd=1"/>
</xsd:schema>
</types>
<message name="getJobFeedback">
<part name="UUID" type="xsd:string"/>
<part name="JobID" type="xsd:int"/>
</message>
<message name="getJobFeedbackResponse">
<part name="JobQualityResult" type="tns:JobQualityResult"/>
</message>
<message name="setJobFeedback">
<part name="UUID" type="xsd:string"/>
<part name="JobFeedback" type="tns:jobQualityIN"/>
</message>
<message name="setJobFeedbackResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="sendJobFeedback">
<part name="UUID" type="xsd:string"/>
<part name="JobID" type="xsd:int"/>
</message>
<message name="sendJobFeedbackResponse">
<part name="Result" type="tns:Result"/>
</message>
<portType name="DataQualityManager30">
<operation name="getJobFeedback" parameterOrder="UUID JobID">
<input wsam:Action="http://API.Integration/DataQualityManager30/getJobFeedbackRequest" message="tns:getJobFeedback"/>
<output wsam:Action="http://API.Integration/DataQualityManager30/getJobFeedbackResponse" message="tns:getJobFeedbackResponse"/>
</operation>
<operation name="setJobFeedback" parameterOrder="UUID JobFeedback">
<input wsam:Action="http://API.Integration/DataQualityManager30/setJobFeedbackRequest" message="tns:setJobFeedback"/>
<output wsam:Action="http://API.Integration/DataQualityManager30/setJobFeedbackResponse" message="tns:setJobFeedbackResponse"/>
</operation>
<operation name="sendJobFeedback" parameterOrder="UUID JobID">
<input wsam:Action="http://API.Integration/DataQualityManager30/sendJobFeedbackRequest" message="tns:sendJobFeedback"/>
<output wsam:Action="http://API.Integration/DataQualityManager30/sendJobFeedbackResponse" message="tns:sendJobFeedbackResponse"/>
</operation>
</portType>
<binding name="DataQualityManager30PortBinding" type="tns:DataQualityManager30">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="getJobFeedback">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setJobFeedback">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="sendJobFeedback">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
</binding>
<service name="DataQualityManager30Service">
<port name="DataQualityManager30Port" binding="tns:DataQualityManager30PortBinding">
<soap12:address location="https://8144.plunet.com/DataQualityManager30"/>
</port>
</service>
</definitions>