references/DataCreditNote30.xml

<!--  Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419.  -->
<!--  Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419.  -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://API.Integration/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://API.Integration/" name="DataCreditNote30Service">
<types>
<xsd:schema>
<xsd:import namespace="http://API.Integration/" schemaLocation="https://8144.plunet.com/DataCreditNote30?xsd=1"/>
</xsd:schema>
</types>
<message name="search">
<part name="UUID" type="xsd:string"/>
<part name="SearchFilter" type="tns:SearchFilter_CreditNote"/>
</message>
<message name="searchResponse">
<part name="IntegerArrayResult" type="tns:IntegerArrayResult"/>
</message>
<message name="getCurrencyCode">
<part name="UUID" type="xsd:string"/>
<part name="creditNoteID" type="xsd:int"/>
</message>
<message name="getCurrencyCodeResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getRevenueAccount">
<part name="UUID" type="xsd:string"/>
<part name="creditNoteID" type="xsd:int"/>
</message>
<message name="getRevenueAccountResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="setRevenueAccount">
<part name="UUID" type="xsd:string"/>
<part name="accountID" type="xsd:int"/>
<part name="creditNoteID" type="xsd:int"/>
</message>
<message name="setRevenueAccountResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="setPaidDate">
<part name="UUID" type="xsd:string"/>
<part name="creditNoteID" type="xsd:int"/>
<part name="paidDate" type="xsd:dateTime"/>
</message>
<message name="setPaidDateResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getPaidDate">
<part name="UUID" type="xsd:string"/>
<part name="creditNoteID" type="xsd:int"/>
</message>
<message name="getPaidDateResponse">
<part name="DateResult" type="tns:DateResult"/>
</message>
<message name="getBriefDescription">
<part name="UUID" type="xsd:string"/>
<part name="creditNoteID" type="xsd:int"/>
</message>
<message name="getBriefDescriptionResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="setSubject">
<part name="UUID" type="xsd:string"/>
<part name="subject" type="xsd:string"/>
<part name="creditNoteID" type="xsd:int"/>
</message>
<message name="setSubjectResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getCompanyCode">
<part name="UUID" type="xsd:string"/>
<part name="creditNoteID" type="xsd:int"/>
</message>
<message name="getCompanyCodeResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="setAddressID">
<part name="UUID" type="xsd:string"/>
<part name="creditNoteID" type="xsd:int"/>
<part name="addressID" type="xsd:int"/>
</message>
<message name="setAddressIDResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="setCustomerID">
<part name="UUID" type="xsd:string"/>
<part name="customerID" type="xsd:int"/>
<part name="creditNoteID" type="xsd:int"/>
</message>
<message name="setCustomerIDResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getContactPersonID">
<part name="UUID" type="xsd:string"/>
<part name="creditNoteID" type="xsd:int"/>
</message>
<message name="getContactPersonIDResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="setContactPersonID">
<part name="UUID" type="xsd:string"/>
<part name="creditNoteID" type="xsd:int"/>
<part name="contactPersonID" type="xsd:int"/>
</message>
<message name="setContactPersonIDResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="deletePriceLine">
<part name="UUID" type="xsd:string"/>
<part name="priceLineID" type="xsd:int"/>
</message>
<message name="deletePriceLineResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="updatePriceLine">
<part name="UUID" type="xsd:string"/>
<part name="priceLineIN" type="tns:PriceLineIN"/>
</message>
<message name="updatePriceLineResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="insertPriceLine">
<part name="UUID" type="xsd:string"/>
<part name="creditNoteItemID" type="xsd:int"/>
<part name="priceLineIN" type="tns:PriceLineIN"/>
</message>
<message name="insertPriceLineResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="getNet">
<part name="UUID" type="xsd:string"/>
<part name="creditNoteID" type="xsd:int"/>
</message>
<message name="getNetResponse">
<part name="DoubleResult" type="tns:DoubleResult"/>
</message>
<message name="getGross">
<part name="UUID" type="xsd:string"/>
<part name="creditNoteID" type="xsd:int"/>
</message>
<message name="getGrossResponse">
<part name="DoubleResult" type="tns:DoubleResult"/>
</message>
<message name="getTax">
<part name="UUID" type="xsd:string"/>
<part name="creditNoteID" type="xsd:int"/>
</message>
<message name="getTaxResponse">
<part name="DoubleResult" type="tns:DoubleResult"/>
</message>
<message name="getOutstanding">
<part name="UUID" type="xsd:string"/>
<part name="creditNoteID" type="xsd:int"/>
</message>
<message name="getOutstandingResponse">
<part name="DoubleResult" type="tns:DoubleResult"/>
</message>
<message name="getTaxTypes">
<part name="UUID" type="xsd:string"/>
<part name="creditNoteID" type="xsd:int"/>
</message>
<message name="getTaxTypesResponse">
<part name="TaxListResult" type="tns:TaxListResult"/>
</message>
<message name="setCreditDate">
<part name="UUID" type="xsd:string"/>
<part name="creditDate" type="xsd:dateTime"/>
<part name="creditNoteID" type="xsd:int"/>
</message>
<message name="setCreditDateResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getAdressID">
<part name="UUID" type="xsd:string"/>
<part name="creditNoteID" type="xsd:int"/>
</message>
<message name="getAdressIDResponse">
<part name="StringResult" type="tns:IntegerResult"/>
</message>
<message name="getCreditDate">
<part name="UUID" type="xsd:string"/>
<part name="creditNoteID" type="xsd:int"/>
</message>
<message name="getCreditDateResponse">
<part name="DateResult" type="tns:DateResult"/>
</message>
<message name="getIsExported">
<part name="UUID" type="xsd:string"/>
<part name="creditNoteID" type="xsd:int"/>
</message>
<message name="getIsExportedResponse">
<part name="BooleanResult" type="tns:BooleanResult"/>
</message>
<message name="getPONumber">
<part name="UUID" type="xsd:string"/>
<part name="creditNoteID" type="xsd:int"/>
</message>
<message name="getPONumberResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="setIsExported">
<part name="UUID" type="xsd:string"/>
<part name="creditNoteID" type="xsd:int"/>
<part name="isExported" type="xsd:boolean"/>
</message>
<message name="setIsExportedResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getCreditNoteId">
<part name="UUID" type="xsd:string"/>
<part name="displayName" type="xsd:string"/>
<part name="companyCodeId" type="xsd:int"/>
</message>
<message name="getCreditNoteIdResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="getCreditNoteNr">
<part name="UUID" type="xsd:string"/>
<part name="creditNoteID" type="xsd:int"/>
</message>
<message name="getCreditNoteNrResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getPriceLine">
<part name="UUID" type="xsd:string"/>
<part name="priceLineID" type="xsd:int"/>
</message>
<message name="getPriceLineResponse">
<part name="PriceLineResult" type="tns:PriceLineResult"/>
</message>
<message name="setBriefDescription">
<part name="UUID" type="xsd:string"/>
<part name="description" type="xsd:string"/>
<part name="creditNoteID" type="xsd:int"/>
</message>
<message name="setBriefDescriptionResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="setPONumber">
<part name="UUID" type="xsd:string"/>
<part name="creditNoteID" type="xsd:int"/>
<part name="poNumber" type="xsd:string"/>
</message>
<message name="setPONumberResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getCustomerID">
<part name="UUID" type="xsd:string"/>
<part name="creditNoteID" type="xsd:int"/>
</message>
<message name="getCustomerIDResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="setStatus">
<part name="UUID" type="xsd:string"/>
<part name="Status" type="xsd:int"/>
<part name="creditNoteID" type="xsd:int"/>
</message>
<message name="setStatusResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getStatus">
<part name="UUID" type="xsd:string"/>
<part name="creditNoteID" type="xsd:int"/>
</message>
<message name="getStatusResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="getReceivableAccount">
<part name="UUID" type="xsd:string"/>
<part name="creditNoteID" type="xsd:int"/>
</message>
<message name="getReceivableAccountResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="setReceivableAccount">
<part name="UUID" type="xsd:string"/>
<part name="accountID" type="xsd:int"/>
<part name="creditNoteID" type="xsd:int"/>
</message>
<message name="setReceivableAccountResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getNetByCurrencyType">
<part name="UUID" type="xsd:string"/>
<part name="creditNoteID" type="xsd:int"/>
<part name="currencyType" type="xsd:int"/>
</message>
<message name="getNetByCurrencyTypeResponse">
<part name="DoubleResult" type="tns:DoubleResult"/>
</message>
<message name="getGrossByCurrencyType">
<part name="UUID" type="xsd:string"/>
<part name="creditNoteID" type="xsd:int"/>
<part name="currencyType" type="xsd:int"/>
</message>
<message name="getGrossByCurrencyTypeResponse">
<part name="DoubleResult" type="tns:DoubleResult"/>
</message>
<message name="getOutstandingByCurrencyType">
<part name="UUID" type="xsd:string"/>
<part name="creditNoteID" type="xsd:int"/>
<part name="currencyType" type="xsd:int"/>
</message>
<message name="getOutstandingByCurrencyTypeResponse">
<part name="DoubleResult" type="tns:DoubleResult"/>
</message>
<message name="getTaxByCurrencyType">
<part name="UUID" type="xsd:string"/>
<part name="creditNoteID" type="xsd:int"/>
<part name="currencyType" type="xsd:int"/>
</message>
<message name="getTaxByCurrencyTypeResponse">
<part name="DoubleResult" type="tns:DoubleResult"/>
</message>
<message name="getTaxByTypeAndCurrencyType">
<part name="UUID" type="xsd:string"/>
<part name="creditNoteID" type="xsd:int"/>
<part name="currencyType" type="xsd:int"/>
<part name="taxtypes" type="xsd:int"/>
</message>
<message name="getTaxByTypeAndCurrencyTypeResponse">
<part name="DoubleResult" type="tns:DoubleResult"/>
</message>
<message name="insertCreditNoteItem">
<part name="UUID" type="xsd:string"/>
<part name="CreditNoteItemIN" type="tns:CreditNoteItemIN"/>
</message>
<message name="insertCreditNoteItemResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="updateCreditNoteItem">
<part name="UUID" type="xsd:string"/>
<part name="creditNoteItemID" type="xsd:int"/>
<part name="creditNoteItemIN" type="tns:CreditNoteItemIN"/>
</message>
<message name="updateCreditNoteItemResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="deleteCreditNoteItem">
<part name="UUID" type="xsd:string"/>
<part name="creditNoteItemID" type="xsd:int"/>
</message>
<message name="deleteCreditNoteItemResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getCreditNoteItemList">
<part name="UUID" type="xsd:string"/>
<part name="creditNoteID" type="xsd:int"/>
</message>
<message name="getCreditNoteItemListResponse">
<part name="CreditNoteListResult" type="tns:CreditNoteListResult"/>
</message>
<message name="getSubject">
<part name="UUID" type="xsd:string"/>
<part name="creditNoteID" type="xsd:int"/>
</message>
<message name="getSubjectResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getInvoiceID">
<part name="UUID" type="xsd:string"/>
<part name="creditNoteID" type="xsd:int"/>
</message>
<message name="getInvoiceIDResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="getRate">
<part name="UUID" type="xsd:string"/>
<part name="creditNoteID" type="xsd:int"/>
</message>
<message name="getRateResponse">
<part name="DoubleResult" type="tns:DoubleResult"/>
</message>
<portType name="DataCreditNote30">
<operation name="search" parameterOrder="UUID SearchFilter">
<input wsam:Action="http://API.Integration/DataCreditNote30/searchRequest" message="tns:search"/>
<output wsam:Action="http://API.Integration/DataCreditNote30/searchResponse" message="tns:searchResponse"/>
</operation>
<operation name="getCurrencyCode" parameterOrder="UUID creditNoteID">
<input wsam:Action="http://API.Integration/DataCreditNote30/getCurrencyCodeRequest" message="tns:getCurrencyCode"/>
<output wsam:Action="http://API.Integration/DataCreditNote30/getCurrencyCodeResponse" message="tns:getCurrencyCodeResponse"/>
</operation>
<operation name="getRevenueAccount" parameterOrder="UUID creditNoteID">
<input wsam:Action="http://API.Integration/DataCreditNote30/getRevenueAccountRequest" message="tns:getRevenueAccount"/>
<output wsam:Action="http://API.Integration/DataCreditNote30/getRevenueAccountResponse" message="tns:getRevenueAccountResponse"/>
</operation>
<operation name="setRevenueAccount" parameterOrder="UUID accountID creditNoteID">
<input wsam:Action="http://API.Integration/DataCreditNote30/setRevenueAccountRequest" message="tns:setRevenueAccount"/>
<output wsam:Action="http://API.Integration/DataCreditNote30/setRevenueAccountResponse" message="tns:setRevenueAccountResponse"/>
</operation>
<operation name="setPaidDate" parameterOrder="UUID creditNoteID paidDate">
<input wsam:Action="http://API.Integration/DataCreditNote30/setPaidDateRequest" message="tns:setPaidDate"/>
<output wsam:Action="http://API.Integration/DataCreditNote30/setPaidDateResponse" message="tns:setPaidDateResponse"/>
</operation>
<operation name="getPaidDate" parameterOrder="UUID creditNoteID">
<input wsam:Action="http://API.Integration/DataCreditNote30/getPaidDateRequest" message="tns:getPaidDate"/>
<output wsam:Action="http://API.Integration/DataCreditNote30/getPaidDateResponse" message="tns:getPaidDateResponse"/>
</operation>
<operation name="getBriefDescription" parameterOrder="UUID creditNoteID">
<input wsam:Action="http://API.Integration/DataCreditNote30/getBriefDescriptionRequest" message="tns:getBriefDescription"/>
<output wsam:Action="http://API.Integration/DataCreditNote30/getBriefDescriptionResponse" message="tns:getBriefDescriptionResponse"/>
</operation>
<operation name="setSubject" parameterOrder="UUID subject creditNoteID">
<input wsam:Action="http://API.Integration/DataCreditNote30/setSubjectRequest" message="tns:setSubject"/>
<output wsam:Action="http://API.Integration/DataCreditNote30/setSubjectResponse" message="tns:setSubjectResponse"/>
</operation>
<operation name="getCompanyCode" parameterOrder="UUID creditNoteID">
<input wsam:Action="http://API.Integration/DataCreditNote30/getCompanyCodeRequest" message="tns:getCompanyCode"/>
<output wsam:Action="http://API.Integration/DataCreditNote30/getCompanyCodeResponse" message="tns:getCompanyCodeResponse"/>
</operation>
<operation name="setAddressID" parameterOrder="UUID creditNoteID addressID">
<input wsam:Action="http://API.Integration/DataCreditNote30/setAddressIDRequest" message="tns:setAddressID"/>
<output wsam:Action="http://API.Integration/DataCreditNote30/setAddressIDResponse" message="tns:setAddressIDResponse"/>
</operation>
<operation name="setCustomerID" parameterOrder="UUID customerID creditNoteID">
<input wsam:Action="http://API.Integration/DataCreditNote30/setCustomerIDRequest" message="tns:setCustomerID"/>
<output wsam:Action="http://API.Integration/DataCreditNote30/setCustomerIDResponse" message="tns:setCustomerIDResponse"/>
</operation>
<operation name="getContactPersonID" parameterOrder="UUID creditNoteID">
<input wsam:Action="http://API.Integration/DataCreditNote30/getContactPersonIDRequest" message="tns:getContactPersonID"/>
<output wsam:Action="http://API.Integration/DataCreditNote30/getContactPersonIDResponse" message="tns:getContactPersonIDResponse"/>
</operation>
<operation name="setContactPersonID" parameterOrder="UUID creditNoteID contactPersonID">
<input wsam:Action="http://API.Integration/DataCreditNote30/setContactPersonIDRequest" message="tns:setContactPersonID"/>
<output wsam:Action="http://API.Integration/DataCreditNote30/setContactPersonIDResponse" message="tns:setContactPersonIDResponse"/>
</operation>
<operation name="deletePriceLine" parameterOrder="UUID priceLineID">
<input wsam:Action="http://API.Integration/DataCreditNote30/deletePriceLineRequest" message="tns:deletePriceLine"/>
<output wsam:Action="http://API.Integration/DataCreditNote30/deletePriceLineResponse" message="tns:deletePriceLineResponse"/>
</operation>
<operation name="updatePriceLine" parameterOrder="UUID priceLineIN">
<input wsam:Action="http://API.Integration/DataCreditNote30/updatePriceLineRequest" message="tns:updatePriceLine"/>
<output wsam:Action="http://API.Integration/DataCreditNote30/updatePriceLineResponse" message="tns:updatePriceLineResponse"/>
</operation>
<operation name="insertPriceLine" parameterOrder="UUID creditNoteItemID priceLineIN">
<input wsam:Action="http://API.Integration/DataCreditNote30/insertPriceLineRequest" message="tns:insertPriceLine"/>
<output wsam:Action="http://API.Integration/DataCreditNote30/insertPriceLineResponse" message="tns:insertPriceLineResponse"/>
</operation>
<operation name="getNet" parameterOrder="UUID creditNoteID">
<input wsam:Action="http://API.Integration/DataCreditNote30/getNetRequest" message="tns:getNet"/>
<output wsam:Action="http://API.Integration/DataCreditNote30/getNetResponse" message="tns:getNetResponse"/>
</operation>
<operation name="getGross" parameterOrder="UUID creditNoteID">
<input wsam:Action="http://API.Integration/DataCreditNote30/getGrossRequest" message="tns:getGross"/>
<output wsam:Action="http://API.Integration/DataCreditNote30/getGrossResponse" message="tns:getGrossResponse"/>
</operation>
<operation name="getTax" parameterOrder="UUID creditNoteID">
<input wsam:Action="http://API.Integration/DataCreditNote30/getTaxRequest" message="tns:getTax"/>
<output wsam:Action="http://API.Integration/DataCreditNote30/getTaxResponse" message="tns:getTaxResponse"/>
</operation>
<operation name="getOutstanding" parameterOrder="UUID creditNoteID">
<input wsam:Action="http://API.Integration/DataCreditNote30/getOutstandingRequest" message="tns:getOutstanding"/>
<output wsam:Action="http://API.Integration/DataCreditNote30/getOutstandingResponse" message="tns:getOutstandingResponse"/>
</operation>
<operation name="getTaxTypes" parameterOrder="UUID creditNoteID">
<input wsam:Action="http://API.Integration/DataCreditNote30/getTaxTypesRequest" message="tns:getTaxTypes"/>
<output wsam:Action="http://API.Integration/DataCreditNote30/getTaxTypesResponse" message="tns:getTaxTypesResponse"/>
</operation>
<operation name="setCreditDate" parameterOrder="UUID creditDate creditNoteID">
<input wsam:Action="http://API.Integration/DataCreditNote30/setCreditDateRequest" message="tns:setCreditDate"/>
<output wsam:Action="http://API.Integration/DataCreditNote30/setCreditDateResponse" message="tns:setCreditDateResponse"/>
</operation>
<operation name="getAdressID" parameterOrder="UUID creditNoteID">
<input wsam:Action="http://API.Integration/DataCreditNote30/getAdressIDRequest" message="tns:getAdressID"/>
<output wsam:Action="http://API.Integration/DataCreditNote30/getAdressIDResponse" message="tns:getAdressIDResponse"/>
</operation>
<operation name="getCreditDate" parameterOrder="UUID creditNoteID">
<input wsam:Action="http://API.Integration/DataCreditNote30/getCreditDateRequest" message="tns:getCreditDate"/>
<output wsam:Action="http://API.Integration/DataCreditNote30/getCreditDateResponse" message="tns:getCreditDateResponse"/>
</operation>
<operation name="getIsExported" parameterOrder="UUID creditNoteID">
<input wsam:Action="http://API.Integration/DataCreditNote30/getIsExportedRequest" message="tns:getIsExported"/>
<output wsam:Action="http://API.Integration/DataCreditNote30/getIsExportedResponse" message="tns:getIsExportedResponse"/>
</operation>
<operation name="getPONumber" parameterOrder="UUID creditNoteID">
<input wsam:Action="http://API.Integration/DataCreditNote30/getPONumberRequest" message="tns:getPONumber"/>
<output wsam:Action="http://API.Integration/DataCreditNote30/getPONumberResponse" message="tns:getPONumberResponse"/>
</operation>
<operation name="setIsExported" parameterOrder="UUID creditNoteID isExported">
<input wsam:Action="http://API.Integration/DataCreditNote30/setIsExportedRequest" message="tns:setIsExported"/>
<output wsam:Action="http://API.Integration/DataCreditNote30/setIsExportedResponse" message="tns:setIsExportedResponse"/>
</operation>
<operation name="getCreditNoteId" parameterOrder="UUID displayName companyCodeId">
<input wsam:Action="http://API.Integration/DataCreditNote30/getCreditNoteIdRequest" message="tns:getCreditNoteId"/>
<output wsam:Action="http://API.Integration/DataCreditNote30/getCreditNoteIdResponse" message="tns:getCreditNoteIdResponse"/>
</operation>
<operation name="getCreditNoteNr" parameterOrder="UUID creditNoteID">
<input wsam:Action="http://API.Integration/DataCreditNote30/getCreditNoteNrRequest" message="tns:getCreditNoteNr"/>
<output wsam:Action="http://API.Integration/DataCreditNote30/getCreditNoteNrResponse" message="tns:getCreditNoteNrResponse"/>
</operation>
<operation name="getPriceLine" parameterOrder="UUID priceLineID">
<input wsam:Action="http://API.Integration/DataCreditNote30/getPriceLineRequest" message="tns:getPriceLine"/>
<output wsam:Action="http://API.Integration/DataCreditNote30/getPriceLineResponse" message="tns:getPriceLineResponse"/>
</operation>
<operation name="setBriefDescription" parameterOrder="UUID description creditNoteID">
<input wsam:Action="http://API.Integration/DataCreditNote30/setBriefDescriptionRequest" message="tns:setBriefDescription"/>
<output wsam:Action="http://API.Integration/DataCreditNote30/setBriefDescriptionResponse" message="tns:setBriefDescriptionResponse"/>
</operation>
<operation name="setPONumber" parameterOrder="UUID creditNoteID poNumber">
<input wsam:Action="http://API.Integration/DataCreditNote30/setPONumberRequest" message="tns:setPONumber"/>
<output wsam:Action="http://API.Integration/DataCreditNote30/setPONumberResponse" message="tns:setPONumberResponse"/>
</operation>
<operation name="getCustomerID" parameterOrder="UUID creditNoteID">
<input wsam:Action="http://API.Integration/DataCreditNote30/getCustomerIDRequest" message="tns:getCustomerID"/>
<output wsam:Action="http://API.Integration/DataCreditNote30/getCustomerIDResponse" message="tns:getCustomerIDResponse"/>
</operation>
<operation name="setStatus" parameterOrder="UUID Status creditNoteID">
<input wsam:Action="http://API.Integration/DataCreditNote30/setStatusRequest" message="tns:setStatus"/>
<output wsam:Action="http://API.Integration/DataCreditNote30/setStatusResponse" message="tns:setStatusResponse"/>
</operation>
<operation name="getStatus" parameterOrder="UUID creditNoteID">
<input wsam:Action="http://API.Integration/DataCreditNote30/getStatusRequest" message="tns:getStatus"/>
<output wsam:Action="http://API.Integration/DataCreditNote30/getStatusResponse" message="tns:getStatusResponse"/>
</operation>
<operation name="getReceivableAccount" parameterOrder="UUID creditNoteID">
<input wsam:Action="http://API.Integration/DataCreditNote30/getReceivableAccountRequest" message="tns:getReceivableAccount"/>
<output wsam:Action="http://API.Integration/DataCreditNote30/getReceivableAccountResponse" message="tns:getReceivableAccountResponse"/>
</operation>
<operation name="setReceivableAccount" parameterOrder="UUID accountID creditNoteID">
<input wsam:Action="http://API.Integration/DataCreditNote30/setReceivableAccountRequest" message="tns:setReceivableAccount"/>
<output wsam:Action="http://API.Integration/DataCreditNote30/setReceivableAccountResponse" message="tns:setReceivableAccountResponse"/>
</operation>
<operation name="getNetByCurrencyType" parameterOrder="UUID creditNoteID currencyType">
<input wsam:Action="http://API.Integration/DataCreditNote30/getNetByCurrencyTypeRequest" message="tns:getNetByCurrencyType"/>
<output wsam:Action="http://API.Integration/DataCreditNote30/getNetByCurrencyTypeResponse" message="tns:getNetByCurrencyTypeResponse"/>
</operation>
<operation name="getGrossByCurrencyType" parameterOrder="UUID creditNoteID currencyType">
<input wsam:Action="http://API.Integration/DataCreditNote30/getGrossByCurrencyTypeRequest" message="tns:getGrossByCurrencyType"/>
<output wsam:Action="http://API.Integration/DataCreditNote30/getGrossByCurrencyTypeResponse" message="tns:getGrossByCurrencyTypeResponse"/>
</operation>
<operation name="getOutstandingByCurrencyType" parameterOrder="UUID creditNoteID currencyType">
<input wsam:Action="http://API.Integration/DataCreditNote30/getOutstandingByCurrencyTypeRequest" message="tns:getOutstandingByCurrencyType"/>
<output wsam:Action="http://API.Integration/DataCreditNote30/getOutstandingByCurrencyTypeResponse" message="tns:getOutstandingByCurrencyTypeResponse"/>
</operation>
<operation name="getTaxByCurrencyType" parameterOrder="UUID creditNoteID currencyType">
<input wsam:Action="http://API.Integration/DataCreditNote30/getTaxByCurrencyTypeRequest" message="tns:getTaxByCurrencyType"/>
<output wsam:Action="http://API.Integration/DataCreditNote30/getTaxByCurrencyTypeResponse" message="tns:getTaxByCurrencyTypeResponse"/>
</operation>
<operation name="getTaxByTypeAndCurrencyType" parameterOrder="UUID creditNoteID currencyType taxtypes">
<input wsam:Action="http://API.Integration/DataCreditNote30/getTaxByTypeAndCurrencyTypeRequest" message="tns:getTaxByTypeAndCurrencyType"/>
<output wsam:Action="http://API.Integration/DataCreditNote30/getTaxByTypeAndCurrencyTypeResponse" message="tns:getTaxByTypeAndCurrencyTypeResponse"/>
</operation>
<operation name="insertCreditNoteItem" parameterOrder="UUID CreditNoteItemIN">
<input wsam:Action="http://API.Integration/DataCreditNote30/insertCreditNoteItemRequest" message="tns:insertCreditNoteItem"/>
<output wsam:Action="http://API.Integration/DataCreditNote30/insertCreditNoteItemResponse" message="tns:insertCreditNoteItemResponse"/>
</operation>
<operation name="updateCreditNoteItem" parameterOrder="UUID creditNoteItemID creditNoteItemIN">
<input wsam:Action="http://API.Integration/DataCreditNote30/updateCreditNoteItemRequest" message="tns:updateCreditNoteItem"/>
<output wsam:Action="http://API.Integration/DataCreditNote30/updateCreditNoteItemResponse" message="tns:updateCreditNoteItemResponse"/>
</operation>
<operation name="deleteCreditNoteItem" parameterOrder="UUID creditNoteItemID">
<input wsam:Action="http://API.Integration/DataCreditNote30/deleteCreditNoteItemRequest" message="tns:deleteCreditNoteItem"/>
<output wsam:Action="http://API.Integration/DataCreditNote30/deleteCreditNoteItemResponse" message="tns:deleteCreditNoteItemResponse"/>
</operation>
<operation name="getCreditNoteItemList" parameterOrder="UUID creditNoteID">
<input wsam:Action="http://API.Integration/DataCreditNote30/getCreditNoteItemListRequest" message="tns:getCreditNoteItemList"/>
<output wsam:Action="http://API.Integration/DataCreditNote30/getCreditNoteItemListResponse" message="tns:getCreditNoteItemListResponse"/>
</operation>
<operation name="getSubject" parameterOrder="UUID creditNoteID">
<input wsam:Action="http://API.Integration/DataCreditNote30/getSubjectRequest" message="tns:getSubject"/>
<output wsam:Action="http://API.Integration/DataCreditNote30/getSubjectResponse" message="tns:getSubjectResponse"/>
</operation>
<operation name="getInvoiceID" parameterOrder="UUID creditNoteID">
<input wsam:Action="http://API.Integration/DataCreditNote30/getInvoiceIDRequest" message="tns:getInvoiceID"/>
<output wsam:Action="http://API.Integration/DataCreditNote30/getInvoiceIDResponse" message="tns:getInvoiceIDResponse"/>
</operation>
<operation name="getRate" parameterOrder="UUID creditNoteID">
<input wsam:Action="http://API.Integration/DataCreditNote30/getRateRequest" message="tns:getRate"/>
<output wsam:Action="http://API.Integration/DataCreditNote30/getRateResponse" message="tns:getRateResponse"/>
</operation>
</portType>
<binding name="DataCreditNote30PortBinding" type="tns:DataCreditNote30">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="search">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getCurrencyCode">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getRevenueAccount">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setRevenueAccount">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setPaidDate">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getPaidDate">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getBriefDescription">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setSubject">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getCompanyCode">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setAddressID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setCustomerID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getContactPersonID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setContactPersonID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="deletePriceLine">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="updatePriceLine">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="insertPriceLine">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getNet">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getGross">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getTax">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getOutstanding">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getTaxTypes">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setCreditDate">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getAdressID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getCreditDate">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getIsExported">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getPONumber">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setIsExported">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getCreditNoteId">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getCreditNoteNr">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getPriceLine">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setBriefDescription">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setPONumber">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getCustomerID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setStatus">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getStatus">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getReceivableAccount">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setReceivableAccount">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getNetByCurrencyType">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getGrossByCurrencyType">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getOutstandingByCurrencyType">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getTaxByCurrencyType">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getTaxByTypeAndCurrencyType">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="insertCreditNoteItem">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="updateCreditNoteItem">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="deleteCreditNoteItem">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getCreditNoteItemList">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getSubject">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getInvoiceID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getRate">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
</binding>
<service name="DataCreditNote30Service">
<port name="DataCreditNote30Port" binding="tns:DataCreditNote30PortBinding">
<soap12:address location="https://8144.plunet.com/DataCreditNote30"/>
</port>
</service>
</definitions>