references/DataResource30.xml

<!--  Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419.  -->
<!--  Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419.  -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://API.Integration/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://API.Integration/" name="DataResource30Service">
<types>
<xsd:schema>
<xsd:import namespace="http://API.Integration/" schemaLocation="https://8144.plunet.com/DataResource30?xsd=1"/>
</xsd:schema>
</types>
<message name="update">
<part name="UUID" type="xsd:string"/>
<part name="ResourceIN" type="tns:ResourceIN"/>
<part name="enableNullOrEmptyValues" type="xsd:boolean"/>
</message>
<message name="updateResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="insert">
<part name="UUID" type="xsd:string"/>
<part name="WorkingStatus" type="xsd:int"/>
</message>
<message name="insertResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="delete">
<part name="UUID" type="xsd:string"/>
<part name="resourceID" type="xsd:int"/>
</message>
<message name="deleteResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="search">
<part name="UUID" type="xsd:string"/>
<part name="SearchFilterResource" type="tns:SearchFilter_Resource"/>
</message>
<message name="searchResponse">
<part name="IntegerArrayResult" type="tns:IntegerArrayResult"/>
</message>
<message name="getCurrency">
<part name="UUID" type="xsd:string"/>
<part name="resourceID" type="xsd:int"/>
</message>
<message name="getCurrencyResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="setCurrency">
<part name="UUID" type="xsd:string"/>
<part name="resourceID" type="xsd:int"/>
<part name="currencyIsoCode" type="xsd:string"/>
</message>
<message name="setCurrencyResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getFullName">
<part name="UUID" type="xsd:string"/>
<part name="resourceID" type="xsd:int"/>
</message>
<message name="getFullNameResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getCostCenter">
<part name="UUID" type="xsd:string"/>
<part name="resourceID" type="xsd:int"/>
</message>
<message name="getCostCenterResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="setCostCenter">
<part name="UUID" type="xsd:string"/>
<part name="CostCenter" type="xsd:string"/>
<part name="resourceID" type="xsd:int"/>
</message>
<message name="setCostCenterResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getFax">
<part name="UUID" type="xsd:string"/>
<part name="resourceID" type="xsd:int"/>
</message>
<message name="getFaxResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="setFax">
<part name="UUID" type="xsd:string"/>
<part name="Fax" type="xsd:string"/>
<part name="resourceID" type="xsd:int"/>
</message>
<message name="setFaxResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getWebsite">
<part name="UUID" type="xsd:string"/>
<part name="resourceID" type="xsd:int"/>
</message>
<message name="getWebsiteResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="setWebsite">
<part name="UUID" type="xsd:string"/>
<part name="Website" type="xsd:string"/>
<part name="resourceID" type="xsd:int"/>
</message>
<message name="setWebsiteResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="setFormOfAddress">
<part name="UUID" type="xsd:string"/>
<part name="FormOfAddress" type="xsd:int"/>
<part name="resourceID" type="xsd:int"/>
</message>
<message name="setFormOfAddressResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="setName2">
<part name="UUID" type="xsd:string"/>
<part name="Name" type="xsd:string"/>
<part name="resourceID" type="xsd:int"/>
</message>
<message name="setName2Response">
<part name="Result" type="tns:Result"/>
</message>
<message name="setName1">
<part name="UUID" type="xsd:string"/>
<part name="Name" type="xsd:string"/>
<part name="resourceID" type="xsd:int"/>
</message>
<message name="setName1Response">
<part name="Result" type="tns:Result"/>
</message>
<message name="getFormOfAddress">
<part name="UUID" type="xsd:string"/>
<part name="resourceID" type="xsd:int"/>
</message>
<message name="getFormOfAddressResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="getResourceType">
<part name="UUID" type="xsd:string"/>
<part name="resourceID" type="xsd:int"/>
</message>
<message name="getResourceTypeResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="setEmail">
<part name="UUID" type="xsd:string"/>
<part name="EMail" type="xsd:string"/>
<part name="resourceID" type="xsd:int"/>
</message>
<message name="setEmailResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="setPhone">
<part name="UUID" type="xsd:string"/>
<part name="PhoneNumber" type="xsd:string"/>
<part name="resourceID" type="xsd:int"/>
</message>
<message name="setPhoneResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getPhone">
<part name="UUID" type="xsd:string"/>
<part name="resourceID" type="xsd:int"/>
</message>
<message name="getPhoneResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getEmail">
<part name="UUID" type="xsd:string"/>
<part name="resourceID" type="xsd:int"/>
</message>
<message name="getEmailResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getName1">
<part name="UUID" type="xsd:string"/>
<part name="resourceID" type="xsd:int"/>
</message>
<message name="getName1Response">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getName2">
<part name="UUID" type="xsd:string"/>
<part name="resourceID" type="xsd:int"/>
</message>
<message name="getName2Response">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getUserId">
<part name="UUID" type="xsd:string"/>
<part name="resourceID" type="xsd:int"/>
</message>
<message name="getUserIdResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="getAccount">
<part name="UUID" type="xsd:string"/>
<part name="AccountID" type="xsd:int"/>
</message>
<message name="getAccountResponse">
<part name="AccountInfoResult" type="tns:AccountResult"/>
</message>
<message name="getSamlExternalId">
<part name="UUID" type="xsd:string"/>
<part name="resourceId" type="xsd:int"/>
</message>
<message name="getSamlExternalIdResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="setSamlExternalId">
<part name="UUID" type="xsd:string"/>
<part name="resourceId" type="xsd:int"/>
<part name="samlExternalId" type="xsd:string"/>
</message>
<message name="setSamlExternalIdResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="setSupervisor1">
<part name="UUID" type="xsd:string"/>
<part name="LoginName" type="xsd:string"/>
<part name="resourceID" type="xsd:int"/>
</message>
<message name="setSupervisor1Response">
<part name="Result" type="tns:Result"/>
</message>
<message name="getSupervisor1">
<part name="UUID" type="xsd:string"/>
<part name="resourceID" type="xsd:int"/>
</message>
<message name="getSupervisor1Response">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="setSupervisor2">
<part name="UUID" type="xsd:string"/>
<part name="LoginName" type="xsd:string"/>
<part name="resourceID" type="xsd:int"/>
</message>
<message name="setSupervisor2Response">
<part name="Result" type="tns:Result"/>
</message>
<message name="getSupervisor2">
<part name="UUID" type="xsd:string"/>
<part name="resourceID" type="xsd:int"/>
</message>
<message name="getSupervisor2Response">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getExternalID">
<part name="UUID" type="xsd:string"/>
<part name="resourceID" type="xsd:int"/>
</message>
<message name="getExternalIDResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getSkypeID">
<part name="UUID" type="xsd:string"/>
<part name="resourceID" type="xsd:int"/>
</message>
<message name="getSkypeIDResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="setAcademicTitle">
<part name="UUID" type="xsd:string"/>
<part name="AcademicTitle" type="xsd:string"/>
<part name="resourceID" type="xsd:int"/>
</message>
<message name="setAcademicTitleResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getAcademicTitle">
<part name="UUID" type="xsd:string"/>
<part name="resourceID" type="xsd:int"/>
</message>
<message name="getAcademicTitleResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="setMobilePhone">
<part name="UUID" type="xsd:string"/>
<part name="PhoneNumber" type="xsd:string"/>
<part name="resourceID" type="xsd:int"/>
</message>
<message name="setMobilePhoneResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="setExternalID">
<part name="UUID" type="xsd:string"/>
<part name="ExternalID" type="xsd:string"/>
<part name="resourceID" type="xsd:int"/>
</message>
<message name="setExternalIDResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="setSkypeID">
<part name="UUID" type="xsd:string"/>
<part name="SkypeID" type="xsd:string"/>
<part name="resourceID" type="xsd:int"/>
</message>
<message name="setSkypeIDResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getMobilePhone">
<part name="UUID" type="xsd:string"/>
<part name="resourceID" type="xsd:int"/>
</message>
<message name="getMobilePhoneResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getOpening">
<part name="UUID" type="xsd:string"/>
<part name="resourceID" type="xsd:int"/>
</message>
<message name="getOpeningResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="seekByExternalID">
<part name="UUID" type="xsd:string"/>
<part name="ExternalID" type="xsd:string"/>
</message>
<message name="seekByExternalIDResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="setOpening">
<part name="UUID" type="xsd:string"/>
<part name="Opening" type="xsd:string"/>
<part name="resourceID" type="xsd:int"/>
</message>
<message name="setOpeningResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getAllResourceObjects">
<part name="UUID" type="xsd:string"/>
<part name="WorkingStatus" type="xsd:int"/>
<part name="Status" type="xsd:int"/>
</message>
<message name="getAllResourceObjectsResponse">
<part name="ResourceListResult" type="tns:ResourceListResult"/>
</message>
<message name="getAllResourceObjects2">
<part name="UUID" type="xsd:string"/>
<part name="WorkingStatusList" type="tns:IntegerList"/>
<part name="StatusList" type="tns:IntegerList"/>
</message>
<message name="getAllResourceObjects2Response">
<part name="ResourceListResult" type="tns:ResourceListResult"/>
</message>
<message name="getAvailableAccountIDList">
<part name="UUID" type="xsd:string"/>
</message>
<message name="getAvailableAccountIDListResponse">
<part name="IntegerArrayResult" type="tns:IntegerArrayResult"/>
</message>
<message name="getPaymentMethodDescription">
<part name="UUID" type="xsd:string"/>
<part name="paymentMethodID" type="xsd:int"/>
<part name="systemLanguageCode" type="xsd:string"/>
</message>
<message name="getPaymentMethodDescriptionResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="deregisterCallback_Observer">
<part name="UUID" type="xsd:string"/>
<part name="ResourceID" type="xsd:int"/>
</message>
<message name="deregisterCallback_ObserverResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="deregisterCallback_Notify">
<part name="UUID" type="xsd:string"/>
<part name="EventType" type="xsd:int"/>
</message>
<message name="deregisterCallback_NotifyResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="registerCallback_Observer">
<part name="UUID" type="xsd:string"/>
<part name="ServerAuthenticationString" type="xsd:string"/>
<part name="ServerAddress" type="xsd:string"/>
<part name="ResourceID" type="xsd:int"/>
</message>
<message name="registerCallback_ObserverResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="registerCallback_Notify">
<part name="UUID" type="xsd:string"/>
<part name="ServerAuthenticationString" type="xsd:string"/>
<part name="ServerAddress" type="xsd:string"/>
<part name="EventType" type="xsd:int"/>
</message>
<message name="registerCallback_NotifyResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="setPaymentInformation">
<part name="UUID" type="xsd:string"/>
<part name="resourceID" type="xsd:int"/>
<part name="paymentInfo" type="tns:PaymentInfo"/>
</message>
<message name="setPaymentInformationResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getAvailablePaymentMethodList">
<part name="UUID" type="xsd:string"/>
</message>
<message name="getAvailablePaymentMethodListResponse">
<part name="IntegerArrayResult" type="tns:IntegerArrayResult"/>
</message>
<message name="getPaymentInformation">
<part name="UUID" type="xsd:string"/>
<part name="resourceID" type="xsd:int"/>
</message>
<message name="getPaymentInformationResponse">
<part name="PaymentInfoResult" type="tns:PaymentInfoResult"/>
</message>
<message name="setStatus">
<part name="UUID" type="xsd:string"/>
<part name="Status" type="xsd:int"/>
<part name="resourceID" type="xsd:int"/>
</message>
<message name="setStatusResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getStatus">
<part name="UUID" type="xsd:string"/>
<part name="resourceID" type="xsd:int"/>
</message>
<message name="getStatusResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="getWorkingStatus">
<part name="UUID" type="xsd:string"/>
<part name="resourceID" type="xsd:int"/>
</message>
<message name="getWorkingStatusResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="setWorkingStatus">
<part name="UUID" type="xsd:string"/>
<part name="WorkingStatus" type="xsd:int"/>
<part name="resourceID" type="xsd:int"/>
</message>
<message name="setWorkingStatusResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getPricelists">
<part name="UUID" type="xsd:string"/>
<part name="resourceID" type="xsd:int"/>
</message>
<message name="getPricelistsResponse">
<part name="PricelistListResult" type="tns:PricelistListResult"/>
</message>
<message name="setResourceType">
<part name="UUID" type="xsd:string"/>
<part name="ResourceType" type="xsd:int"/>
<part name="resourceID" type="xsd:int"/>
</message>
<message name="setResourceTypeResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getResourceObject">
<part name="UUID" type="xsd:string"/>
<part name="resourceID" type="xsd:int"/>
</message>
<message name="getResourceObjectResponse">
<part name="ResourceResult" type="tns:ResourceResult"/>
</message>
<message name="getPricelists2">
<part name="UUID" type="xsd:string"/>
<part name="sourcelanguage" type="xsd:string"/>
<part name="targetlanguage" type="xsd:string"/>
<part name="resourceID" type="xsd:int"/>
</message>
<message name="getPricelists2Response">
<part name="PricelistListResult" type="tns:PricelistListResult"/>
</message>
<message name="insertObject">
<part name="UUID" type="xsd:string"/>
<part name="ResourceIN" type="tns:ResourceIN"/>
</message>
<message name="insertObjectResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<portType name="DataResource30">
<operation name="update" parameterOrder="UUID ResourceIN enableNullOrEmptyValues">
<input wsam:Action="http://API.Integration/DataResource30/updateRequest" message="tns:update"/>
<output wsam:Action="http://API.Integration/DataResource30/updateResponse" message="tns:updateResponse"/>
</operation>
<operation name="insert" parameterOrder="UUID WorkingStatus">
<input wsam:Action="http://API.Integration/DataResource30/insertRequest" message="tns:insert"/>
<output wsam:Action="http://API.Integration/DataResource30/insertResponse" message="tns:insertResponse"/>
</operation>
<operation name="delete" parameterOrder="UUID resourceID">
<input wsam:Action="http://API.Integration/DataResource30/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://API.Integration/DataResource30/deleteResponse" message="tns:deleteResponse"/>
</operation>
<operation name="search" parameterOrder="UUID SearchFilterResource">
<input wsam:Action="http://API.Integration/DataResource30/searchRequest" message="tns:search"/>
<output wsam:Action="http://API.Integration/DataResource30/searchResponse" message="tns:searchResponse"/>
</operation>
<operation name="getCurrency" parameterOrder="UUID resourceID">
<input wsam:Action="http://API.Integration/DataResource30/getCurrencyRequest" message="tns:getCurrency"/>
<output wsam:Action="http://API.Integration/DataResource30/getCurrencyResponse" message="tns:getCurrencyResponse"/>
</operation>
<operation name="setCurrency" parameterOrder="UUID resourceID currencyIsoCode">
<input wsam:Action="http://API.Integration/DataResource30/setCurrencyRequest" message="tns:setCurrency"/>
<output wsam:Action="http://API.Integration/DataResource30/setCurrencyResponse" message="tns:setCurrencyResponse"/>
</operation>
<operation name="getFullName" parameterOrder="UUID resourceID">
<input wsam:Action="http://API.Integration/DataResource30/getFullNameRequest" message="tns:getFullName"/>
<output wsam:Action="http://API.Integration/DataResource30/getFullNameResponse" message="tns:getFullNameResponse"/>
</operation>
<operation name="getCostCenter" parameterOrder="UUID resourceID">
<input wsam:Action="http://API.Integration/DataResource30/getCostCenterRequest" message="tns:getCostCenter"/>
<output wsam:Action="http://API.Integration/DataResource30/getCostCenterResponse" message="tns:getCostCenterResponse"/>
</operation>
<operation name="setCostCenter" parameterOrder="UUID CostCenter resourceID">
<input wsam:Action="http://API.Integration/DataResource30/setCostCenterRequest" message="tns:setCostCenter"/>
<output wsam:Action="http://API.Integration/DataResource30/setCostCenterResponse" message="tns:setCostCenterResponse"/>
</operation>
<operation name="getFax" parameterOrder="UUID resourceID">
<input wsam:Action="http://API.Integration/DataResource30/getFaxRequest" message="tns:getFax"/>
<output wsam:Action="http://API.Integration/DataResource30/getFaxResponse" message="tns:getFaxResponse"/>
</operation>
<operation name="setFax" parameterOrder="UUID Fax resourceID">
<input wsam:Action="http://API.Integration/DataResource30/setFaxRequest" message="tns:setFax"/>
<output wsam:Action="http://API.Integration/DataResource30/setFaxResponse" message="tns:setFaxResponse"/>
</operation>
<operation name="getWebsite" parameterOrder="UUID resourceID">
<input wsam:Action="http://API.Integration/DataResource30/getWebsiteRequest" message="tns:getWebsite"/>
<output wsam:Action="http://API.Integration/DataResource30/getWebsiteResponse" message="tns:getWebsiteResponse"/>
</operation>
<operation name="setWebsite" parameterOrder="UUID Website resourceID">
<input wsam:Action="http://API.Integration/DataResource30/setWebsiteRequest" message="tns:setWebsite"/>
<output wsam:Action="http://API.Integration/DataResource30/setWebsiteResponse" message="tns:setWebsiteResponse"/>
</operation>
<operation name="setFormOfAddress" parameterOrder="UUID FormOfAddress resourceID">
<input wsam:Action="http://API.Integration/DataResource30/setFormOfAddressRequest" message="tns:setFormOfAddress"/>
<output wsam:Action="http://API.Integration/DataResource30/setFormOfAddressResponse" message="tns:setFormOfAddressResponse"/>
</operation>
<operation name="setName2" parameterOrder="UUID Name resourceID">
<input wsam:Action="http://API.Integration/DataResource30/setName2Request" message="tns:setName2"/>
<output wsam:Action="http://API.Integration/DataResource30/setName2Response" message="tns:setName2Response"/>
</operation>
<operation name="setName1" parameterOrder="UUID Name resourceID">
<input wsam:Action="http://API.Integration/DataResource30/setName1Request" message="tns:setName1"/>
<output wsam:Action="http://API.Integration/DataResource30/setName1Response" message="tns:setName1Response"/>
</operation>
<operation name="getFormOfAddress" parameterOrder="UUID resourceID">
<input wsam:Action="http://API.Integration/DataResource30/getFormOfAddressRequest" message="tns:getFormOfAddress"/>
<output wsam:Action="http://API.Integration/DataResource30/getFormOfAddressResponse" message="tns:getFormOfAddressResponse"/>
</operation>
<operation name="getResourceType" parameterOrder="UUID resourceID">
<input wsam:Action="http://API.Integration/DataResource30/getResourceTypeRequest" message="tns:getResourceType"/>
<output wsam:Action="http://API.Integration/DataResource30/getResourceTypeResponse" message="tns:getResourceTypeResponse"/>
</operation>
<operation name="setEmail" parameterOrder="UUID EMail resourceID">
<input wsam:Action="http://API.Integration/DataResource30/setEmailRequest" message="tns:setEmail"/>
<output wsam:Action="http://API.Integration/DataResource30/setEmailResponse" message="tns:setEmailResponse"/>
</operation>
<operation name="setPhone" parameterOrder="UUID PhoneNumber resourceID">
<input wsam:Action="http://API.Integration/DataResource30/setPhoneRequest" message="tns:setPhone"/>
<output wsam:Action="http://API.Integration/DataResource30/setPhoneResponse" message="tns:setPhoneResponse"/>
</operation>
<operation name="getPhone" parameterOrder="UUID resourceID">
<input wsam:Action="http://API.Integration/DataResource30/getPhoneRequest" message="tns:getPhone"/>
<output wsam:Action="http://API.Integration/DataResource30/getPhoneResponse" message="tns:getPhoneResponse"/>
</operation>
<operation name="getEmail" parameterOrder="UUID resourceID">
<input wsam:Action="http://API.Integration/DataResource30/getEmailRequest" message="tns:getEmail"/>
<output wsam:Action="http://API.Integration/DataResource30/getEmailResponse" message="tns:getEmailResponse"/>
</operation>
<operation name="getName1" parameterOrder="UUID resourceID">
<input wsam:Action="http://API.Integration/DataResource30/getName1Request" message="tns:getName1"/>
<output wsam:Action="http://API.Integration/DataResource30/getName1Response" message="tns:getName1Response"/>
</operation>
<operation name="getName2" parameterOrder="UUID resourceID">
<input wsam:Action="http://API.Integration/DataResource30/getName2Request" message="tns:getName2"/>
<output wsam:Action="http://API.Integration/DataResource30/getName2Response" message="tns:getName2Response"/>
</operation>
<operation name="getUserId" parameterOrder="UUID resourceID">
<input wsam:Action="http://API.Integration/DataResource30/getUserIdRequest" message="tns:getUserId"/>
<output wsam:Action="http://API.Integration/DataResource30/getUserIdResponse" message="tns:getUserIdResponse"/>
</operation>
<operation name="getAccount" parameterOrder="UUID AccountID">
<input wsam:Action="http://API.Integration/DataResource30/getAccountRequest" message="tns:getAccount"/>
<output wsam:Action="http://API.Integration/DataResource30/getAccountResponse" message="tns:getAccountResponse"/>
</operation>
<operation name="getSamlExternalId" parameterOrder="UUID resourceId">
<input wsam:Action="http://API.Integration/DataResource30/getSamlExternalIdRequest" message="tns:getSamlExternalId"/>
<output wsam:Action="http://API.Integration/DataResource30/getSamlExternalIdResponse" message="tns:getSamlExternalIdResponse"/>
</operation>
<operation name="setSamlExternalId" parameterOrder="UUID resourceId samlExternalId">
<input wsam:Action="http://API.Integration/DataResource30/setSamlExternalIdRequest" message="tns:setSamlExternalId"/>
<output wsam:Action="http://API.Integration/DataResource30/setSamlExternalIdResponse" message="tns:setSamlExternalIdResponse"/>
</operation>
<operation name="setSupervisor1" parameterOrder="UUID LoginName resourceID">
<input wsam:Action="http://API.Integration/DataResource30/setSupervisor1Request" message="tns:setSupervisor1"/>
<output wsam:Action="http://API.Integration/DataResource30/setSupervisor1Response" message="tns:setSupervisor1Response"/>
</operation>
<operation name="getSupervisor1" parameterOrder="UUID resourceID">
<input wsam:Action="http://API.Integration/DataResource30/getSupervisor1Request" message="tns:getSupervisor1"/>
<output wsam:Action="http://API.Integration/DataResource30/getSupervisor1Response" message="tns:getSupervisor1Response"/>
</operation>
<operation name="setSupervisor2" parameterOrder="UUID LoginName resourceID">
<input wsam:Action="http://API.Integration/DataResource30/setSupervisor2Request" message="tns:setSupervisor2"/>
<output wsam:Action="http://API.Integration/DataResource30/setSupervisor2Response" message="tns:setSupervisor2Response"/>
</operation>
<operation name="getSupervisor2" parameterOrder="UUID resourceID">
<input wsam:Action="http://API.Integration/DataResource30/getSupervisor2Request" message="tns:getSupervisor2"/>
<output wsam:Action="http://API.Integration/DataResource30/getSupervisor2Response" message="tns:getSupervisor2Response"/>
</operation>
<operation name="getExternalID" parameterOrder="UUID resourceID">
<input wsam:Action="http://API.Integration/DataResource30/getExternalIDRequest" message="tns:getExternalID"/>
<output wsam:Action="http://API.Integration/DataResource30/getExternalIDResponse" message="tns:getExternalIDResponse"/>
</operation>
<operation name="getSkypeID" parameterOrder="UUID resourceID">
<input wsam:Action="http://API.Integration/DataResource30/getSkypeIDRequest" message="tns:getSkypeID"/>
<output wsam:Action="http://API.Integration/DataResource30/getSkypeIDResponse" message="tns:getSkypeIDResponse"/>
</operation>
<operation name="setAcademicTitle" parameterOrder="UUID AcademicTitle resourceID">
<input wsam:Action="http://API.Integration/DataResource30/setAcademicTitleRequest" message="tns:setAcademicTitle"/>
<output wsam:Action="http://API.Integration/DataResource30/setAcademicTitleResponse" message="tns:setAcademicTitleResponse"/>
</operation>
<operation name="getAcademicTitle" parameterOrder="UUID resourceID">
<input wsam:Action="http://API.Integration/DataResource30/getAcademicTitleRequest" message="tns:getAcademicTitle"/>
<output wsam:Action="http://API.Integration/DataResource30/getAcademicTitleResponse" message="tns:getAcademicTitleResponse"/>
</operation>
<operation name="setMobilePhone" parameterOrder="UUID PhoneNumber resourceID">
<input wsam:Action="http://API.Integration/DataResource30/setMobilePhoneRequest" message="tns:setMobilePhone"/>
<output wsam:Action="http://API.Integration/DataResource30/setMobilePhoneResponse" message="tns:setMobilePhoneResponse"/>
</operation>
<operation name="setExternalID" parameterOrder="UUID ExternalID resourceID">
<input wsam:Action="http://API.Integration/DataResource30/setExternalIDRequest" message="tns:setExternalID"/>
<output wsam:Action="http://API.Integration/DataResource30/setExternalIDResponse" message="tns:setExternalIDResponse"/>
</operation>
<operation name="setSkypeID" parameterOrder="UUID SkypeID resourceID">
<input wsam:Action="http://API.Integration/DataResource30/setSkypeIDRequest" message="tns:setSkypeID"/>
<output wsam:Action="http://API.Integration/DataResource30/setSkypeIDResponse" message="tns:setSkypeIDResponse"/>
</operation>
<operation name="getMobilePhone" parameterOrder="UUID resourceID">
<input wsam:Action="http://API.Integration/DataResource30/getMobilePhoneRequest" message="tns:getMobilePhone"/>
<output wsam:Action="http://API.Integration/DataResource30/getMobilePhoneResponse" message="tns:getMobilePhoneResponse"/>
</operation>
<operation name="getOpening" parameterOrder="UUID resourceID">
<input wsam:Action="http://API.Integration/DataResource30/getOpeningRequest" message="tns:getOpening"/>
<output wsam:Action="http://API.Integration/DataResource30/getOpeningResponse" message="tns:getOpeningResponse"/>
</operation>
<operation name="seekByExternalID" parameterOrder="UUID ExternalID">
<input wsam:Action="http://API.Integration/DataResource30/seekByExternalIDRequest" message="tns:seekByExternalID"/>
<output wsam:Action="http://API.Integration/DataResource30/seekByExternalIDResponse" message="tns:seekByExternalIDResponse"/>
</operation>
<operation name="setOpening" parameterOrder="UUID Opening resourceID">
<input wsam:Action="http://API.Integration/DataResource30/setOpeningRequest" message="tns:setOpening"/>
<output wsam:Action="http://API.Integration/DataResource30/setOpeningResponse" message="tns:setOpeningResponse"/>
</operation>
<operation name="getAllResourceObjects" parameterOrder="UUID WorkingStatus Status">
<input wsam:Action="http://API.Integration/DataResource30/getAllResourceObjectsRequest" message="tns:getAllResourceObjects"/>
<output wsam:Action="http://API.Integration/DataResource30/getAllResourceObjectsResponse" message="tns:getAllResourceObjectsResponse"/>
</operation>
<operation name="getAllResourceObjects2" parameterOrder="UUID WorkingStatusList StatusList">
<input wsam:Action="http://API.Integration/DataResource30/getAllResourceObjects2Request" message="tns:getAllResourceObjects2"/>
<output wsam:Action="http://API.Integration/DataResource30/getAllResourceObjects2Response" message="tns:getAllResourceObjects2Response"/>
</operation>
<operation name="getAvailableAccountIDList">
<input wsam:Action="http://API.Integration/DataResource30/getAvailableAccountIDListRequest" message="tns:getAvailableAccountIDList"/>
<output wsam:Action="http://API.Integration/DataResource30/getAvailableAccountIDListResponse" message="tns:getAvailableAccountIDListResponse"/>
</operation>
<operation name="getPaymentMethodDescription" parameterOrder="UUID paymentMethodID systemLanguageCode">
<input wsam:Action="http://API.Integration/DataResource30/getPaymentMethodDescriptionRequest" message="tns:getPaymentMethodDescription"/>
<output wsam:Action="http://API.Integration/DataResource30/getPaymentMethodDescriptionResponse" message="tns:getPaymentMethodDescriptionResponse"/>
</operation>
<operation name="deregisterCallback_Observer" parameterOrder="UUID ResourceID">
<input wsam:Action="http://API.Integration/DataResource30/deregisterCallback_ObserverRequest" message="tns:deregisterCallback_Observer"/>
<output wsam:Action="http://API.Integration/DataResource30/deregisterCallback_ObserverResponse" message="tns:deregisterCallback_ObserverResponse"/>
</operation>
<operation name="deregisterCallback_Notify" parameterOrder="UUID EventType">
<input wsam:Action="http://API.Integration/DataResource30/deregisterCallback_NotifyRequest" message="tns:deregisterCallback_Notify"/>
<output wsam:Action="http://API.Integration/DataResource30/deregisterCallback_NotifyResponse" message="tns:deregisterCallback_NotifyResponse"/>
</operation>
<operation name="registerCallback_Observer" parameterOrder="UUID ServerAuthenticationString ServerAddress ResourceID">
<input wsam:Action="http://API.Integration/DataResource30/registerCallback_ObserverRequest" message="tns:registerCallback_Observer"/>
<output wsam:Action="http://API.Integration/DataResource30/registerCallback_ObserverResponse" message="tns:registerCallback_ObserverResponse"/>
</operation>
<operation name="registerCallback_Notify" parameterOrder="UUID ServerAuthenticationString ServerAddress EventType">
<input wsam:Action="http://API.Integration/DataResource30/registerCallback_NotifyRequest" message="tns:registerCallback_Notify"/>
<output wsam:Action="http://API.Integration/DataResource30/registerCallback_NotifyResponse" message="tns:registerCallback_NotifyResponse"/>
</operation>
<operation name="setPaymentInformation" parameterOrder="UUID resourceID paymentInfo">
<input wsam:Action="http://API.Integration/DataResource30/setPaymentInformationRequest" message="tns:setPaymentInformation"/>
<output wsam:Action="http://API.Integration/DataResource30/setPaymentInformationResponse" message="tns:setPaymentInformationResponse"/>
</operation>
<operation name="getAvailablePaymentMethodList">
<input wsam:Action="http://API.Integration/DataResource30/getAvailablePaymentMethodListRequest" message="tns:getAvailablePaymentMethodList"/>
<output wsam:Action="http://API.Integration/DataResource30/getAvailablePaymentMethodListResponse" message="tns:getAvailablePaymentMethodListResponse"/>
</operation>
<operation name="getPaymentInformation" parameterOrder="UUID resourceID">
<input wsam:Action="http://API.Integration/DataResource30/getPaymentInformationRequest" message="tns:getPaymentInformation"/>
<output wsam:Action="http://API.Integration/DataResource30/getPaymentInformationResponse" message="tns:getPaymentInformationResponse"/>
</operation>
<operation name="setStatus" parameterOrder="UUID Status resourceID">
<input wsam:Action="http://API.Integration/DataResource30/setStatusRequest" message="tns:setStatus"/>
<output wsam:Action="http://API.Integration/DataResource30/setStatusResponse" message="tns:setStatusResponse"/>
</operation>
<operation name="getStatus" parameterOrder="UUID resourceID">
<input wsam:Action="http://API.Integration/DataResource30/getStatusRequest" message="tns:getStatus"/>
<output wsam:Action="http://API.Integration/DataResource30/getStatusResponse" message="tns:getStatusResponse"/>
</operation>
<operation name="getWorkingStatus" parameterOrder="UUID resourceID">
<input wsam:Action="http://API.Integration/DataResource30/getWorkingStatusRequest" message="tns:getWorkingStatus"/>
<output wsam:Action="http://API.Integration/DataResource30/getWorkingStatusResponse" message="tns:getWorkingStatusResponse"/>
</operation>
<operation name="setWorkingStatus" parameterOrder="UUID WorkingStatus resourceID">
<input wsam:Action="http://API.Integration/DataResource30/setWorkingStatusRequest" message="tns:setWorkingStatus"/>
<output wsam:Action="http://API.Integration/DataResource30/setWorkingStatusResponse" message="tns:setWorkingStatusResponse"/>
</operation>
<operation name="getPricelists" parameterOrder="UUID resourceID">
<input wsam:Action="http://API.Integration/DataResource30/getPricelistsRequest" message="tns:getPricelists"/>
<output wsam:Action="http://API.Integration/DataResource30/getPricelistsResponse" message="tns:getPricelistsResponse"/>
</operation>
<operation name="setResourceType" parameterOrder="UUID ResourceType resourceID">
<input wsam:Action="http://API.Integration/DataResource30/setResourceTypeRequest" message="tns:setResourceType"/>
<output wsam:Action="http://API.Integration/DataResource30/setResourceTypeResponse" message="tns:setResourceTypeResponse"/>
</operation>
<operation name="getResourceObject" parameterOrder="UUID resourceID">
<input wsam:Action="http://API.Integration/DataResource30/getResourceObjectRequest" message="tns:getResourceObject"/>
<output wsam:Action="http://API.Integration/DataResource30/getResourceObjectResponse" message="tns:getResourceObjectResponse"/>
</operation>
<operation name="getPricelists2" parameterOrder="UUID sourcelanguage targetlanguage resourceID">
<input wsam:Action="http://API.Integration/DataResource30/getPricelists2Request" message="tns:getPricelists2"/>
<output wsam:Action="http://API.Integration/DataResource30/getPricelists2Response" message="tns:getPricelists2Response"/>
</operation>
<operation name="insertObject" parameterOrder="UUID ResourceIN">
<input wsam:Action="http://API.Integration/DataResource30/insertObjectRequest" message="tns:insertObject"/>
<output wsam:Action="http://API.Integration/DataResource30/insertObjectResponse" message="tns:insertObjectResponse"/>
</operation>
</portType>
<binding name="DataResource30PortBinding" type="tns:DataResource30">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="update">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="insert">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="delete">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="search">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getCurrency">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setCurrency">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getFullName">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getCostCenter">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setCostCenter">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getFax">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setFax">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getWebsite">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setWebsite">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setFormOfAddress">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setName2">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setName1">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getFormOfAddress">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getResourceType">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setEmail">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setPhone">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getPhone">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getEmail">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getName1">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getName2">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getUserId">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getAccount">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getSamlExternalId">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setSamlExternalId">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setSupervisor1">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getSupervisor1">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setSupervisor2">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getSupervisor2">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getExternalID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getSkypeID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setAcademicTitle">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getAcademicTitle">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setMobilePhone">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setExternalID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setSkypeID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getMobilePhone">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getOpening">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="seekByExternalID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setOpening">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getAllResourceObjects">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getAllResourceObjects2">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getAvailableAccountIDList">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getPaymentMethodDescription">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="deregisterCallback_Observer">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="deregisterCallback_Notify">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="registerCallback_Observer">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="registerCallback_Notify">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setPaymentInformation">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getAvailablePaymentMethodList">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getPaymentInformation">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setStatus">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getStatus">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getWorkingStatus">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setWorkingStatus">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getPricelists">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setResourceType">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getResourceObject">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getPricelists2">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="insertObject">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
</binding>
<service name="DataResource30Service">
<port name="DataResource30Port" binding="tns:DataResource30PortBinding">
<soap12:address location="https://8144.plunet.com/DataResource30"/>
</port>
</service>
</definitions>