references/DataAdmin30.xml

<!--  Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419.  -->
<!--  Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419.  -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://API.Integration/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://API.Integration/" name="DataAdmin30Service">
<types>
<xsd:schema>
<xsd:import namespace="http://API.Integration/" schemaLocation="https://8144.plunet.com/DataAdmin30?xsd=1"/>
</xsd:schema>
</types>
<message name="getPropertyValueList">
<part name="UUID" type="xsd:string"/>
<part name="PropertyNameEnglish" type="xsd:string"/>
<part name="LanguageCode" type="xsd:string"/>
</message>
<message name="getPropertyValueListResponse">
<part name="PropertyValueListResult" type="tns:PropertyValueListResult"/>
</message>
<message name="seekLanguageByCatCode">
<part name="UUID" type="xsd:string"/>
<part name="catCode" type="xsd:string"/>
<part name="catType" type="xsd:int"/>
</message>
<message name="seekLanguageByCatCodeResponse">
<part name="LanguageResult" type="tns:languageResult"/>
</message>
<message name="getAvailablePriceUnits">
<part name="UUID" type="xsd:string"/>
<part name="languageCode" type="xsd:string"/>
<part name="service" type="xsd:string"/>
</message>
<message name="getAvailablePriceUnitsResponse">
<part name="PriceUnitListResult" type="tns:PriceUnitListResult"/>
</message>
<message name="getJobFeedbackCriteria">
<part name="UUID" type="xsd:string"/>
</message>
<message name="getJobFeedbackCriteriaResponse">
<part name="QualityCriteriaListResult" type="tns:FeedbackCriteriaListResult"/>
</message>
<message name="getDomesticCurrency">
<part name="UUID" type="xsd:string"/>
</message>
<message name="getDomesticCurrencyResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getAvailableDocumentTemplates">
<part name="UUID" type="xsd:string"/>
</message>
<message name="getAvailableDocumentTemplatesResponse">
<part name="StringArrayResult" type="tns:StringArrayResult"/>
</message>
<message name="getAvailableServices">
<part name="UUID" type="xsd:string"/>
<part name="languageCode" type="xsd:string"/>
</message>
<message name="getAvailableServicesResponse">
<part name="ServiceListResult" type="tns:ServiceListResult"/>
</message>
<message name="getSystemCurrencies">
<part name="UUID" type="xsd:string"/>
</message>
<message name="getSystemCurrenciesResponse">
<part name="CurrencyListResult" type="tns:CurrencyList"/>
</message>
<message name="getAvailableProperties">
<part name="UUID" type="xsd:string"/>
<part name="PropertyUsageArea" type="xsd:int"/>
<part name="MainID" type="xsd:int"/>
</message>
<message name="getAvailablePropertiesResponse">
<part name="PropertyListResult" type="tns:PropertyListResult"/>
</message>
<message name="getAvailableTextModules">
<part name="UUID" type="xsd:string"/>
<part name="languageCode" type="xsd:string"/>
<part name="textModuleUsageArea" type="xsd:int"/>
<part name="MainID" type="xsd:int"/>
</message>
<message name="getAvailableTextModulesResponse">
<part name="TextmoduleListResult" type="tns:TextmoduleListResult"/>
</message>
<message name="getAvailableWorkflows">
<part name="UUID" type="xsd:string"/>
</message>
<message name="getAvailableWorkflowsResponse">
<part name="WorkflowListResult" type="tns:WorkflowListResult"/>
</message>
<message name="getAvailableCountries">
<part name="UUID" type="xsd:string"/>
<part name="languageCode" type="xsd:string"/>
</message>
<message name="getAvailableCountriesResponse">
<part name="CountryListResult" type="tns:CountryListResult"/>
</message>
<message name="getAvailableLanguages">
<part name="UUID" type="xsd:string"/>
<part name="languageCode" type="xsd:string"/>
</message>
<message name="getAvailableLanguagesResponse">
<part name="LanguageListResult" type="tns:LanguageListResult"/>
</message>
<message name="getListOfRegisteredCallbacks">
<part name="UUID" type="xsd:string"/>
</message>
<message name="getListOfRegisteredCallbacksResponse">
<part name="CallbackListResult" type="tns:CallbackListResult"/>
</message>
<message name="getCompanyCodeList">
<part name="UUID" type="xsd:string"/>
</message>
<message name="getCompanyCodeListResponse">
<part name="CompanyCodeListResult" type="tns:CompanyCodeListResult"/>
</message>
<message name="getLanguageCatCode">
<part name="UUID" type="xsd:string"/>
<part name="languageName" type="xsd:string"/>
<part name="catType" type="xsd:int"/>
</message>
<message name="getLanguageCatCodeResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<portType name="DataAdmin30">
<operation name="getPropertyValueList" parameterOrder="UUID PropertyNameEnglish LanguageCode">
<input wsam:Action="http://API.Integration/DataAdmin30/getPropertyValueListRequest" message="tns:getPropertyValueList"/>
<output wsam:Action="http://API.Integration/DataAdmin30/getPropertyValueListResponse" message="tns:getPropertyValueListResponse"/>
</operation>
<operation name="seekLanguageByCatCode" parameterOrder="UUID catCode catType">
<input wsam:Action="http://API.Integration/DataAdmin30/seekLanguageByCatCodeRequest" message="tns:seekLanguageByCatCode"/>
<output wsam:Action="http://API.Integration/DataAdmin30/seekLanguageByCatCodeResponse" message="tns:seekLanguageByCatCodeResponse"/>
</operation>
<operation name="getAvailablePriceUnits" parameterOrder="UUID languageCode service">
<input wsam:Action="http://API.Integration/DataAdmin30/getAvailablePriceUnitsRequest" message="tns:getAvailablePriceUnits"/>
<output wsam:Action="http://API.Integration/DataAdmin30/getAvailablePriceUnitsResponse" message="tns:getAvailablePriceUnitsResponse"/>
</operation>
<operation name="getJobFeedbackCriteria">
<input wsam:Action="http://API.Integration/DataAdmin30/getJobFeedbackCriteriaRequest" message="tns:getJobFeedbackCriteria"/>
<output wsam:Action="http://API.Integration/DataAdmin30/getJobFeedbackCriteriaResponse" message="tns:getJobFeedbackCriteriaResponse"/>
</operation>
<operation name="getDomesticCurrency">
<input wsam:Action="http://API.Integration/DataAdmin30/getDomesticCurrencyRequest" message="tns:getDomesticCurrency"/>
<output wsam:Action="http://API.Integration/DataAdmin30/getDomesticCurrencyResponse" message="tns:getDomesticCurrencyResponse"/>
</operation>
<operation name="getAvailableDocumentTemplates">
<input wsam:Action="http://API.Integration/DataAdmin30/getAvailableDocumentTemplatesRequest" message="tns:getAvailableDocumentTemplates"/>
<output wsam:Action="http://API.Integration/DataAdmin30/getAvailableDocumentTemplatesResponse" message="tns:getAvailableDocumentTemplatesResponse"/>
</operation>
<operation name="getAvailableServices" parameterOrder="UUID languageCode">
<input wsam:Action="http://API.Integration/DataAdmin30/getAvailableServicesRequest" message="tns:getAvailableServices"/>
<output wsam:Action="http://API.Integration/DataAdmin30/getAvailableServicesResponse" message="tns:getAvailableServicesResponse"/>
</operation>
<operation name="getSystemCurrencies">
<input wsam:Action="http://API.Integration/DataAdmin30/getSystemCurrenciesRequest" message="tns:getSystemCurrencies"/>
<output wsam:Action="http://API.Integration/DataAdmin30/getSystemCurrenciesResponse" message="tns:getSystemCurrenciesResponse"/>
</operation>
<operation name="getAvailableProperties" parameterOrder="UUID PropertyUsageArea MainID">
<input wsam:Action="http://API.Integration/DataAdmin30/getAvailablePropertiesRequest" message="tns:getAvailableProperties"/>
<output wsam:Action="http://API.Integration/DataAdmin30/getAvailablePropertiesResponse" message="tns:getAvailablePropertiesResponse"/>
</operation>
<operation name="getAvailableTextModules" parameterOrder="UUID languageCode textModuleUsageArea MainID">
<input wsam:Action="http://API.Integration/DataAdmin30/getAvailableTextModulesRequest" message="tns:getAvailableTextModules"/>
<output wsam:Action="http://API.Integration/DataAdmin30/getAvailableTextModulesResponse" message="tns:getAvailableTextModulesResponse"/>
</operation>
<operation name="getAvailableWorkflows">
<input wsam:Action="http://API.Integration/DataAdmin30/getAvailableWorkflowsRequest" message="tns:getAvailableWorkflows"/>
<output wsam:Action="http://API.Integration/DataAdmin30/getAvailableWorkflowsResponse" message="tns:getAvailableWorkflowsResponse"/>
</operation>
<operation name="getAvailableCountries" parameterOrder="UUID languageCode">
<input wsam:Action="http://API.Integration/DataAdmin30/getAvailableCountriesRequest" message="tns:getAvailableCountries"/>
<output wsam:Action="http://API.Integration/DataAdmin30/getAvailableCountriesResponse" message="tns:getAvailableCountriesResponse"/>
</operation>
<operation name="getAvailableLanguages" parameterOrder="UUID languageCode">
<input wsam:Action="http://API.Integration/DataAdmin30/getAvailableLanguagesRequest" message="tns:getAvailableLanguages"/>
<output wsam:Action="http://API.Integration/DataAdmin30/getAvailableLanguagesResponse" message="tns:getAvailableLanguagesResponse"/>
</operation>
<operation name="getListOfRegisteredCallbacks">
<input wsam:Action="http://API.Integration/DataAdmin30/getListOfRegisteredCallbacksRequest" message="tns:getListOfRegisteredCallbacks"/>
<output wsam:Action="http://API.Integration/DataAdmin30/getListOfRegisteredCallbacksResponse" message="tns:getListOfRegisteredCallbacksResponse"/>
</operation>
<operation name="getCompanyCodeList">
<input wsam:Action="http://API.Integration/DataAdmin30/getCompanyCodeListRequest" message="tns:getCompanyCodeList"/>
<output wsam:Action="http://API.Integration/DataAdmin30/getCompanyCodeListResponse" message="tns:getCompanyCodeListResponse"/>
</operation>
<operation name="getLanguageCatCode" parameterOrder="UUID languageName catType">
<input wsam:Action="http://API.Integration/DataAdmin30/getLanguageCatCodeRequest" message="tns:getLanguageCatCode"/>
<output wsam:Action="http://API.Integration/DataAdmin30/getLanguageCatCodeResponse" message="tns:getLanguageCatCodeResponse"/>
</operation>
</portType>
<binding name="DataAdmin30PortBinding" type="tns:DataAdmin30">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="getPropertyValueList">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="seekLanguageByCatCode">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getAvailablePriceUnits">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getJobFeedbackCriteria">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getDomesticCurrency">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getAvailableDocumentTemplates">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getAvailableServices">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getSystemCurrencies">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getAvailableProperties">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getAvailableTextModules">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getAvailableWorkflows">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getAvailableCountries">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getAvailableLanguages">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getListOfRegisteredCallbacks">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getCompanyCodeList">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getLanguageCatCode">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
</binding>
<service name="DataAdmin30Service">
<port name="DataAdmin30Port" binding="tns:DataAdmin30PortBinding">
<soap12:address location="https://8144.plunet.com/DataAdmin30"/>
</port>
</service>
</definitions>