references/DataOutgoingInvoice30.xml

<!--  Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419.  -->
<!--  Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419.  -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://API.Integration/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://API.Integration/" name="DataOutgoingInvoice30Service">
<types>
<xsd:schema>
<xsd:import namespace="http://API.Integration/" schemaLocation="https://8144.plunet.com/DataOutgoingInvoice30?xsd=1"/>
</xsd:schema>
</types>
<message name="delete">
<part name="UUID" type="xsd:string"/>
<part name="invoiceID" type="xsd:int"/>
</message>
<message name="deleteResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="search">
<part name="UUID" type="xsd:string"/>
<part name="SearchFilter" type="tns:SearchFilter_Invoice"/>
</message>
<message name="searchResponse">
<part name="IntegerArrayResult" type="tns:IntegerArrayResult"/>
</message>
<message name="getCurrencyCode">
<part name="UUID" type="xsd:string"/>
<part name="invoiceID" type="xsd:int"/>
</message>
<message name="getCurrencyCodeResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getRevenueAccount">
<part name="UUID" type="xsd:string"/>
<part name="invoiceID" type="xsd:int"/>
</message>
<message name="getRevenueAccountResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="setRevenueAccount">
<part name="UUID" type="xsd:string"/>
<part name="accountID" type="xsd:int"/>
<part name="invoiceID" type="xsd:int"/>
</message>
<message name="setRevenueAccountResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="setPaidDate">
<part name="UUID" type="xsd:string"/>
<part name="invoiceID" type="xsd:int"/>
<part name="paidDate" type="xsd:dateTime"/>
</message>
<message name="setPaidDateResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="setInvoiceDate">
<part name="UUID" type="xsd:string"/>
<part name="invoiceDate" type="xsd:dateTime"/>
<part name="invoiceID" type="xsd:int"/>
</message>
<message name="setInvoiceDateResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getPaidDate">
<part name="UUID" type="xsd:string"/>
<part name="invoiceID" type="xsd:int"/>
</message>
<message name="getPaidDateResponse">
<part name="Result" type="tns:DateResult"/>
</message>
<message name="setValueDate">
<part name="UUID" type="xsd:string"/>
<part name="valueDate" type="xsd:dateTime"/>
<part name="invoiceID" type="xsd:int"/>
</message>
<message name="setValueDateResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getValueDate">
<part name="UUID" type="xsd:string"/>
<part name="invoiceID" type="xsd:int"/>
</message>
<message name="getValueDateResponse">
<part name="DateResult" type="tns:DateResult"/>
</message>
<message name="getBriefDescription">
<part name="UUID" type="xsd:string"/>
<part name="invoiceID" type="xsd:int"/>
</message>
<message name="getBriefDescriptionResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getInvoiceDate">
<part name="UUID" type="xsd:string"/>
<part name="invoiceID" type="xsd:int"/>
</message>
<message name="getInvoiceDateResponse">
<part name="DateResult" type="tns:DateResult"/>
</message>
<message name="setSubject">
<part name="UUID" type="xsd:string"/>
<part name="subject" type="xsd:string"/>
<part name="invoiceID" type="xsd:int"/>
</message>
<message name="setSubjectResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getInvoiceId">
<part name="UUID" type="xsd:string"/>
<part name="displayName" type="xsd:string"/>
<part name="companyCodeId" type="xsd:int"/>
</message>
<message name="getInvoiceIdResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="getCompanyCode">
<part name="UUID" type="xsd:string"/>
<part name="invoiceID" type="xsd:int"/>
</message>
<message name="getCompanyCodeResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="setAddressID">
<part name="UUID" type="xsd:string"/>
<part name="invoiceID" type="xsd:int"/>
<part name="addressID" type="xsd:int"/>
</message>
<message name="setAddressIDResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="setCustomerID">
<part name="UUID" type="xsd:string"/>
<part name="customerID" type="xsd:int"/>
<part name="invoiceID" type="xsd:int"/>
</message>
<message name="setCustomerIDResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getContactPersonID">
<part name="UUID" type="xsd:string"/>
<part name="invoiceID" type="xsd:int"/>
</message>
<message name="getContactPersonIDResponse">
<part name="StringResult" type="tns:IntegerResult"/>
</message>
<message name="setContactPersonID">
<part name="UUID" type="xsd:string"/>
<part name="invoiceID" type="xsd:int"/>
<part name="contactPersonID" type="xsd:int"/>
</message>
<message name="setContactPersonIDResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="setPricelist">
<part name="UUID" type="xsd:string"/>
<part name="InvoiceItemID" type="xsd:int"/>
<part name="priceListID" type="xsd:int"/>
</message>
<message name="setPricelistResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="deletePriceLine">
<part name="UUID" type="xsd:string"/>
<part name="invoiceItemID" type="xsd:int"/>
<part name="priceLineID" type="xsd:int"/>
</message>
<message name="deletePriceLineResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getPricelist">
<part name="UUID" type="xsd:string"/>
<part name="InvoiceItemID" type="xsd:int"/>
</message>
<message name="getPricelistResponse">
<part name="PricelistResult" type="tns:PricelistResult"/>
</message>
<message name="getPricelist_List">
<part name="UUID" type="xsd:string"/>
<part name="invoiceItemID" type="xsd:int"/>
</message>
<message name="getPricelist_ListResponse">
<part name="PricelistListResult" type="tns:PricelistListResult"/>
</message>
<message name="updatePriceLine">
<part name="UUID" type="xsd:string"/>
<part name="invoiceItemID" type="xsd:int"/>
<part name="priceLineIN" type="tns:PriceLineIN"/>
</message>
<message name="updatePriceLineResponse">
<part name="PriceLineResult" type="tns:PriceLineResult"/>
</message>
<message name="getPriceUnit_List">
<part name="UUID" type="xsd:string"/>
<part name="languageCode" type="xsd:string"/>
<part name="service" type="xsd:string"/>
</message>
<message name="getPriceUnit_ListResponse">
<part name="PriceUnitListResult" type="tns:PriceUnitListResult"/>
</message>
<message name="getPriceUnit">
<part name="UUID" type="xsd:string"/>
<part name="PriceUnitID" type="xsd:int"/>
<part name="languageCode" type="xsd:string"/>
</message>
<message name="getPriceUnitResponse">
<part name="PriceUnitResult" type="tns:PriceUnitResult"/>
</message>
<message name="getServices_List">
<part name="UUID" type="xsd:string"/>
<part name="languageCode" type="xsd:string"/>
</message>
<message name="getServices_ListResponse">
<part name="StringArrayResult" type="tns:StringArrayResult"/>
</message>
<message name="getPriceLine_List">
<part name="UUID" type="xsd:string"/>
<part name="invoiceItemID" type="xsd:int"/>
</message>
<message name="getPriceLine_ListResponse">
<part name="PriceLineListResult" type="tns:PriceLineListResult"/>
</message>
<message name="insertPriceLine">
<part name="UUID" type="xsd:string"/>
<part name="invoiceItemID" type="xsd:int"/>
<part name="priceLineIN" type="tns:PriceLineIN"/>
<part name="createAsFirstItem" type="xsd:boolean"/>
</message>
<message name="insertPriceLineResponse">
<part name="PriceLineResult" type="tns:PriceLineResult"/>
</message>
<message name="getOrderIDs">
<part name="UUID" type="xsd:string"/>
<part name="invoiceID" type="xsd:int"/>
</message>
<message name="getOrderIDsResponse">
<part name="IntegerArrayResult" type="tns:IntegerArrayResult"/>
</message>
<message name="getNet">
<part name="UUID" type="xsd:string"/>
<part name="invoiceID" type="xsd:int"/>
</message>
<message name="getNetResponse">
<part name="DoubleResult" type="tns:DoubleResult"/>
</message>
<message name="getInvoiceNr">
<part name="UUID" type="xsd:string"/>
<part name="invoiceID" type="xsd:int"/>
</message>
<message name="getInvoiceNrResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getGross">
<part name="UUID" type="xsd:string"/>
<part name="invoiceID" type="xsd:int"/>
</message>
<message name="getGrossResponse">
<part name="DoubleResult" type="tns:DoubleResult"/>
</message>
<message name="getTax">
<part name="UUID" type="xsd:string"/>
<part name="invoiceID" type="xsd:int"/>
</message>
<message name="getTaxResponse">
<part name="DoubleResult" type="tns:DoubleResult"/>
</message>
<message name="getOutstanding">
<part name="UUID" type="xsd:string"/>
<part name="invoiceID" type="xsd:int"/>
</message>
<message name="getOutstandingResponse">
<part name="DoubleResult" type="tns:DoubleResult"/>
</message>
<message name="getInvoiceObject">
<part name="UUID" type="xsd:string"/>
<part name="invoiceID" type="xsd:int"/>
</message>
<message name="getInvoiceObjectResponse">
<part name="InvoiceResult" type="tns:InvoiceResult"/>
</message>
<message name="getPaid">
<part name="UUID" type="xsd:string"/>
<part name="invoiceID" type="xsd:int"/>
</message>
<message name="getPaidResponse">
<part name="DoubleResult" type="tns:DoubleResult"/>
</message>
<message name="getAdressID">
<part name="UUID" type="xsd:string"/>
<part name="InvoiceID" type="xsd:int"/>
</message>
<message name="getAdressIDResponse">
<part name="StringResult" type="tns:IntegerResult"/>
</message>
<message name="getPONumber">
<part name="UUID" type="xsd:string"/>
<part name="invoiceID" type="xsd:int"/>
</message>
<message name="getPONumberResponse">
<part name="BooleanResult" type="tns:StringResult"/>
</message>
<message name="getInvoiceTaxTypes">
<part name="UUID" type="xsd:string"/>
<part name="invoiceID" type="xsd:int"/>
</message>
<message name="getInvoiceTaxTypesResponse">
<part name="TaxListResult" type="tns:TaxListResult"/>
</message>
<message name="insertInvoiceItem">
<part name="UUID" type="xsd:string"/>
<part name="InvoiceItem" type="tns:InvoiceItemIN"/>
</message>
<message name="insertInvoiceItemResponse">
<part name="Result" type="tns:IntegerResult"/>
</message>
<message name="getPaymentDueDate">
<part name="UUID" type="xsd:string"/>
<part name="invoiceID" type="xsd:int"/>
</message>
<message name="getPaymentDueDateResponse">
<part name="Result" type="tns:DateResult"/>
</message>
<message name="setPaymentDueDate">
<part name="UUID" type="xsd:string"/>
<part name="invoiceID" type="xsd:int"/>
<part name="dueDate" type="xsd:dateTime"/>
</message>
<message name="setPaymentDueDateResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="updateInvoiceItem">
<part name="UUID" type="xsd:string"/>
<part name="InvoiceItem" type="tns:InvoiceItemIN"/>
<part name="enableNullOrEmptyValues" type="xsd:boolean"/>
</message>
<message name="updateInvoiceItemResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="deleteInvoiceItem">
<part name="UUID" type="xsd:string"/>
<part name="InvoiceItemID" type="xsd:int"/>
</message>
<message name="deleteInvoiceItemResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getInvoiceItemList">
<part name="UUID" type="xsd:string"/>
<part name="invoiceID" type="xsd:int"/>
</message>
<message name="getInvoiceItemListResponse">
<part name="InvoiceItemResult" type="tns:InvoiceItemResult"/>
</message>
<message name="getPricelistEntry_List">
<part name="UUID" type="xsd:string"/>
<part name="PricelistID" type="xsd:int"/>
<part name="SourceLanguage" type="xsd:string"/>
<part name="TargetLanguage" type="xsd:string"/>
</message>
<message name="getPricelistEntry_ListResponse">
<part name="PricelistEntryList" type="tns:PricelistEntryList"/>
</message>
<message name="setBriefDescription">
<part name="UUID" type="xsd:string"/>
<part name="description" type="xsd:string"/>
<part name="invoiceID" type="xsd:int"/>
</message>
<message name="setBriefDescriptionResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="setPONumber">
<part name="UUID" type="xsd:string"/>
<part name="invoiceID" type="xsd:int"/>
<part name="poNumber" type="xsd:string"/>
</message>
<message name="setPONumberResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getCustomerID">
<part name="UUID" type="xsd:string"/>
<part name="invoiceID" type="xsd:int"/>
</message>
<message name="getCustomerIDResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="setStatus">
<part name="UUID" type="xsd:string"/>
<part name="Status" type="xsd:int"/>
<part name="invoiceID" type="xsd:int"/>
</message>
<message name="setStatusResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getStatus">
<part name="UUID" type="xsd:string"/>
<part name="invoiceID" type="xsd:int"/>
</message>
<message name="getStatusResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="getInvoiceDocuments">
<part name="UUID" type="xsd:string"/>
<part name="invoiceID" type="xsd:int"/>
</message>
<message name="getInvoiceDocumentsResponse">
<part name="StringArrayResult" type="tns:StringArrayResult"/>
</message>
<message name="getReceivableAccount">
<part name="UUID" type="xsd:string"/>
<part name="invoiceID" type="xsd:int"/>
</message>
<message name="getReceivableAccountResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="setReceivableAccount">
<part name="UUID" type="xsd:string"/>
<part name="accountID" type="xsd:int"/>
<part name="invoiceID" type="xsd:int"/>
</message>
<message name="setReceivableAccountResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="createInvoiceDocument">
<part name="UUID" type="xsd:string"/>
<part name="template" type="xsd:string"/>
<part name="formatId" type="xsd:int"/>
<part name="invoiceID" type="xsd:int"/>
</message>
<message name="createInvoiceDocumentResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getNetByCurrencyType">
<part name="UUID" type="xsd:string"/>
<part name="invoiceID" type="xsd:int"/>
<part name="currencyType" type="xsd:int"/>
</message>
<message name="getNetByCurrencyTypeResponse">
<part name="DoubleResult" type="tns:DoubleResult"/>
</message>
<message name="getGrossByCurrencyType">
<part name="UUID" type="xsd:string"/>
<part name="invoiceID" type="xsd:int"/>
<part name="currencyType" type="xsd:int"/>
</message>
<message name="getGrossByCurrencyTypeResponse">
<part name="DoubleResult" type="tns:DoubleResult"/>
</message>
<message name="getOutstandingByCurrencyType">
<part name="UUID" type="xsd:string"/>
<part name="invoiceID" type="xsd:int"/>
<part name="currencyType" type="xsd:int"/>
</message>
<message name="getOutstandingByCurrencyTypeResponse">
<part name="DoubleResult" type="tns:DoubleResult"/>
</message>
<message name="getTaxByCurrencyType">
<part name="UUID" type="xsd:string"/>
<part name="invoiceID" type="xsd:int"/>
<part name="currencyType" type="xsd:int"/>
</message>
<message name="getTaxByCurrencyTypeResponse">
<part name="DoubleResult" type="tns:DoubleResult"/>
</message>
<message name="getTaxByTypeAndCurrencyType">
<part name="UUID" type="xsd:string"/>
<part name="invoiceID" type="xsd:int"/>
<part name="currencyType" type="xsd:int"/>
<part name="taxtypes" type="xsd:int"/>
</message>
<message name="getTaxByTypeAndCurrencyTypeResponse">
<part name="DoubleResult" type="tns:DoubleResult"/>
</message>
<message name="getPaidByCurrencyType">
<part name="UUID" type="xsd:string"/>
<part name="invoiceID" type="xsd:int"/>
<part name="currencyType" type="xsd:int"/>
</message>
<message name="getPaidByCurrencyTypeResponse">
<part name="DoubleResult" type="tns:DoubleResult"/>
</message>
<message name="setIsInvoiceExported">
<part name="UUID" type="xsd:string"/>
<part name="invoiceID" type="xsd:int"/>
<part name="isExported" type="xsd:boolean"/>
</message>
<message name="setIsInvoiceExportedResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getIsInvoiceExported">
<part name="UUID" type="xsd:string"/>
<part name="invoiceID" type="xsd:int"/>
</message>
<message name="getIsInvoiceExportedResponse">
<part name="BooleanResult" type="tns:BooleanResult"/>
</message>
<message name="getSubject">
<part name="UUID" type="xsd:string"/>
<part name="invoiceID" type="xsd:int"/>
</message>
<message name="getSubjectResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getRate">
<part name="UUID" type="xsd:string"/>
<part name="invoiceID" type="xsd:int"/>
</message>
<message name="getRateResponse">
<part name="DoubleResult" type="tns:DoubleResult"/>
</message>
<portType name="DataOutgoingInvoice30">
<operation name="delete" parameterOrder="UUID invoiceID">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/deleteResponse" message="tns:deleteResponse"/>
</operation>
<operation name="search" parameterOrder="UUID SearchFilter">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/searchRequest" message="tns:search"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/searchResponse" message="tns:searchResponse"/>
</operation>
<operation name="getCurrencyCode" parameterOrder="UUID invoiceID">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/getCurrencyCodeRequest" message="tns:getCurrencyCode"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/getCurrencyCodeResponse" message="tns:getCurrencyCodeResponse"/>
</operation>
<operation name="getRevenueAccount" parameterOrder="UUID invoiceID">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/getRevenueAccountRequest" message="tns:getRevenueAccount"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/getRevenueAccountResponse" message="tns:getRevenueAccountResponse"/>
</operation>
<operation name="setRevenueAccount" parameterOrder="UUID accountID invoiceID">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/setRevenueAccountRequest" message="tns:setRevenueAccount"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/setRevenueAccountResponse" message="tns:setRevenueAccountResponse"/>
</operation>
<operation name="setPaidDate" parameterOrder="UUID invoiceID paidDate">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/setPaidDateRequest" message="tns:setPaidDate"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/setPaidDateResponse" message="tns:setPaidDateResponse"/>
</operation>
<operation name="setInvoiceDate" parameterOrder="UUID invoiceDate invoiceID">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/setInvoiceDateRequest" message="tns:setInvoiceDate"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/setInvoiceDateResponse" message="tns:setInvoiceDateResponse"/>
</operation>
<operation name="getPaidDate" parameterOrder="UUID invoiceID">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/getPaidDateRequest" message="tns:getPaidDate"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/getPaidDateResponse" message="tns:getPaidDateResponse"/>
</operation>
<operation name="setValueDate" parameterOrder="UUID valueDate invoiceID">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/setValueDateRequest" message="tns:setValueDate"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/setValueDateResponse" message="tns:setValueDateResponse"/>
</operation>
<operation name="getValueDate" parameterOrder="UUID invoiceID">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/getValueDateRequest" message="tns:getValueDate"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/getValueDateResponse" message="tns:getValueDateResponse"/>
</operation>
<operation name="getBriefDescription" parameterOrder="UUID invoiceID">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/getBriefDescriptionRequest" message="tns:getBriefDescription"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/getBriefDescriptionResponse" message="tns:getBriefDescriptionResponse"/>
</operation>
<operation name="getInvoiceDate" parameterOrder="UUID invoiceID">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/getInvoiceDateRequest" message="tns:getInvoiceDate"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/getInvoiceDateResponse" message="tns:getInvoiceDateResponse"/>
</operation>
<operation name="setSubject" parameterOrder="UUID subject invoiceID">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/setSubjectRequest" message="tns:setSubject"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/setSubjectResponse" message="tns:setSubjectResponse"/>
</operation>
<operation name="getInvoiceId" parameterOrder="UUID displayName companyCodeId">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/getInvoiceIdRequest" message="tns:getInvoiceId"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/getInvoiceIdResponse" message="tns:getInvoiceIdResponse"/>
</operation>
<operation name="getCompanyCode" parameterOrder="UUID invoiceID">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/getCompanyCodeRequest" message="tns:getCompanyCode"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/getCompanyCodeResponse" message="tns:getCompanyCodeResponse"/>
</operation>
<operation name="setAddressID" parameterOrder="UUID invoiceID addressID">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/setAddressIDRequest" message="tns:setAddressID"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/setAddressIDResponse" message="tns:setAddressIDResponse"/>
</operation>
<operation name="setCustomerID" parameterOrder="UUID customerID invoiceID">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/setCustomerIDRequest" message="tns:setCustomerID"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/setCustomerIDResponse" message="tns:setCustomerIDResponse"/>
</operation>
<operation name="getContactPersonID" parameterOrder="UUID invoiceID">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/getContactPersonIDRequest" message="tns:getContactPersonID"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/getContactPersonIDResponse" message="tns:getContactPersonIDResponse"/>
</operation>
<operation name="setContactPersonID" parameterOrder="UUID invoiceID contactPersonID">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/setContactPersonIDRequest" message="tns:setContactPersonID"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/setContactPersonIDResponse" message="tns:setContactPersonIDResponse"/>
</operation>
<operation name="setPricelist" parameterOrder="UUID InvoiceItemID priceListID">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/setPricelistRequest" message="tns:setPricelist"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/setPricelistResponse" message="tns:setPricelistResponse"/>
</operation>
<operation name="deletePriceLine" parameterOrder="UUID invoiceItemID priceLineID">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/deletePriceLineRequest" message="tns:deletePriceLine"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/deletePriceLineResponse" message="tns:deletePriceLineResponse"/>
</operation>
<operation name="getPricelist" parameterOrder="UUID InvoiceItemID">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/getPricelistRequest" message="tns:getPricelist"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/getPricelistResponse" message="tns:getPricelistResponse"/>
</operation>
<operation name="getPricelist_List" parameterOrder="UUID invoiceItemID">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/getPricelist_ListRequest" message="tns:getPricelist_List"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/getPricelist_ListResponse" message="tns:getPricelist_ListResponse"/>
</operation>
<operation name="updatePriceLine" parameterOrder="UUID invoiceItemID priceLineIN">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/updatePriceLineRequest" message="tns:updatePriceLine"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/updatePriceLineResponse" message="tns:updatePriceLineResponse"/>
</operation>
<operation name="getPriceUnit_List" parameterOrder="UUID languageCode service">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/getPriceUnit_ListRequest" message="tns:getPriceUnit_List"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/getPriceUnit_ListResponse" message="tns:getPriceUnit_ListResponse"/>
</operation>
<operation name="getPriceUnit" parameterOrder="UUID PriceUnitID languageCode">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/getPriceUnitRequest" message="tns:getPriceUnit"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/getPriceUnitResponse" message="tns:getPriceUnitResponse"/>
</operation>
<operation name="getServices_List" parameterOrder="UUID languageCode">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/getServices_ListRequest" message="tns:getServices_List"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/getServices_ListResponse" message="tns:getServices_ListResponse"/>
</operation>
<operation name="getPriceLine_List" parameterOrder="UUID invoiceItemID">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/getPriceLine_ListRequest" message="tns:getPriceLine_List"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/getPriceLine_ListResponse" message="tns:getPriceLine_ListResponse"/>
</operation>
<operation name="insertPriceLine" parameterOrder="UUID invoiceItemID priceLineIN createAsFirstItem">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/insertPriceLineRequest" message="tns:insertPriceLine"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/insertPriceLineResponse" message="tns:insertPriceLineResponse"/>
</operation>
<operation name="getOrderIDs" parameterOrder="UUID invoiceID">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/getOrderIDsRequest" message="tns:getOrderIDs"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/getOrderIDsResponse" message="tns:getOrderIDsResponse"/>
</operation>
<operation name="getNet" parameterOrder="UUID invoiceID">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/getNetRequest" message="tns:getNet"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/getNetResponse" message="tns:getNetResponse"/>
</operation>
<operation name="getInvoiceNr" parameterOrder="UUID invoiceID">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/getInvoiceNrRequest" message="tns:getInvoiceNr"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/getInvoiceNrResponse" message="tns:getInvoiceNrResponse"/>
</operation>
<operation name="getGross" parameterOrder="UUID invoiceID">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/getGrossRequest" message="tns:getGross"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/getGrossResponse" message="tns:getGrossResponse"/>
</operation>
<operation name="getTax" parameterOrder="UUID invoiceID">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/getTaxRequest" message="tns:getTax"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/getTaxResponse" message="tns:getTaxResponse"/>
</operation>
<operation name="getOutstanding" parameterOrder="UUID invoiceID">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/getOutstandingRequest" message="tns:getOutstanding"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/getOutstandingResponse" message="tns:getOutstandingResponse"/>
</operation>
<operation name="getInvoiceObject" parameterOrder="UUID invoiceID">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/getInvoiceObjectRequest" message="tns:getInvoiceObject"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/getInvoiceObjectResponse" message="tns:getInvoiceObjectResponse"/>
</operation>
<operation name="getPaid" parameterOrder="UUID invoiceID">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/getPaidRequest" message="tns:getPaid"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/getPaidResponse" message="tns:getPaidResponse"/>
</operation>
<operation name="getAdressID" parameterOrder="UUID InvoiceID">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/getAdressIDRequest" message="tns:getAdressID"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/getAdressIDResponse" message="tns:getAdressIDResponse"/>
</operation>
<operation name="getPONumber" parameterOrder="UUID invoiceID">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/getPONumberRequest" message="tns:getPONumber"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/getPONumberResponse" message="tns:getPONumberResponse"/>
</operation>
<operation name="getInvoiceTaxTypes" parameterOrder="UUID invoiceID">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/getInvoiceTaxTypesRequest" message="tns:getInvoiceTaxTypes"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/getInvoiceTaxTypesResponse" message="tns:getInvoiceTaxTypesResponse"/>
</operation>
<operation name="insertInvoiceItem" parameterOrder="UUID InvoiceItem">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/insertInvoiceItemRequest" message="tns:insertInvoiceItem"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/insertInvoiceItemResponse" message="tns:insertInvoiceItemResponse"/>
</operation>
<operation name="getPaymentDueDate" parameterOrder="UUID invoiceID">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/getPaymentDueDateRequest" message="tns:getPaymentDueDate"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/getPaymentDueDateResponse" message="tns:getPaymentDueDateResponse"/>
</operation>
<operation name="setPaymentDueDate" parameterOrder="UUID invoiceID dueDate">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/setPaymentDueDateRequest" message="tns:setPaymentDueDate"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/setPaymentDueDateResponse" message="tns:setPaymentDueDateResponse"/>
</operation>
<operation name="updateInvoiceItem" parameterOrder="UUID InvoiceItem enableNullOrEmptyValues">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/updateInvoiceItemRequest" message="tns:updateInvoiceItem"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/updateInvoiceItemResponse" message="tns:updateInvoiceItemResponse"/>
</operation>
<operation name="deleteInvoiceItem" parameterOrder="UUID InvoiceItemID">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/deleteInvoiceItemRequest" message="tns:deleteInvoiceItem"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/deleteInvoiceItemResponse" message="tns:deleteInvoiceItemResponse"/>
</operation>
<operation name="getInvoiceItemList" parameterOrder="UUID invoiceID">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/getInvoiceItemListRequest" message="tns:getInvoiceItemList"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/getInvoiceItemListResponse" message="tns:getInvoiceItemListResponse"/>
</operation>
<operation name="getPricelistEntry_List" parameterOrder="UUID PricelistID SourceLanguage TargetLanguage">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/getPricelistEntry_ListRequest" message="tns:getPricelistEntry_List"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/getPricelistEntry_ListResponse" message="tns:getPricelistEntry_ListResponse"/>
</operation>
<operation name="setBriefDescription" parameterOrder="UUID description invoiceID">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/setBriefDescriptionRequest" message="tns:setBriefDescription"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/setBriefDescriptionResponse" message="tns:setBriefDescriptionResponse"/>
</operation>
<operation name="setPONumber" parameterOrder="UUID invoiceID poNumber">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/setPONumberRequest" message="tns:setPONumber"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/setPONumberResponse" message="tns:setPONumberResponse"/>
</operation>
<operation name="getCustomerID" parameterOrder="UUID invoiceID">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/getCustomerIDRequest" message="tns:getCustomerID"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/getCustomerIDResponse" message="tns:getCustomerIDResponse"/>
</operation>
<operation name="setStatus" parameterOrder="UUID Status invoiceID">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/setStatusRequest" message="tns:setStatus"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/setStatusResponse" message="tns:setStatusResponse"/>
</operation>
<operation name="getStatus" parameterOrder="UUID invoiceID">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/getStatusRequest" message="tns:getStatus"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/getStatusResponse" message="tns:getStatusResponse"/>
</operation>
<operation name="getInvoiceDocuments" parameterOrder="UUID invoiceID">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/getInvoiceDocumentsRequest" message="tns:getInvoiceDocuments"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/getInvoiceDocumentsResponse" message="tns:getInvoiceDocumentsResponse"/>
</operation>
<operation name="getReceivableAccount" parameterOrder="UUID invoiceID">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/getReceivableAccountRequest" message="tns:getReceivableAccount"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/getReceivableAccountResponse" message="tns:getReceivableAccountResponse"/>
</operation>
<operation name="setReceivableAccount" parameterOrder="UUID accountID invoiceID">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/setReceivableAccountRequest" message="tns:setReceivableAccount"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/setReceivableAccountResponse" message="tns:setReceivableAccountResponse"/>
</operation>
<operation name="createInvoiceDocument" parameterOrder="UUID template formatId invoiceID">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/createInvoiceDocumentRequest" message="tns:createInvoiceDocument"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/createInvoiceDocumentResponse" message="tns:createInvoiceDocumentResponse"/>
</operation>
<operation name="getNetByCurrencyType" parameterOrder="UUID invoiceID currencyType">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/getNetByCurrencyTypeRequest" message="tns:getNetByCurrencyType"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/getNetByCurrencyTypeResponse" message="tns:getNetByCurrencyTypeResponse"/>
</operation>
<operation name="getGrossByCurrencyType" parameterOrder="UUID invoiceID currencyType">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/getGrossByCurrencyTypeRequest" message="tns:getGrossByCurrencyType"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/getGrossByCurrencyTypeResponse" message="tns:getGrossByCurrencyTypeResponse"/>
</operation>
<operation name="getOutstandingByCurrencyType" parameterOrder="UUID invoiceID currencyType">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/getOutstandingByCurrencyTypeRequest" message="tns:getOutstandingByCurrencyType"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/getOutstandingByCurrencyTypeResponse" message="tns:getOutstandingByCurrencyTypeResponse"/>
</operation>
<operation name="getTaxByCurrencyType" parameterOrder="UUID invoiceID currencyType">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/getTaxByCurrencyTypeRequest" message="tns:getTaxByCurrencyType"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/getTaxByCurrencyTypeResponse" message="tns:getTaxByCurrencyTypeResponse"/>
</operation>
<operation name="getTaxByTypeAndCurrencyType" parameterOrder="UUID invoiceID currencyType taxtypes">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/getTaxByTypeAndCurrencyTypeRequest" message="tns:getTaxByTypeAndCurrencyType"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/getTaxByTypeAndCurrencyTypeResponse" message="tns:getTaxByTypeAndCurrencyTypeResponse"/>
</operation>
<operation name="getPaidByCurrencyType" parameterOrder="UUID invoiceID currencyType">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/getPaidByCurrencyTypeRequest" message="tns:getPaidByCurrencyType"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/getPaidByCurrencyTypeResponse" message="tns:getPaidByCurrencyTypeResponse"/>
</operation>
<operation name="setIsInvoiceExported" parameterOrder="UUID invoiceID isExported">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/setIsInvoiceExportedRequest" message="tns:setIsInvoiceExported"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/setIsInvoiceExportedResponse" message="tns:setIsInvoiceExportedResponse"/>
</operation>
<operation name="getIsInvoiceExported" parameterOrder="UUID invoiceID">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/getIsInvoiceExportedRequest" message="tns:getIsInvoiceExported"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/getIsInvoiceExportedResponse" message="tns:getIsInvoiceExportedResponse"/>
</operation>
<operation name="getSubject" parameterOrder="UUID invoiceID">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/getSubjectRequest" message="tns:getSubject"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/getSubjectResponse" message="tns:getSubjectResponse"/>
</operation>
<operation name="getRate" parameterOrder="UUID invoiceID">
<input wsam:Action="http://API.Integration/DataOutgoingInvoice30/getRateRequest" message="tns:getRate"/>
<output wsam:Action="http://API.Integration/DataOutgoingInvoice30/getRateResponse" message="tns:getRateResponse"/>
</operation>
</portType>
<binding name="DataOutgoingInvoice30PortBinding" type="tns:DataOutgoingInvoice30">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="delete">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="search">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getCurrencyCode">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getRevenueAccount">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setRevenueAccount">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setPaidDate">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setInvoiceDate">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getPaidDate">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setValueDate">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getValueDate">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getBriefDescription">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getInvoiceDate">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setSubject">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getInvoiceId">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getCompanyCode">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setAddressID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setCustomerID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getContactPersonID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setContactPersonID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setPricelist">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="deletePriceLine">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getPricelist">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getPricelist_List">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="updatePriceLine">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getPriceUnit_List">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getPriceUnit">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getServices_List">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getPriceLine_List">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="insertPriceLine">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getOrderIDs">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getNet">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getInvoiceNr">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getGross">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getTax">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getOutstanding">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getInvoiceObject">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getPaid">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getAdressID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getPONumber">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getInvoiceTaxTypes">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="insertInvoiceItem">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getPaymentDueDate">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setPaymentDueDate">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="updateInvoiceItem">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="deleteInvoiceItem">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getInvoiceItemList">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getPricelistEntry_List">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setBriefDescription">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setPONumber">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getCustomerID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setStatus">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getStatus">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getInvoiceDocuments">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getReceivableAccount">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setReceivableAccount">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="createInvoiceDocument">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getNetByCurrencyType">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getGrossByCurrencyType">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getOutstandingByCurrencyType">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getTaxByCurrencyType">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getTaxByTypeAndCurrencyType">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getPaidByCurrencyType">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setIsInvoiceExported">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getIsInvoiceExported">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getSubject">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getRate">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
</binding>
<service name="DataOutgoingInvoice30Service">
<port name="DataOutgoingInvoice30Port" binding="tns:DataOutgoingInvoice30PortBinding">
<soap12:address location="https://8144.plunet.com/DataOutgoingInvoice30"/>
</port>
</service>
</definitions>