references/DataResourceAddress30.xml

<!--  Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419.  -->
<!--  Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419.  -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://API.Integration/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://API.Integration/" name="DataResourceAddress30Service">
<types>
<xsd:schema>
<xsd:import namespace="http://API.Integration/" schemaLocation="https://8144.plunet.com/DataResourceAddress30?xsd=1"/>
</xsd:schema>
</types>
<message name="update">
<part name="UUID" type="xsd:string"/>
<part name="AddressIN" type="tns:AddressIN"/>
<part name="enableNullOrEmptyValues" type="xsd:boolean"/>
</message>
<message name="updateResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="insert">
<part name="UUID" type="xsd:string"/>
<part name="resourceID" type="xsd:int"/>
</message>
<message name="insertResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="delete">
<part name="UUID" type="xsd:string"/>
<part name="AddressID" type="xsd:int"/>
</message>
<message name="deleteResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getState">
<part name="UUID" type="xsd:string"/>
<part name="AddressID" type="xsd:int"/>
</message>
<message name="getStateResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getCountry">
<part name="UUID" type="xsd:string"/>
<part name="AddressID" type="xsd:int"/>
</message>
<message name="getCountryResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="setState">
<part name="UUID" type="xsd:string"/>
<part name="State" type="xsd:string"/>
<part name="AddressID" type="xsd:int"/>
</message>
<message name="setStateResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="setName2">
<part name="UUID" type="xsd:string"/>
<part name="Name" type="xsd:string"/>
<part name="AddressID" type="xsd:int"/>
</message>
<message name="setName2Response">
<part name="Result" type="tns:Result"/>
</message>
<message name="setName1">
<part name="UUID" type="xsd:string"/>
<part name="Name" type="xsd:string"/>
<part name="AddressID" type="xsd:int"/>
</message>
<message name="setName1Response">
<part name="Result" type="tns:Result"/>
</message>
<message name="setStreet">
<part name="UUID" type="xsd:string"/>
<part name="Street" type="xsd:string"/>
<part name="AddressID" type="xsd:int"/>
</message>
<message name="setStreetResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="setStreet2">
<part name="UUID" type="xsd:string"/>
<part name="Street2" type="xsd:string"/>
<part name="AddressID" type="xsd:int"/>
</message>
<message name="setStreet2Response">
<part name="Result" type="tns:Result"/>
</message>
<message name="setCity">
<part name="UUID" type="xsd:string"/>
<part name="City" type="xsd:string"/>
<part name="AddressID" type="xsd:int"/>
</message>
<message name="setCityResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getCity">
<part name="UUID" type="xsd:string"/>
<part name="AddressID" type="xsd:int"/>
</message>
<message name="getCityResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="setCountry">
<part name="UUID" type="xsd:string"/>
<part name="Country" type="xsd:string"/>
<part name="AddressID" type="xsd:int"/>
</message>
<message name="setCountryResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getName1">
<part name="UUID" type="xsd:string"/>
<part name="AddressID" type="xsd:int"/>
</message>
<message name="getName1Response">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getName2">
<part name="UUID" type="xsd:string"/>
<part name="AddressID" type="xsd:int"/>
</message>
<message name="getName2Response">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getStreet">
<part name="UUID" type="xsd:string"/>
<part name="AddressID" type="xsd:int"/>
</message>
<message name="getStreetResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getStreet2">
<part name="UUID" type="xsd:string"/>
<part name="AddressID" type="xsd:int"/>
</message>
<message name="getStreet2Response">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getZip">
<part name="UUID" type="xsd:string"/>
<part name="AddressID" type="xsd:int"/>
</message>
<message name="getZipResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="setZip">
<part name="UUID" type="xsd:string"/>
<part name="Zip" type="xsd:string"/>
<part name="AddressID" type="xsd:int"/>
</message>
<message name="setZipResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getOffice">
<part name="UUID" type="xsd:string"/>
<part name="AddressID" type="xsd:int"/>
</message>
<message name="getOfficeResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getAllAddresses">
<part name="UUID" type="xsd:string"/>
<part name="ResourceID" type="xsd:int"/>
</message>
<message name="getAllAddressesResponse">
<part name="IntegerArrayResult" type="tns:IntegerArrayResult"/>
</message>
<message name="setOffice">
<part name="UUID" type="xsd:string"/>
<part name="ExternalID" type="xsd:string"/>
<part name="AddressID" type="xsd:int"/>
</message>
<message name="setOfficeResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getAddressType">
<part name="UUID" type="xsd:string"/>
<part name="addressID" type="xsd:int"/>
</message>
<message name="getAddressTypeResponse">
<part name="StringResult" type="tns:IntegerResult"/>
</message>
<message name="getAddressID">
<part name="UUID" type="xsd:string"/>
<part name="AddressID" type="xsd:int"/>
</message>
<message name="getAddressIDResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="insert2">
<part name="UUID" type="xsd:string"/>
<part name="ResourceID" type="xsd:int"/>
<part name="AddressIN" type="tns:AddressIN"/>
</message>
<message name="insert2Response">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="getDescription">
<part name="UUID" type="xsd:string"/>
<part name="AddressID" type="xsd:int"/>
</message>
<message name="getDescriptionResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="setDescription">
<part name="UUID" type="xsd:string"/>
<part name="Description" type="xsd:string"/>
<part name="AddressID" type="xsd:int"/>
</message>
<message name="setDescriptionResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="setAddressType">
<part name="UUID" type="xsd:string"/>
<part name="AddressType" type="xsd:int"/>
<part name="addressID" type="xsd:int"/>
</message>
<message name="setAddressTypeResponse">
<part name="Result" type="tns:Result"/>
</message>
<portType name="DataResourceAddress30">
<operation name="update" parameterOrder="UUID AddressIN enableNullOrEmptyValues">
<input wsam:Action="http://API.Integration/DataResourceAddress30/updateRequest" message="tns:update"/>
<output wsam:Action="http://API.Integration/DataResourceAddress30/updateResponse" message="tns:updateResponse"/>
</operation>
<operation name="insert" parameterOrder="UUID resourceID">
<input wsam:Action="http://API.Integration/DataResourceAddress30/insertRequest" message="tns:insert"/>
<output wsam:Action="http://API.Integration/DataResourceAddress30/insertResponse" message="tns:insertResponse"/>
</operation>
<operation name="delete" parameterOrder="UUID AddressID">
<input wsam:Action="http://API.Integration/DataResourceAddress30/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://API.Integration/DataResourceAddress30/deleteResponse" message="tns:deleteResponse"/>
</operation>
<operation name="getState" parameterOrder="UUID AddressID">
<input wsam:Action="http://API.Integration/DataResourceAddress30/getStateRequest" message="tns:getState"/>
<output wsam:Action="http://API.Integration/DataResourceAddress30/getStateResponse" message="tns:getStateResponse"/>
</operation>
<operation name="getCountry" parameterOrder="UUID AddressID">
<input wsam:Action="http://API.Integration/DataResourceAddress30/getCountryRequest" message="tns:getCountry"/>
<output wsam:Action="http://API.Integration/DataResourceAddress30/getCountryResponse" message="tns:getCountryResponse"/>
</operation>
<operation name="setState" parameterOrder="UUID State AddressID">
<input wsam:Action="http://API.Integration/DataResourceAddress30/setStateRequest" message="tns:setState"/>
<output wsam:Action="http://API.Integration/DataResourceAddress30/setStateResponse" message="tns:setStateResponse"/>
</operation>
<operation name="setName2" parameterOrder="UUID Name AddressID">
<input wsam:Action="http://API.Integration/DataResourceAddress30/setName2Request" message="tns:setName2"/>
<output wsam:Action="http://API.Integration/DataResourceAddress30/setName2Response" message="tns:setName2Response"/>
</operation>
<operation name="setName1" parameterOrder="UUID Name AddressID">
<input wsam:Action="http://API.Integration/DataResourceAddress30/setName1Request" message="tns:setName1"/>
<output wsam:Action="http://API.Integration/DataResourceAddress30/setName1Response" message="tns:setName1Response"/>
</operation>
<operation name="setStreet" parameterOrder="UUID Street AddressID">
<input wsam:Action="http://API.Integration/DataResourceAddress30/setStreetRequest" message="tns:setStreet"/>
<output wsam:Action="http://API.Integration/DataResourceAddress30/setStreetResponse" message="tns:setStreetResponse"/>
</operation>
<operation name="setStreet2" parameterOrder="UUID Street2 AddressID">
<input wsam:Action="http://API.Integration/DataResourceAddress30/setStreet2Request" message="tns:setStreet2"/>
<output wsam:Action="http://API.Integration/DataResourceAddress30/setStreet2Response" message="tns:setStreet2Response"/>
</operation>
<operation name="setCity" parameterOrder="UUID City AddressID">
<input wsam:Action="http://API.Integration/DataResourceAddress30/setCityRequest" message="tns:setCity"/>
<output wsam:Action="http://API.Integration/DataResourceAddress30/setCityResponse" message="tns:setCityResponse"/>
</operation>
<operation name="getCity" parameterOrder="UUID AddressID">
<input wsam:Action="http://API.Integration/DataResourceAddress30/getCityRequest" message="tns:getCity"/>
<output wsam:Action="http://API.Integration/DataResourceAddress30/getCityResponse" message="tns:getCityResponse"/>
</operation>
<operation name="setCountry" parameterOrder="UUID Country AddressID">
<input wsam:Action="http://API.Integration/DataResourceAddress30/setCountryRequest" message="tns:setCountry"/>
<output wsam:Action="http://API.Integration/DataResourceAddress30/setCountryResponse" message="tns:setCountryResponse"/>
</operation>
<operation name="getName1" parameterOrder="UUID AddressID">
<input wsam:Action="http://API.Integration/DataResourceAddress30/getName1Request" message="tns:getName1"/>
<output wsam:Action="http://API.Integration/DataResourceAddress30/getName1Response" message="tns:getName1Response"/>
</operation>
<operation name="getName2" parameterOrder="UUID AddressID">
<input wsam:Action="http://API.Integration/DataResourceAddress30/getName2Request" message="tns:getName2"/>
<output wsam:Action="http://API.Integration/DataResourceAddress30/getName2Response" message="tns:getName2Response"/>
</operation>
<operation name="getStreet" parameterOrder="UUID AddressID">
<input wsam:Action="http://API.Integration/DataResourceAddress30/getStreetRequest" message="tns:getStreet"/>
<output wsam:Action="http://API.Integration/DataResourceAddress30/getStreetResponse" message="tns:getStreetResponse"/>
</operation>
<operation name="getStreet2" parameterOrder="UUID AddressID">
<input wsam:Action="http://API.Integration/DataResourceAddress30/getStreet2Request" message="tns:getStreet2"/>
<output wsam:Action="http://API.Integration/DataResourceAddress30/getStreet2Response" message="tns:getStreet2Response"/>
</operation>
<operation name="getZip" parameterOrder="UUID AddressID">
<input wsam:Action="http://API.Integration/DataResourceAddress30/getZipRequest" message="tns:getZip"/>
<output wsam:Action="http://API.Integration/DataResourceAddress30/getZipResponse" message="tns:getZipResponse"/>
</operation>
<operation name="setZip" parameterOrder="UUID Zip AddressID">
<input wsam:Action="http://API.Integration/DataResourceAddress30/setZipRequest" message="tns:setZip"/>
<output wsam:Action="http://API.Integration/DataResourceAddress30/setZipResponse" message="tns:setZipResponse"/>
</operation>
<operation name="getOffice" parameterOrder="UUID AddressID">
<input wsam:Action="http://API.Integration/DataResourceAddress30/getOfficeRequest" message="tns:getOffice"/>
<output wsam:Action="http://API.Integration/DataResourceAddress30/getOfficeResponse" message="tns:getOfficeResponse"/>
</operation>
<operation name="getAllAddresses" parameterOrder="UUID ResourceID">
<input wsam:Action="http://API.Integration/DataResourceAddress30/getAllAddressesRequest" message="tns:getAllAddresses"/>
<output wsam:Action="http://API.Integration/DataResourceAddress30/getAllAddressesResponse" message="tns:getAllAddressesResponse"/>
</operation>
<operation name="setOffice" parameterOrder="UUID ExternalID AddressID">
<input wsam:Action="http://API.Integration/DataResourceAddress30/setOfficeRequest" message="tns:setOffice"/>
<output wsam:Action="http://API.Integration/DataResourceAddress30/setOfficeResponse" message="tns:setOfficeResponse"/>
</operation>
<operation name="getAddressType" parameterOrder="UUID addressID">
<input wsam:Action="http://API.Integration/DataResourceAddress30/getAddressTypeRequest" message="tns:getAddressType"/>
<output wsam:Action="http://API.Integration/DataResourceAddress30/getAddressTypeResponse" message="tns:getAddressTypeResponse"/>
</operation>
<operation name="getAddressID" parameterOrder="UUID AddressID">
<input wsam:Action="http://API.Integration/DataResourceAddress30/getAddressIDRequest" message="tns:getAddressID"/>
<output wsam:Action="http://API.Integration/DataResourceAddress30/getAddressIDResponse" message="tns:getAddressIDResponse"/>
</operation>
<operation name="insert2" parameterOrder="UUID ResourceID AddressIN">
<input wsam:Action="http://API.Integration/DataResourceAddress30/insert2Request" message="tns:insert2"/>
<output wsam:Action="http://API.Integration/DataResourceAddress30/insert2Response" message="tns:insert2Response"/>
</operation>
<operation name="getDescription" parameterOrder="UUID AddressID">
<input wsam:Action="http://API.Integration/DataResourceAddress30/getDescriptionRequest" message="tns:getDescription"/>
<output wsam:Action="http://API.Integration/DataResourceAddress30/getDescriptionResponse" message="tns:getDescriptionResponse"/>
</operation>
<operation name="setDescription" parameterOrder="UUID Description AddressID">
<input wsam:Action="http://API.Integration/DataResourceAddress30/setDescriptionRequest" message="tns:setDescription"/>
<output wsam:Action="http://API.Integration/DataResourceAddress30/setDescriptionResponse" message="tns:setDescriptionResponse"/>
</operation>
<operation name="setAddressType" parameterOrder="UUID AddressType addressID">
<input wsam:Action="http://API.Integration/DataResourceAddress30/setAddressTypeRequest" message="tns:setAddressType"/>
<output wsam:Action="http://API.Integration/DataResourceAddress30/setAddressTypeResponse" message="tns:setAddressTypeResponse"/>
</operation>
</portType>
<binding name="DataResourceAddress30PortBinding" type="tns:DataResourceAddress30">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="update">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="insert">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="delete">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getState">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getCountry">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setState">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setName2">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setName1">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setStreet">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setStreet2">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setCity">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getCity">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setCountry">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getName1">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getName2">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getStreet">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getStreet2">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getZip">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setZip">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getOffice">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getAllAddresses">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setOffice">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getAddressType">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getAddressID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="insert2">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getDescription">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setDescription">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setAddressType">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
</binding>
<service name="DataResourceAddress30Service">
<port name="DataResourceAddress30Port" binding="tns:DataResourceAddress30PortBinding">
<soap12:address location="https://8144.plunet.com/DataResourceAddress30"/>
</port>
</service>
</definitions>