references/DataCustomFields30.xml

<!--  Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419.  -->
<!--  Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419.  -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://API.Integration/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://API.Integration/" name="DataCustomFields30Service">
<types>
<xsd:schema>
<xsd:import namespace="http://API.Integration/" schemaLocation="https://8144.plunet.com/DataCustomFields30?xsd=1"/>
</xsd:schema>
</types>
<message name="getProperty">
<part name="UUID" type="xsd:string"/>
<part name="PropertyNameEnglish" type="xsd:string"/>
<part name="PropertyUsageArea" type="xsd:int"/>
<part name="MainID" type="xsd:int"/>
</message>
<message name="getPropertyResponse">
<part name="PropertyResult" type="tns:PropertyResult"/>
</message>
<message name="setPropertyValueList">
<part name="UUID" type="xsd:string"/>
<part name="PropertyNameEnglish" type="xsd:string"/>
<part name="PropertyUsageArea" type="xsd:int"/>
<part name="PropertyValueList" type="tns:IntegerList"/>
<part name="MainID" type="xsd:int"/>
</message>
<message name="setPropertyValueListResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getPropertyValueText">
<part name="UUID" type="xsd:string"/>
<part name="PropertyNameEnglish" type="xsd:string"/>
<part name="PropertyValueID" type="xsd:int"/>
<part name="languageCode" type="xsd:string"/>
</message>
<message name="getPropertyValueTextResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="setTextmodule">
<part name="UUID" type="xsd:string"/>
<part name="TextmoduleIN" type="tns:TextmoduleIN"/>
<part name="ID" type="xsd:int"/>
<part name="languageCode" type="xsd:string"/>
</message>
<message name="setTextmoduleResponse">
<part name="TextmoduleResult" type="tns:Result"/>
</message>
<message name="getTextmodule">
<part name="UUID" type="xsd:string"/>
<part name="Flag" type="xsd:string"/>
<part name="TextModuleUsageArea" type="xsd:int"/>
<part name="ID" type="xsd:int"/>
<part name="languageCode" type="xsd:string"/>
</message>
<message name="getTextmoduleResponse">
<part name="TextmoduleResult" type="tns:TextmoduleResult"/>
</message>
<message name="setPropertyValue">
<part name="UUID" type="xsd:string"/>
<part name="PropertyNameEnglish" type="xsd:string"/>
<part name="PropertyUsageArea" type="xsd:int"/>
<part name="PropertyValueID" type="xsd:int"/>
<part name="MainID" type="xsd:int"/>
</message>
<message name="setPropertyValueResponse">
<part name="Result" type="tns:Result"/>
</message>
<portType name="DataCustomFields30">
<operation name="getProperty" parameterOrder="UUID PropertyNameEnglish PropertyUsageArea MainID">
<input wsam:Action="http://API.Integration/DataCustomFields30/getPropertyRequest" message="tns:getProperty"/>
<output wsam:Action="http://API.Integration/DataCustomFields30/getPropertyResponse" message="tns:getPropertyResponse"/>
</operation>
<operation name="setPropertyValueList" parameterOrder="UUID PropertyNameEnglish PropertyUsageArea PropertyValueList MainID">
<input wsam:Action="http://API.Integration/DataCustomFields30/setPropertyValueListRequest" message="tns:setPropertyValueList"/>
<output wsam:Action="http://API.Integration/DataCustomFields30/setPropertyValueListResponse" message="tns:setPropertyValueListResponse"/>
</operation>
<operation name="getPropertyValueText" parameterOrder="UUID PropertyNameEnglish PropertyValueID languageCode">
<input wsam:Action="http://API.Integration/DataCustomFields30/getPropertyValueTextRequest" message="tns:getPropertyValueText"/>
<output wsam:Action="http://API.Integration/DataCustomFields30/getPropertyValueTextResponse" message="tns:getPropertyValueTextResponse"/>
</operation>
<operation name="setTextmodule" parameterOrder="UUID TextmoduleIN ID languageCode">
<input wsam:Action="http://API.Integration/DataCustomFields30/setTextmoduleRequest" message="tns:setTextmodule"/>
<output wsam:Action="http://API.Integration/DataCustomFields30/setTextmoduleResponse" message="tns:setTextmoduleResponse"/>
</operation>
<operation name="getTextmodule" parameterOrder="UUID Flag TextModuleUsageArea ID languageCode">
<input wsam:Action="http://API.Integration/DataCustomFields30/getTextmoduleRequest" message="tns:getTextmodule"/>
<output wsam:Action="http://API.Integration/DataCustomFields30/getTextmoduleResponse" message="tns:getTextmoduleResponse"/>
</operation>
<operation name="setPropertyValue" parameterOrder="UUID PropertyNameEnglish PropertyUsageArea PropertyValueID MainID">
<input wsam:Action="http://API.Integration/DataCustomFields30/setPropertyValueRequest" message="tns:setPropertyValue"/>
<output wsam:Action="http://API.Integration/DataCustomFields30/setPropertyValueResponse" message="tns:setPropertyValueResponse"/>
</operation>
</portType>
<binding name="DataCustomFields30PortBinding" type="tns:DataCustomFields30">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="getProperty">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setPropertyValueList">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getPropertyValueText">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setTextmodule">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getTextmodule">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setPropertyValue">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
</binding>
<service name="DataCustomFields30Service">
<port name="DataCustomFields30Port" binding="tns:DataCustomFields30PortBinding">
<soap12:address location="https://8144.plunet.com/DataCustomFields30"/>
</port>
</service>
</definitions>