references/DataResourceContact30.xml

<!--  Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419.  -->
<!--  Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419.  -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://API.Integration/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://API.Integration/" name="DataResourceContact30Service">
<types>
<xsd:schema>
<xsd:import namespace="http://API.Integration/" schemaLocation="https://8144.plunet.com/DataResourceContact30?xsd=1"/>
</xsd:schema>
</types>
<message name="update">
<part name="UUID" type="xsd:string"/>
<part name="ResourceContactIN" type="tns:ResourceContactIN"/>
<part name="enableNullOrEmptyValues" type="xsd:boolean"/>
</message>
<message name="updateResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="insert">
<part name="UUID" type="xsd:string"/>
</message>
<message name="insertResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="PlunetApiException">
<part name="fault" element="tns:PlunetApiException"/>
</message>
<message name="getFax">
<part name="UUID" type="xsd:string"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="getFaxResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="setFax">
<part name="UUID" type="xsd:string"/>
<part name="Fax" type="xsd:string"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="setFaxResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="setFormOfAddress">
<part name="UUID" type="xsd:string"/>
<part name="FormOfAddress" type="xsd:int"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="setFormOfAddressResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="setName2">
<part name="UUID" type="xsd:string"/>
<part name="Name" type="xsd:string"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="setName2Response">
<part name="Result" type="tns:Result"/>
</message>
<message name="setName1">
<part name="UUID" type="xsd:string"/>
<part name="Name" type="xsd:string"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="setName1Response">
<part name="Result" type="tns:Result"/>
</message>
<message name="getFormOfAddress">
<part name="UUID" type="xsd:string"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="getFormOfAddressResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="setEmail">
<part name="UUID" type="xsd:string"/>
<part name="EMail" type="xsd:string"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="setEmailResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="setPhone">
<part name="UUID" type="xsd:string"/>
<part name="PhoneNumber" type="xsd:string"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="setPhoneResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getPhone">
<part name="UUID" type="xsd:string"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="getPhoneResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getEmail">
<part name="UUID" type="xsd:string"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="getEmailResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getName1">
<part name="UUID" type="xsd:string"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="getName1Response">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getName2">
<part name="UUID" type="xsd:string"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="getName2Response">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getSamlExternalId">
<part name="UUID" type="xsd:string"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="getSamlExternalIdResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="setSamlExternalId">
<part name="UUID" type="xsd:string"/>
<part name="ContactID" type="xsd:int"/>
<part name="SamlExternalID" type="xsd:string"/>
</message>
<message name="setSamlExternalIdResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="setAddressID">
<part name="UUID" type="xsd:string"/>
<part name="AddressID" type="xsd:int"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="setAddressIDResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getAddressID">
<part name="UUID" type="xsd:string"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="getAddressIDResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="getContactObject">
<part name="UUID" type="xsd:string"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="getContactObjectResponse">
<part name="ResourceContactResult" type="tns:ResourceContactResult"/>
</message>
<message name="getAllContacts">
<part name="UUID" type="xsd:string"/>
<part name="ResourceID" type="xsd:int"/>
</message>
<message name="getAllContactsResponse">
<part name="IntegerArrayResult" type="tns:IntegerArrayResult"/>
</message>
<message name="getExternalID">
<part name="UUID" type="xsd:string"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="getExternalIDResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getSkypeID">
<part name="UUID" type="xsd:string"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="getSkypeIDResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="setAcademicTitle">
<part name="UUID" type="xsd:string"/>
<part name="AcademicTitle" type="xsd:string"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="setAcademicTitleResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getAcademicTitle">
<part name="UUID" type="xsd:string"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="getAcademicTitleResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="insert2">
<part name="UUID" type="xsd:string"/>
<part name="ResourceContactIN" type="tns:ResourceContactIN"/>
</message>
<message name="insert2Response">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="setMobilePhone">
<part name="UUID" type="xsd:string"/>
<part name="PhoneNumber" type="xsd:string"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="setMobilePhoneResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="setExternalID">
<part name="UUID" type="xsd:string"/>
<part name="ExternalID" type="xsd:string"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="setExternalIDResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="setSkypeID">
<part name="UUID" type="xsd:string"/>
<part name="SkypeID" type="xsd:string"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="setSkypeIDResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getMobilePhone">
<part name="UUID" type="xsd:string"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="getMobilePhoneResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getOpening">
<part name="UUID" type="xsd:string"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="getOpeningResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="seekByExternalID">
<part name="UUID" type="xsd:string"/>
<part name="ExternalID" type="xsd:string"/>
</message>
<message name="seekByExternalIDResponse">
<part name="IntegerArrayResult" type="tns:IntegerArrayResult"/>
</message>
<message name="setOpening">
<part name="UUID" type="xsd:string"/>
<part name="Opening" type="xsd:string"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="setOpeningResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getAllContactObjects">
<part name="UUID" type="xsd:string"/>
<part name="ResourceID" type="xsd:int"/>
</message>
<message name="getAllContactObjectsResponse">
<part name="ResourceContactListResult" type="tns:ResourceContactListResult"/>
</message>
<message name="getResourceID">
<part name="UUID" type="xsd:string"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="getResourceIDResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="setStatus">
<part name="UUID" type="xsd:string"/>
<part name="Status" type="xsd:int"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="setStatusResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getStatus">
<part name="UUID" type="xsd:string"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="getStatusResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="setResourceID">
<part name="UUID" type="xsd:string"/>
<part name="ResourceID" type="xsd:int"/>
<part name="ContactID" type="xsd:int"/>
</message>
<message name="setResourceIDResponse">
<part name="Result" type="tns:Result"/>
</message>
<portType name="DataResourceContact30">
<operation name="update" parameterOrder="UUID ResourceContactIN enableNullOrEmptyValues">
<input wsam:Action="http://API.Integration/DataResourceContact30/updateRequest" message="tns:update"/>
<output wsam:Action="http://API.Integration/DataResourceContact30/updateResponse" message="tns:updateResponse"/>
</operation>
<operation name="insert">
<input wsam:Action="http://API.Integration/DataResourceContact30/insertRequest" message="tns:insert"/>
<output wsam:Action="http://API.Integration/DataResourceContact30/insertResponse" message="tns:insertResponse"/>
<fault message="tns:PlunetApiException" name="PlunetApiException" wsam:Action="http://API.Integration/DataResourceContact30/insert/Fault/PlunetApiException"/>
</operation>
<operation name="getFax" parameterOrder="UUID ContactID">
<input wsam:Action="http://API.Integration/DataResourceContact30/getFaxRequest" message="tns:getFax"/>
<output wsam:Action="http://API.Integration/DataResourceContact30/getFaxResponse" message="tns:getFaxResponse"/>
</operation>
<operation name="setFax" parameterOrder="UUID Fax ContactID">
<input wsam:Action="http://API.Integration/DataResourceContact30/setFaxRequest" message="tns:setFax"/>
<output wsam:Action="http://API.Integration/DataResourceContact30/setFaxResponse" message="tns:setFaxResponse"/>
</operation>
<operation name="setFormOfAddress" parameterOrder="UUID FormOfAddress ContactID">
<input wsam:Action="http://API.Integration/DataResourceContact30/setFormOfAddressRequest" message="tns:setFormOfAddress"/>
<output wsam:Action="http://API.Integration/DataResourceContact30/setFormOfAddressResponse" message="tns:setFormOfAddressResponse"/>
</operation>
<operation name="setName2" parameterOrder="UUID Name ContactID">
<input wsam:Action="http://API.Integration/DataResourceContact30/setName2Request" message="tns:setName2"/>
<output wsam:Action="http://API.Integration/DataResourceContact30/setName2Response" message="tns:setName2Response"/>
</operation>
<operation name="setName1" parameterOrder="UUID Name ContactID">
<input wsam:Action="http://API.Integration/DataResourceContact30/setName1Request" message="tns:setName1"/>
<output wsam:Action="http://API.Integration/DataResourceContact30/setName1Response" message="tns:setName1Response"/>
</operation>
<operation name="getFormOfAddress" parameterOrder="UUID ContactID">
<input wsam:Action="http://API.Integration/DataResourceContact30/getFormOfAddressRequest" message="tns:getFormOfAddress"/>
<output wsam:Action="http://API.Integration/DataResourceContact30/getFormOfAddressResponse" message="tns:getFormOfAddressResponse"/>
</operation>
<operation name="setEmail" parameterOrder="UUID EMail ContactID">
<input wsam:Action="http://API.Integration/DataResourceContact30/setEmailRequest" message="tns:setEmail"/>
<output wsam:Action="http://API.Integration/DataResourceContact30/setEmailResponse" message="tns:setEmailResponse"/>
</operation>
<operation name="setPhone" parameterOrder="UUID PhoneNumber ContactID">
<input wsam:Action="http://API.Integration/DataResourceContact30/setPhoneRequest" message="tns:setPhone"/>
<output wsam:Action="http://API.Integration/DataResourceContact30/setPhoneResponse" message="tns:setPhoneResponse"/>
</operation>
<operation name="getPhone" parameterOrder="UUID ContactID">
<input wsam:Action="http://API.Integration/DataResourceContact30/getPhoneRequest" message="tns:getPhone"/>
<output wsam:Action="http://API.Integration/DataResourceContact30/getPhoneResponse" message="tns:getPhoneResponse"/>
</operation>
<operation name="getEmail" parameterOrder="UUID ContactID">
<input wsam:Action="http://API.Integration/DataResourceContact30/getEmailRequest" message="tns:getEmail"/>
<output wsam:Action="http://API.Integration/DataResourceContact30/getEmailResponse" message="tns:getEmailResponse"/>
</operation>
<operation name="getName1" parameterOrder="UUID ContactID">
<input wsam:Action="http://API.Integration/DataResourceContact30/getName1Request" message="tns:getName1"/>
<output wsam:Action="http://API.Integration/DataResourceContact30/getName1Response" message="tns:getName1Response"/>
</operation>
<operation name="getName2" parameterOrder="UUID ContactID">
<input wsam:Action="http://API.Integration/DataResourceContact30/getName2Request" message="tns:getName2"/>
<output wsam:Action="http://API.Integration/DataResourceContact30/getName2Response" message="tns:getName2Response"/>
</operation>
<operation name="getSamlExternalId" parameterOrder="UUID ContactID">
<input wsam:Action="http://API.Integration/DataResourceContact30/getSamlExternalIdRequest" message="tns:getSamlExternalId"/>
<output wsam:Action="http://API.Integration/DataResourceContact30/getSamlExternalIdResponse" message="tns:getSamlExternalIdResponse"/>
</operation>
<operation name="setSamlExternalId" parameterOrder="UUID ContactID SamlExternalID">
<input wsam:Action="http://API.Integration/DataResourceContact30/setSamlExternalIdRequest" message="tns:setSamlExternalId"/>
<output wsam:Action="http://API.Integration/DataResourceContact30/setSamlExternalIdResponse" message="tns:setSamlExternalIdResponse"/>
</operation>
<operation name="setAddressID" parameterOrder="UUID AddressID ContactID">
<input wsam:Action="http://API.Integration/DataResourceContact30/setAddressIDRequest" message="tns:setAddressID"/>
<output wsam:Action="http://API.Integration/DataResourceContact30/setAddressIDResponse" message="tns:setAddressIDResponse"/>
</operation>
<operation name="getAddressID" parameterOrder="UUID ContactID">
<input wsam:Action="http://API.Integration/DataResourceContact30/getAddressIDRequest" message="tns:getAddressID"/>
<output wsam:Action="http://API.Integration/DataResourceContact30/getAddressIDResponse" message="tns:getAddressIDResponse"/>
</operation>
<operation name="getContactObject" parameterOrder="UUID ContactID">
<input wsam:Action="http://API.Integration/DataResourceContact30/getContactObjectRequest" message="tns:getContactObject"/>
<output wsam:Action="http://API.Integration/DataResourceContact30/getContactObjectResponse" message="tns:getContactObjectResponse"/>
</operation>
<operation name="getAllContacts" parameterOrder="UUID ResourceID">
<input wsam:Action="http://API.Integration/DataResourceContact30/getAllContactsRequest" message="tns:getAllContacts"/>
<output wsam:Action="http://API.Integration/DataResourceContact30/getAllContactsResponse" message="tns:getAllContactsResponse"/>
</operation>
<operation name="getExternalID" parameterOrder="UUID ContactID">
<input wsam:Action="http://API.Integration/DataResourceContact30/getExternalIDRequest" message="tns:getExternalID"/>
<output wsam:Action="http://API.Integration/DataResourceContact30/getExternalIDResponse" message="tns:getExternalIDResponse"/>
</operation>
<operation name="getSkypeID" parameterOrder="UUID ContactID">
<input wsam:Action="http://API.Integration/DataResourceContact30/getSkypeIDRequest" message="tns:getSkypeID"/>
<output wsam:Action="http://API.Integration/DataResourceContact30/getSkypeIDResponse" message="tns:getSkypeIDResponse"/>
</operation>
<operation name="setAcademicTitle" parameterOrder="UUID AcademicTitle ContactID">
<input wsam:Action="http://API.Integration/DataResourceContact30/setAcademicTitleRequest" message="tns:setAcademicTitle"/>
<output wsam:Action="http://API.Integration/DataResourceContact30/setAcademicTitleResponse" message="tns:setAcademicTitleResponse"/>
</operation>
<operation name="getAcademicTitle" parameterOrder="UUID ContactID">
<input wsam:Action="http://API.Integration/DataResourceContact30/getAcademicTitleRequest" message="tns:getAcademicTitle"/>
<output wsam:Action="http://API.Integration/DataResourceContact30/getAcademicTitleResponse" message="tns:getAcademicTitleResponse"/>
</operation>
<operation name="insert2" parameterOrder="UUID ResourceContactIN">
<input wsam:Action="http://API.Integration/DataResourceContact30/insert2Request" message="tns:insert2"/>
<output wsam:Action="http://API.Integration/DataResourceContact30/insert2Response" message="tns:insert2Response"/>
</operation>
<operation name="setMobilePhone" parameterOrder="UUID PhoneNumber ContactID">
<input wsam:Action="http://API.Integration/DataResourceContact30/setMobilePhoneRequest" message="tns:setMobilePhone"/>
<output wsam:Action="http://API.Integration/DataResourceContact30/setMobilePhoneResponse" message="tns:setMobilePhoneResponse"/>
</operation>
<operation name="setExternalID" parameterOrder="UUID ExternalID ContactID">
<input wsam:Action="http://API.Integration/DataResourceContact30/setExternalIDRequest" message="tns:setExternalID"/>
<output wsam:Action="http://API.Integration/DataResourceContact30/setExternalIDResponse" message="tns:setExternalIDResponse"/>
</operation>
<operation name="setSkypeID" parameterOrder="UUID SkypeID ContactID">
<input wsam:Action="http://API.Integration/DataResourceContact30/setSkypeIDRequest" message="tns:setSkypeID"/>
<output wsam:Action="http://API.Integration/DataResourceContact30/setSkypeIDResponse" message="tns:setSkypeIDResponse"/>
</operation>
<operation name="getMobilePhone" parameterOrder="UUID ContactID">
<input wsam:Action="http://API.Integration/DataResourceContact30/getMobilePhoneRequest" message="tns:getMobilePhone"/>
<output wsam:Action="http://API.Integration/DataResourceContact30/getMobilePhoneResponse" message="tns:getMobilePhoneResponse"/>
</operation>
<operation name="getOpening" parameterOrder="UUID ContactID">
<input wsam:Action="http://API.Integration/DataResourceContact30/getOpeningRequest" message="tns:getOpening"/>
<output wsam:Action="http://API.Integration/DataResourceContact30/getOpeningResponse" message="tns:getOpeningResponse"/>
</operation>
<operation name="seekByExternalID" parameterOrder="UUID ExternalID">
<input wsam:Action="http://API.Integration/DataResourceContact30/seekByExternalIDRequest" message="tns:seekByExternalID"/>
<output wsam:Action="http://API.Integration/DataResourceContact30/seekByExternalIDResponse" message="tns:seekByExternalIDResponse"/>
</operation>
<operation name="setOpening" parameterOrder="UUID Opening ContactID">
<input wsam:Action="http://API.Integration/DataResourceContact30/setOpeningRequest" message="tns:setOpening"/>
<output wsam:Action="http://API.Integration/DataResourceContact30/setOpeningResponse" message="tns:setOpeningResponse"/>
</operation>
<operation name="getAllContactObjects" parameterOrder="UUID ResourceID">
<input wsam:Action="http://API.Integration/DataResourceContact30/getAllContactObjectsRequest" message="tns:getAllContactObjects"/>
<output wsam:Action="http://API.Integration/DataResourceContact30/getAllContactObjectsResponse" message="tns:getAllContactObjectsResponse"/>
</operation>
<operation name="getResourceID" parameterOrder="UUID ContactID">
<input wsam:Action="http://API.Integration/DataResourceContact30/getResourceIDRequest" message="tns:getResourceID"/>
<output wsam:Action="http://API.Integration/DataResourceContact30/getResourceIDResponse" message="tns:getResourceIDResponse"/>
</operation>
<operation name="setStatus" parameterOrder="UUID Status ContactID">
<input wsam:Action="http://API.Integration/DataResourceContact30/setStatusRequest" message="tns:setStatus"/>
<output wsam:Action="http://API.Integration/DataResourceContact30/setStatusResponse" message="tns:setStatusResponse"/>
</operation>
<operation name="getStatus" parameterOrder="UUID ContactID">
<input wsam:Action="http://API.Integration/DataResourceContact30/getStatusRequest" message="tns:getStatus"/>
<output wsam:Action="http://API.Integration/DataResourceContact30/getStatusResponse" message="tns:getStatusResponse"/>
</operation>
<operation name="setResourceID" parameterOrder="UUID ResourceID ContactID">
<input wsam:Action="http://API.Integration/DataResourceContact30/setResourceIDRequest" message="tns:setResourceID"/>
<output wsam:Action="http://API.Integration/DataResourceContact30/setResourceIDResponse" message="tns:setResourceIDResponse"/>
</operation>
</portType>
<binding name="DataResourceContact30PortBinding" type="tns:DataResourceContact30">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="update">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="insert">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
<fault name="PlunetApiException">
<soap12:fault name="PlunetApiException" use="literal"/>
</fault>
</operation>
<operation name="getFax">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setFax">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setFormOfAddress">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setName2">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setName1">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getFormOfAddress">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setEmail">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setPhone">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getPhone">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getEmail">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getName1">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getName2">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getSamlExternalId">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setSamlExternalId">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setAddressID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getAddressID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getContactObject">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getAllContacts">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getExternalID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getSkypeID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setAcademicTitle">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getAcademicTitle">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="insert2">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setMobilePhone">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setExternalID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setSkypeID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getMobilePhone">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getOpening">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="seekByExternalID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setOpening">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getAllContactObjects">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getResourceID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setStatus">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getStatus">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setResourceID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
</binding>
<service name="DataResourceContact30Service">
<port name="DataResourceContact30Port" binding="tns:DataResourceContact30PortBinding">
<soap12:address location="https://8144.plunet.com/DataResourceContact30"/>
</port>
</service>
</definitions>