references/DataDocument30.xml

<!--  Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419.  -->
<!--  Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419.  -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://API.Integration/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://API.Integration/" name="DataDocument30Service">
<types>
<xsd:schema>
<xsd:import namespace="http://API.Integration/" schemaLocation="https://8144.plunet.com/DataDocument30?xsd=1"/>
</xsd:schema>
</types>
<message name="getFileList">
<part name="UUID" type="xsd:string"/>
<part name="MainID" type="xsd:int"/>
<part name="FolderType" type="xsd:int"/>
</message>
<message name="getFileListResponse">
<part name="StringArrayResult" type="tns:StringArrayResult"/>
</message>
<message name="download_Document">
<part name="UUID" type="xsd:string"/>
<part name="MainID" type="xsd:int"/>
<part name="FolderType" type="xsd:int"/>
<part name="FilePathName" type="xsd:string"/>
</message>
<message name="download_DocumentResponse">
<part name="FileResult" type="tns:FileResult"/>
</message>
<message name="upload_Document">
<part name="UUID" type="xsd:string"/>
<part name="MainID" type="xsd:int"/>
<part name="FolderType" type="xsd:int"/>
<part name="FileByteStream" type="xsd:base64Binary"/>
<part name="FilePathName" type="xsd:string"/>
<part name="FileSize" type="xsd:long"/>
</message>
<message name="upload_DocumentResponse">
<part name="Result" type="tns:Result"/>
</message>
<portType name="DataDocument30">
<operation name="getFileList" parameterOrder="UUID MainID FolderType">
<input wsam:Action="http://API.Integration/DataDocument30/getFileListRequest" message="tns:getFileList"/>
<output wsam:Action="http://API.Integration/DataDocument30/getFileListResponse" message="tns:getFileListResponse"/>
</operation>
<operation name="download_Document" parameterOrder="UUID MainID FolderType FilePathName">
<input wsam:Action="http://API.Integration/DataDocument30/download_DocumentRequest" message="tns:download_Document"/>
<output wsam:Action="http://API.Integration/DataDocument30/download_DocumentResponse" message="tns:download_DocumentResponse"/>
</operation>
<operation name="upload_Document" parameterOrder="UUID MainID FolderType FileByteStream FilePathName FileSize">
<input wsam:Action="http://API.Integration/DataDocument30/upload_DocumentRequest" message="tns:upload_Document"/>
<output wsam:Action="http://API.Integration/DataDocument30/upload_DocumentResponse" message="tns:upload_DocumentResponse"/>
</operation>
</portType>
<binding name="DataDocument30PortBinding" type="tns:DataDocument30">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="getFileList">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="download_Document">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="upload_Document">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
</binding>
<service name="DataDocument30Service">
<port name="DataDocument30Port" binding="tns:DataDocument30PortBinding">
<soap12:address location="https://8144.plunet.com/DataDocument30"/>
</port>
</service>
</definitions>