references/DataQuote30.xml

<!--  Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419.  -->
<!--  Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419.  -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://API.Integration/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://API.Integration/" name="DataQuote30Service">
<types>
<xsd:schema>
<xsd:import namespace="http://API.Integration/" schemaLocation="https://8144.plunet.com/DataQuote30?xsd=1"/>
</xsd:schema>
</types>
<message name="update">
<part name="UUID" type="xsd:string"/>
<part name="QuoteIN" type="tns:QuoteIN"/>
<part name="enableNullOrEmptyValues" type="xsd:boolean"/>
</message>
<message name="updateResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="insert">
<part name="UUID" type="xsd:string"/>
</message>
<message name="insertResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="delete">
<part name="UUID" type="xsd:string"/>
<part name="quoteID" type="xsd:int"/>
</message>
<message name="deleteResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="search">
<part name="UUID" type="xsd:string"/>
<part name="SearchFilter" type="tns:SearchFilter_Quote"/>
</message>
<message name="searchResponse">
<part name="IntegerArrayResult" type="tns:IntegerArrayResult"/>
</message>
<message name="getCurrency">
<part name="UUID" type="xsd:string"/>
<part name="quoteID" type="xsd:int"/>
</message>
<message name="getCurrencyResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="setProjectName">
<part name="UUID" type="xsd:string"/>
<part name="ProjectName" type="xsd:string"/>
<part name="quoteID" type="xsd:int"/>
</message>
<message name="setProjectNameResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getProjectName">
<part name="UUID" type="xsd:string"/>
<part name="quoteID" type="xsd:int"/>
</message>
<message name="getProjectNameResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getProjectStatus">
<part name="UUID" type="xsd:string"/>
<part name="quoteID" type="xsd:int"/>
</message>
<message name="getProjectStatusResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="setProjectStatus">
<part name="UUID" type="xsd:string"/>
<part name="quoteID" type="xsd:int"/>
<part name="projectStatus" type="xsd:int"/>
</message>
<message name="setProjectStatusResponse">
<part name="IntegerResult" type="tns:Result"/>
</message>
<message name="setCreationDate">
<part name="UUID" type="xsd:string"/>
<part name="date" type="xsd:dateTime"/>
<part name="quoteID" type="xsd:int"/>
</message>
<message name="setCreationDateResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getCreationDate">
<part name="UUID" type="xsd:string"/>
<part name="quoteID" type="xsd:int"/>
</message>
<message name="getCreationDateResponse">
<part name="DateResult" type="tns:DateResult"/>
</message>
<message name="setSubject">
<part name="UUID" type="xsd:string"/>
<part name="subject" type="xsd:string"/>
<part name="quoteID" type="xsd:int"/>
</message>
<message name="setSubjectResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="setCustomerID">
<part name="UUID" type="xsd:string"/>
<part name="customerID" type="xsd:int"/>
<part name="quoteID" type="xsd:int"/>
</message>
<message name="setCustomerIDResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getExternalID">
<part name="UUID" type="xsd:string"/>
<part name="quoteID" type="xsd:int"/>
</message>
<message name="getExternalIDResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="insert2">
<part name="UUID" type="xsd:string"/>
<part name="QuoteIN" type="tns:QuoteIN"/>
</message>
<message name="insert2Response">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="setExternalID">
<part name="UUID" type="xsd:string"/>
<part name="quoteID" type="xsd:int"/>
<part name="externalID" type="xsd:string"/>
</message>
<message name="setExternalIDResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getCustomerContactID">
<part name="UUID" type="xsd:string"/>
<part name="quoteID" type="xsd:int"/>
</message>
<message name="getCustomerContactIDResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="getReferenceNumber">
<part name="UUID" type="xsd:string"/>
<part name="quoteID" type="xsd:int"/>
</message>
<message name="getReferenceNumberResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="setExpiryDate">
<part name="UUID" type="xsd:string"/>
<part name="expiryDate" type="xsd:dateTime"/>
<part name="quoteID" type="xsd:int"/>
</message>
<message name="setExpiryDateResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="requestOrder">
<part name="UUID" type="xsd:string"/>
<part name="quoteID" type="xsd:int"/>
</message>
<message name="requestOrderResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="requestQuote">
<part name="UUID" type="xsd:string"/>
<part name="projectClassType" type="xsd:int"/>
</message>
<message name="requestQuoteResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getExpiryDate">
<part name="UUID" type="xsd:string"/>
<part name="quoteId" type="xsd:int"/>
</message>
<message name="getExpiryDateResponse">
<part name="DateResult" type="tns:DateResult"/>
</message>
<message name="insert_byTemplate">
<part name="UUID" type="xsd:string"/>
<part name="QuoteIN" type="tns:QuoteIN"/>
<part name="TemplateID" type="xsd:int"/>
</message>
<message name="insert_byTemplateResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="getProjectManagerMemo">
<part name="UUID" type="xsd:string"/>
<part name="quoteID" type="xsd:int"/>
</message>
<message name="getProjectManagerMemoResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="setProjectManagerMemo">
<part name="UUID" type="xsd:string"/>
<part name="quoteID" type="xsd:int"/>
<part name="memo" type="xsd:string"/>
</message>
<message name="setProjectManagerMemoResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="setCustomerContactID">
<part name="UUID" type="xsd:string"/>
<part name="customerContactID" type="xsd:int"/>
<part name="quoteID" type="xsd:int"/>
</message>
<message name="setCustomerContactIDResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="deregisterCallback_Observer">
<part name="UUID" type="xsd:string"/>
<part name="QuoteID" type="xsd:int"/>
</message>
<message name="deregisterCallback_ObserverResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="deregisterCallback_Notify">
<part name="UUID" type="xsd:string"/>
<part name="EventType" type="xsd:int"/>
</message>
<message name="deregisterCallback_NotifyResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="registerCallback_Observer">
<part name="UUID" type="xsd:string"/>
<part name="ServerAuthenticationString" type="xsd:string"/>
<part name="ServerAddress" type="xsd:string"/>
<part name="QuoteID" type="xsd:int"/>
</message>
<message name="registerCallback_ObserverResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="registerCallback_Notify">
<part name="UUID" type="xsd:string"/>
<part name="ServerAuthenticationString" type="xsd:string"/>
<part name="ServerAddress" type="xsd:string"/>
<part name="EventType" type="xsd:int"/>
</message>
<message name="registerCallback_NotifyResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="addLanguageCombination">
<part name="UUID" type="xsd:string"/>
<part name="sourceLanguage" type="xsd:string"/>
<part name="targetLanguage" type="xsd:string"/>
<part name="quoteID" type="xsd:int"/>
</message>
<message name="addLanguageCombinationResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="getProjectmanagerID">
<part name="UUID" type="xsd:string"/>
<part name="quoteID" type="xsd:int"/>
</message>
<message name="getProjectmanagerIDResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="setProjectmanagerID">
<part name="UUID" type="xsd:string"/>
<part name="resourceID" type="xsd:int"/>
<part name="quoteID" type="xsd:int"/>
</message>
<message name="setProjectmanagerIDResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getOrderIDFirstItem">
<part name="UUID" type="xsd:string"/>
<part name="quoteID" type="xsd:int"/>
</message>
<message name="getOrderIDFirstItemResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="getQuoteNo_for_View">
<part name="UUID" type="xsd:string"/>
<part name="quoteID" type="xsd:int"/>
</message>
<message name="getQuoteNo_for_ViewResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="createQuoteDocument">
<part name="UUID" type="xsd:string"/>
<part name="template" type="xsd:string"/>
<part name="formatId" type="xsd:int"/>
<part name="quoteID" type="xsd:int"/>
</message>
<message name="createQuoteDocumentResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getCustomerID">
<part name="UUID" type="xsd:string"/>
<part name="quoteID" type="xsd:int"/>
</message>
<message name="getCustomerIDResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="getQuoteID">
<part name="UUID" type="xsd:string"/>
<part name="displayNo" type="xsd:string"/>
</message>
<message name="getQuoteIDResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="setStatus">
<part name="UUID" type="xsd:string"/>
<part name="Status" type="xsd:int"/>
<part name="quoteID" type="xsd:int"/>
</message>
<message name="setStatusResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getRequestId">
<part name="UUID" type="xsd:string"/>
<part name="quoteID" type="xsd:int"/>
</message>
<message name="getRequestIdResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="getStatus">
<part name="UUID" type="xsd:string"/>
<part name="quoteID" type="xsd:int"/>
</message>
<message name="getStatusResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="getSubject">
<part name="UUID" type="xsd:string"/>
<part name="quoteID" type="xsd:int"/>
</message>
<message name="getSubjectResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="setReferenceNumber">
<part name="UUID" type="xsd:string"/>
<part name="quoteID" type="xsd:int"/>
<part name="reference" type="xsd:string"/>
</message>
<message name="setReferenceNumberResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getProjectCategory">
<part name="UUID" type="xsd:string"/>
<part name="systemLanguageCode" type="xsd:string"/>
<part name="quoteID" type="xsd:int"/>
</message>
<message name="getProjectCategoryResponse">
<part name="Result" type="tns:StringResult"/>
</message>
<message name="getTemplateList">
<part name="UUID" type="xsd:string"/>
</message>
<message name="getTemplateListResponse">
<part name="TemplateListResult" type="tns:TemplateListResult"/>
</message>
<message name="setProjectCategory">
<part name="UUID" type="xsd:string"/>
<part name="projectCategory" type="xsd:string"/>
<part name="systemLanguageCode" type="xsd:string"/>
<part name="quoteID" type="xsd:int"/>
</message>
<message name="setProjectCategoryResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getQuoteDocument">
<part name="UUID" type="xsd:string"/>
<part name="quoteID" type="xsd:int"/>
</message>
<message name="getQuoteDocumentResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getQuoteObject2">
<part name="UUID" type="xsd:string"/>
<part name="quoteNumber" type="xsd:string"/>
</message>
<message name="getQuoteObject2Response">
<part name="QuoteResult" type="tns:QuoteResult"/>
</message>
<message name="getQuoteObject">
<part name="UUID" type="xsd:string"/>
<part name="quoteID" type="xsd:int"/>
</message>
<message name="getQuoteObjectResponse">
<part name="QuoteResult" type="tns:QuoteResult"/>
</message>
<message name="getQuoteObjectList">
<part name="UUID" type="xsd:string"/>
<part name="quoteIDList" type="tns:IntegerList"/>
</message>
<message name="getQuoteObjectListResponse">
<part name="QuoteListResult" type="tns:QuoteListResult"/>
</message>
<message name="setRequestID">
<part name="UUID" type="xsd:string"/>
<part name="quoteID" type="xsd:int"/>
<part name="requestID" type="xsd:int"/>
</message>
<message name="setRequestIDResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getRate">
<part name="UUID" type="xsd:string"/>
<part name="quoteID" type="xsd:int"/>
</message>
<message name="getRateResponse">
<part name="DoubleResult" type="tns:DoubleResult"/>
</message>
<portType name="DataQuote30">
<operation name="update" parameterOrder="UUID QuoteIN enableNullOrEmptyValues">
<input wsam:Action="http://API.Integration/DataQuote30/updateRequest" message="tns:update"/>
<output wsam:Action="http://API.Integration/DataQuote30/updateResponse" message="tns:updateResponse"/>
</operation>
<operation name="insert">
<input wsam:Action="http://API.Integration/DataQuote30/insertRequest" message="tns:insert"/>
<output wsam:Action="http://API.Integration/DataQuote30/insertResponse" message="tns:insertResponse"/>
</operation>
<operation name="delete" parameterOrder="UUID quoteID">
<input wsam:Action="http://API.Integration/DataQuote30/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://API.Integration/DataQuote30/deleteResponse" message="tns:deleteResponse"/>
</operation>
<operation name="search" parameterOrder="UUID SearchFilter">
<input wsam:Action="http://API.Integration/DataQuote30/searchRequest" message="tns:search"/>
<output wsam:Action="http://API.Integration/DataQuote30/searchResponse" message="tns:searchResponse"/>
</operation>
<operation name="getCurrency" parameterOrder="UUID quoteID">
<input wsam:Action="http://API.Integration/DataQuote30/getCurrencyRequest" message="tns:getCurrency"/>
<output wsam:Action="http://API.Integration/DataQuote30/getCurrencyResponse" message="tns:getCurrencyResponse"/>
</operation>
<operation name="setProjectName" parameterOrder="UUID ProjectName quoteID">
<input wsam:Action="http://API.Integration/DataQuote30/setProjectNameRequest" message="tns:setProjectName"/>
<output wsam:Action="http://API.Integration/DataQuote30/setProjectNameResponse" message="tns:setProjectNameResponse"/>
</operation>
<operation name="getProjectName" parameterOrder="UUID quoteID">
<input wsam:Action="http://API.Integration/DataQuote30/getProjectNameRequest" message="tns:getProjectName"/>
<output wsam:Action="http://API.Integration/DataQuote30/getProjectNameResponse" message="tns:getProjectNameResponse"/>
</operation>
<operation name="getProjectStatus" parameterOrder="UUID quoteID">
<input wsam:Action="http://API.Integration/DataQuote30/getProjectStatusRequest" message="tns:getProjectStatus"/>
<output wsam:Action="http://API.Integration/DataQuote30/getProjectStatusResponse" message="tns:getProjectStatusResponse"/>
</operation>
<operation name="setProjectStatus" parameterOrder="UUID quoteID projectStatus">
<input wsam:Action="http://API.Integration/DataQuote30/setProjectStatusRequest" message="tns:setProjectStatus"/>
<output wsam:Action="http://API.Integration/DataQuote30/setProjectStatusResponse" message="tns:setProjectStatusResponse"/>
</operation>
<operation name="setCreationDate" parameterOrder="UUID date quoteID">
<input wsam:Action="http://API.Integration/DataQuote30/setCreationDateRequest" message="tns:setCreationDate"/>
<output wsam:Action="http://API.Integration/DataQuote30/setCreationDateResponse" message="tns:setCreationDateResponse"/>
</operation>
<operation name="getCreationDate" parameterOrder="UUID quoteID">
<input wsam:Action="http://API.Integration/DataQuote30/getCreationDateRequest" message="tns:getCreationDate"/>
<output wsam:Action="http://API.Integration/DataQuote30/getCreationDateResponse" message="tns:getCreationDateResponse"/>
</operation>
<operation name="setSubject" parameterOrder="UUID subject quoteID">
<input wsam:Action="http://API.Integration/DataQuote30/setSubjectRequest" message="tns:setSubject"/>
<output wsam:Action="http://API.Integration/DataQuote30/setSubjectResponse" message="tns:setSubjectResponse"/>
</operation>
<operation name="setCustomerID" parameterOrder="UUID customerID quoteID">
<input wsam:Action="http://API.Integration/DataQuote30/setCustomerIDRequest" message="tns:setCustomerID"/>
<output wsam:Action="http://API.Integration/DataQuote30/setCustomerIDResponse" message="tns:setCustomerIDResponse"/>
</operation>
<operation name="getExternalID" parameterOrder="UUID quoteID">
<input wsam:Action="http://API.Integration/DataQuote30/getExternalIDRequest" message="tns:getExternalID"/>
<output wsam:Action="http://API.Integration/DataQuote30/getExternalIDResponse" message="tns:getExternalIDResponse"/>
</operation>
<operation name="insert2" parameterOrder="UUID QuoteIN">
<input wsam:Action="http://API.Integration/DataQuote30/insert2Request" message="tns:insert2"/>
<output wsam:Action="http://API.Integration/DataQuote30/insert2Response" message="tns:insert2Response"/>
</operation>
<operation name="setExternalID" parameterOrder="UUID quoteID externalID">
<input wsam:Action="http://API.Integration/DataQuote30/setExternalIDRequest" message="tns:setExternalID"/>
<output wsam:Action="http://API.Integration/DataQuote30/setExternalIDResponse" message="tns:setExternalIDResponse"/>
</operation>
<operation name="getCustomerContactID" parameterOrder="UUID quoteID">
<input wsam:Action="http://API.Integration/DataQuote30/getCustomerContactIDRequest" message="tns:getCustomerContactID"/>
<output wsam:Action="http://API.Integration/DataQuote30/getCustomerContactIDResponse" message="tns:getCustomerContactIDResponse"/>
</operation>
<operation name="getReferenceNumber" parameterOrder="UUID quoteID">
<input wsam:Action="http://API.Integration/DataQuote30/getReferenceNumberRequest" message="tns:getReferenceNumber"/>
<output wsam:Action="http://API.Integration/DataQuote30/getReferenceNumberResponse" message="tns:getReferenceNumberResponse"/>
</operation>
<operation name="setExpiryDate" parameterOrder="UUID expiryDate quoteID">
<input wsam:Action="http://API.Integration/DataQuote30/setExpiryDateRequest" message="tns:setExpiryDate"/>
<output wsam:Action="http://API.Integration/DataQuote30/setExpiryDateResponse" message="tns:setExpiryDateResponse"/>
</operation>
<operation name="requestOrder" parameterOrder="UUID quoteID">
<input wsam:Action="http://API.Integration/DataQuote30/requestOrderRequest" message="tns:requestOrder"/>
<output wsam:Action="http://API.Integration/DataQuote30/requestOrderResponse" message="tns:requestOrderResponse"/>
</operation>
<operation name="requestQuote" parameterOrder="UUID projectClassType">
<input wsam:Action="http://API.Integration/DataQuote30/requestQuoteRequest" message="tns:requestQuote"/>
<output wsam:Action="http://API.Integration/DataQuote30/requestQuoteResponse" message="tns:requestQuoteResponse"/>
</operation>
<operation name="getExpiryDate" parameterOrder="UUID quoteId">
<input wsam:Action="http://API.Integration/DataQuote30/getExpiryDateRequest" message="tns:getExpiryDate"/>
<output wsam:Action="http://API.Integration/DataQuote30/getExpiryDateResponse" message="tns:getExpiryDateResponse"/>
</operation>
<operation name="insert_byTemplate" parameterOrder="UUID QuoteIN TemplateID">
<input wsam:Action="http://API.Integration/DataQuote30/insert_byTemplateRequest" message="tns:insert_byTemplate"/>
<output wsam:Action="http://API.Integration/DataQuote30/insert_byTemplateResponse" message="tns:insert_byTemplateResponse"/>
</operation>
<operation name="getProjectManagerMemo" parameterOrder="UUID quoteID">
<input wsam:Action="http://API.Integration/DataQuote30/getProjectManagerMemoRequest" message="tns:getProjectManagerMemo"/>
<output wsam:Action="http://API.Integration/DataQuote30/getProjectManagerMemoResponse" message="tns:getProjectManagerMemoResponse"/>
</operation>
<operation name="setProjectManagerMemo" parameterOrder="UUID quoteID memo">
<input wsam:Action="http://API.Integration/DataQuote30/setProjectManagerMemoRequest" message="tns:setProjectManagerMemo"/>
<output wsam:Action="http://API.Integration/DataQuote30/setProjectManagerMemoResponse" message="tns:setProjectManagerMemoResponse"/>
</operation>
<operation name="setCustomerContactID" parameterOrder="UUID customerContactID quoteID">
<input wsam:Action="http://API.Integration/DataQuote30/setCustomerContactIDRequest" message="tns:setCustomerContactID"/>
<output wsam:Action="http://API.Integration/DataQuote30/setCustomerContactIDResponse" message="tns:setCustomerContactIDResponse"/>
</operation>
<operation name="deregisterCallback_Observer" parameterOrder="UUID QuoteID">
<input wsam:Action="http://API.Integration/DataQuote30/deregisterCallback_ObserverRequest" message="tns:deregisterCallback_Observer"/>
<output wsam:Action="http://API.Integration/DataQuote30/deregisterCallback_ObserverResponse" message="tns:deregisterCallback_ObserverResponse"/>
</operation>
<operation name="deregisterCallback_Notify" parameterOrder="UUID EventType">
<input wsam:Action="http://API.Integration/DataQuote30/deregisterCallback_NotifyRequest" message="tns:deregisterCallback_Notify"/>
<output wsam:Action="http://API.Integration/DataQuote30/deregisterCallback_NotifyResponse" message="tns:deregisterCallback_NotifyResponse"/>
</operation>
<operation name="registerCallback_Observer" parameterOrder="UUID ServerAuthenticationString ServerAddress QuoteID">
<input wsam:Action="http://API.Integration/DataQuote30/registerCallback_ObserverRequest" message="tns:registerCallback_Observer"/>
<output wsam:Action="http://API.Integration/DataQuote30/registerCallback_ObserverResponse" message="tns:registerCallback_ObserverResponse"/>
</operation>
<operation name="registerCallback_Notify" parameterOrder="UUID ServerAuthenticationString ServerAddress EventType">
<input wsam:Action="http://API.Integration/DataQuote30/registerCallback_NotifyRequest" message="tns:registerCallback_Notify"/>
<output wsam:Action="http://API.Integration/DataQuote30/registerCallback_NotifyResponse" message="tns:registerCallback_NotifyResponse"/>
</operation>
<operation name="addLanguageCombination" parameterOrder="UUID sourceLanguage targetLanguage quoteID">
<input wsam:Action="http://API.Integration/DataQuote30/addLanguageCombinationRequest" message="tns:addLanguageCombination"/>
<output wsam:Action="http://API.Integration/DataQuote30/addLanguageCombinationResponse" message="tns:addLanguageCombinationResponse"/>
</operation>
<operation name="getProjectmanagerID" parameterOrder="UUID quoteID">
<input wsam:Action="http://API.Integration/DataQuote30/getProjectmanagerIDRequest" message="tns:getProjectmanagerID"/>
<output wsam:Action="http://API.Integration/DataQuote30/getProjectmanagerIDResponse" message="tns:getProjectmanagerIDResponse"/>
</operation>
<operation name="setProjectmanagerID" parameterOrder="UUID resourceID quoteID">
<input wsam:Action="http://API.Integration/DataQuote30/setProjectmanagerIDRequest" message="tns:setProjectmanagerID"/>
<output wsam:Action="http://API.Integration/DataQuote30/setProjectmanagerIDResponse" message="tns:setProjectmanagerIDResponse"/>
</operation>
<operation name="getOrderIDFirstItem" parameterOrder="UUID quoteID">
<input wsam:Action="http://API.Integration/DataQuote30/getOrderIDFirstItemRequest" message="tns:getOrderIDFirstItem"/>
<output wsam:Action="http://API.Integration/DataQuote30/getOrderIDFirstItemResponse" message="tns:getOrderIDFirstItemResponse"/>
</operation>
<operation name="getQuoteNo_for_View" parameterOrder="UUID quoteID">
<input wsam:Action="http://API.Integration/DataQuote30/getQuoteNo_for_ViewRequest" message="tns:getQuoteNo_for_View"/>
<output wsam:Action="http://API.Integration/DataQuote30/getQuoteNo_for_ViewResponse" message="tns:getQuoteNo_for_ViewResponse"/>
</operation>
<operation name="createQuoteDocument" parameterOrder="UUID template formatId quoteID">
<input wsam:Action="http://API.Integration/DataQuote30/createQuoteDocumentRequest" message="tns:createQuoteDocument"/>
<output wsam:Action="http://API.Integration/DataQuote30/createQuoteDocumentResponse" message="tns:createQuoteDocumentResponse"/>
</operation>
<operation name="getCustomerID" parameterOrder="UUID quoteID">
<input wsam:Action="http://API.Integration/DataQuote30/getCustomerIDRequest" message="tns:getCustomerID"/>
<output wsam:Action="http://API.Integration/DataQuote30/getCustomerIDResponse" message="tns:getCustomerIDResponse"/>
</operation>
<operation name="getQuoteID" parameterOrder="UUID displayNo">
<input wsam:Action="http://API.Integration/DataQuote30/getQuoteIDRequest" message="tns:getQuoteID"/>
<output wsam:Action="http://API.Integration/DataQuote30/getQuoteIDResponse" message="tns:getQuoteIDResponse"/>
</operation>
<operation name="setStatus" parameterOrder="UUID Status quoteID">
<input wsam:Action="http://API.Integration/DataQuote30/setStatusRequest" message="tns:setStatus"/>
<output wsam:Action="http://API.Integration/DataQuote30/setStatusResponse" message="tns:setStatusResponse"/>
</operation>
<operation name="getRequestId" parameterOrder="UUID quoteID">
<input wsam:Action="http://API.Integration/DataQuote30/getRequestIdRequest" message="tns:getRequestId"/>
<output wsam:Action="http://API.Integration/DataQuote30/getRequestIdResponse" message="tns:getRequestIdResponse"/>
</operation>
<operation name="getStatus" parameterOrder="UUID quoteID">
<input wsam:Action="http://API.Integration/DataQuote30/getStatusRequest" message="tns:getStatus"/>
<output wsam:Action="http://API.Integration/DataQuote30/getStatusResponse" message="tns:getStatusResponse"/>
</operation>
<operation name="getSubject" parameterOrder="UUID quoteID">
<input wsam:Action="http://API.Integration/DataQuote30/getSubjectRequest" message="tns:getSubject"/>
<output wsam:Action="http://API.Integration/DataQuote30/getSubjectResponse" message="tns:getSubjectResponse"/>
</operation>
<operation name="setReferenceNumber" parameterOrder="UUID quoteID reference">
<input wsam:Action="http://API.Integration/DataQuote30/setReferenceNumberRequest" message="tns:setReferenceNumber"/>
<output wsam:Action="http://API.Integration/DataQuote30/setReferenceNumberResponse" message="tns:setReferenceNumberResponse"/>
</operation>
<operation name="getProjectCategory" parameterOrder="UUID systemLanguageCode quoteID">
<input wsam:Action="http://API.Integration/DataQuote30/getProjectCategoryRequest" message="tns:getProjectCategory"/>
<output wsam:Action="http://API.Integration/DataQuote30/getProjectCategoryResponse" message="tns:getProjectCategoryResponse"/>
</operation>
<operation name="getTemplateList">
<input wsam:Action="http://API.Integration/DataQuote30/getTemplateListRequest" message="tns:getTemplateList"/>
<output wsam:Action="http://API.Integration/DataQuote30/getTemplateListResponse" message="tns:getTemplateListResponse"/>
</operation>
<operation name="setProjectCategory" parameterOrder="UUID projectCategory systemLanguageCode quoteID">
<input wsam:Action="http://API.Integration/DataQuote30/setProjectCategoryRequest" message="tns:setProjectCategory"/>
<output wsam:Action="http://API.Integration/DataQuote30/setProjectCategoryResponse" message="tns:setProjectCategoryResponse"/>
</operation>
<operation name="getQuoteDocument" parameterOrder="UUID quoteID">
<input wsam:Action="http://API.Integration/DataQuote30/getQuoteDocumentRequest" message="tns:getQuoteDocument"/>
<output wsam:Action="http://API.Integration/DataQuote30/getQuoteDocumentResponse" message="tns:getQuoteDocumentResponse"/>
</operation>
<operation name="getQuoteObject2" parameterOrder="UUID quoteNumber">
<input wsam:Action="http://API.Integration/DataQuote30/getQuoteObject2Request" message="tns:getQuoteObject2"/>
<output wsam:Action="http://API.Integration/DataQuote30/getQuoteObject2Response" message="tns:getQuoteObject2Response"/>
</operation>
<operation name="getQuoteObject" parameterOrder="UUID quoteID">
<input wsam:Action="http://API.Integration/DataQuote30/getQuoteObjectRequest" message="tns:getQuoteObject"/>
<output wsam:Action="http://API.Integration/DataQuote30/getQuoteObjectResponse" message="tns:getQuoteObjectResponse"/>
</operation>
<operation name="getQuoteObjectList" parameterOrder="UUID quoteIDList">
<input wsam:Action="http://API.Integration/DataQuote30/getQuoteObjectListRequest" message="tns:getQuoteObjectList"/>
<output wsam:Action="http://API.Integration/DataQuote30/getQuoteObjectListResponse" message="tns:getQuoteObjectListResponse"/>
</operation>
<operation name="setRequestID" parameterOrder="UUID quoteID requestID">
<input wsam:Action="http://API.Integration/DataQuote30/setRequestIDRequest" message="tns:setRequestID"/>
<output wsam:Action="http://API.Integration/DataQuote30/setRequestIDResponse" message="tns:setRequestIDResponse"/>
</operation>
<operation name="getRate" parameterOrder="UUID quoteID">
<input wsam:Action="http://API.Integration/DataQuote30/getRateRequest" message="tns:getRate"/>
<output wsam:Action="http://API.Integration/DataQuote30/getRateResponse" message="tns:getRateResponse"/>
</operation>
</portType>
<binding name="DataQuote30PortBinding" type="tns:DataQuote30">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="update">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="insert">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="delete">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="search">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getCurrency">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setProjectName">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getProjectName">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getProjectStatus">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setProjectStatus">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setCreationDate">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getCreationDate">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setSubject">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setCustomerID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getExternalID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="insert2">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setExternalID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getCustomerContactID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getReferenceNumber">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setExpiryDate">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="requestOrder">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="requestQuote">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getExpiryDate">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="insert_byTemplate">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getProjectManagerMemo">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setProjectManagerMemo">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setCustomerContactID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="deregisterCallback_Observer">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="deregisterCallback_Notify">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="registerCallback_Observer">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="registerCallback_Notify">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="addLanguageCombination">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getProjectmanagerID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setProjectmanagerID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getOrderIDFirstItem">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getQuoteNo_for_View">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="createQuoteDocument">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getCustomerID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getQuoteID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setStatus">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getRequestId">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getStatus">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getSubject">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setReferenceNumber">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getProjectCategory">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getTemplateList">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setProjectCategory">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getQuoteDocument">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getQuoteObject2">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getQuoteObject">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getQuoteObjectList">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setRequestID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getRate">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
</binding>
<service name="DataQuote30Service">
<port name="DataQuote30Port" binding="tns:DataQuote30PortBinding">
<soap12:address location="https://8144.plunet.com/DataQuote30"/>
</port>
</service>
</definitions>